/* screen - basiccomponentplugininformation */

.basiccomponentplugininformation {
  background-color: var(--white);
  height: 4372px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentplugininformation .group-10-DnMQk9 {
  background-color: transparent;
  height: 920px;
  left: 368px;
  position: absolute;
  top: 342px;
  width: 672px;
}

.basiccomponentplugininformation .group-16-DnMQk9 {
  background-color: transparent;
  height: 183px;
  left: 380px;
  position: absolute;
  top: 3505px;
  width: 660px;
}

.basiccomponentplugininformation .group-15-DnMQk9 {
  background-color: transparent;
  height: 151px;
  left: 419px;
  position: absolute;
  top: 3836px;
  width: 309px;
}

.basiccomponentplugininformation .group-17-DnMQk9 {
  background-color: transparent;
  height: 334px;
  left: 1089px;
  position: absolute;
  top: 3505px;
  width: 731px;
}

.basiccomponentplugininformation .group-19-DnMQk9 {
  background-color: transparent;
  height: 186px;
  left: 1090px;
  position: absolute;
  top: 3986px;
  width: 730px;
}

.basiccomponentplugininformation .group-13-DnMQk9 {
  background-color: transparent;
  height: 879px;
  left: 368px;
  position: absolute;
  top: 2428px;
  width: 480px;
}

.basiccomponentplugininformation .group-12-DnMQk9 {
  background-color: transparent;
  height: 866px;
  left: 419px;
  position: absolute;
  top: 1412px;
  width: 401px;
}

.basiccomponentplugininformation .group-5-copy-DnMQk9 {
  background-color: transparent;
  height: 190px;
  left: 1090px;
  position: absolute;
  top: 709px;
  width: 730px;
}

.basiccomponentplugininformation .group-20-DnMQk9 {
  background-color: transparent;
  height: 116px;
  left: 1090px;
  position: absolute;
  top: 2641px;
  width: 730px;
}

.basiccomponentplugininformation .group-18-DnMQk9 {
  background-color: transparent;
  height: 267px;
  left: 1089px;
  position: absolute;
  top: 342px;
  width: 731px;
}

.basiccomponentplugininformation .descriptiontabletop-k1KxBg {
  background-color: transparent;
  height: 56px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.basiccomponentplugininformation .group-9-k1KxBg {
  background-color: transparent;
  height: 144px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 731px;
}

.basiccomponentplugininformation .group-11-k1KxBg {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 210px;
  width: 731px;
}

.basiccomponentplugininformation .table-guide-text2linem-copy-4pNVBD {
  background-color: transparent;
  height: 37px;
  left: 471px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentplugininformation .table-guide-text1line-4pNVBD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentplugininformation .table-guide-text2linem-4pNVBD {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentplugininformation .group-21-DnMQk9 {
  background-color: transparent;
  height: 113px;
  left: 1089px;
  position: absolute;
  top: 2428px;
  width: 731px;
}

.basiccomponentplugininformation .group-11-s0gQyi {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 731px;
}

.basiccomponentplugininformation .table-guide-text2linem-copy-0GxRNb {
  background-color: transparent;
  height: 37px;
  left: 471px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentplugininformation .table-guide-text1line-0GxRNb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentplugininformation .table-guide-text2linem-0GxRNb {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentplugininformation .descriptiontabletop-s0gQyi {
  background-color: transparent;
  height: 56px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.basiccomponentplugininformation .web-sub-title-DnMQk9 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentplugininformation .web-title-area-DnMQk9 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentplugininformation .lnb-favorite-card-DnMQk9 {
  background-color: transparent;
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .rectangle-ZhfNKk {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .background-ZhfNKk {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .stacked-group-ZhfNKk {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentplugininformation .web-index-title-common-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose512 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose412 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentplugininformation .web-index-contents1dpethclose-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group223 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group232 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group242 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group252 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group67 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group711 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group811 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group95 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group119 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group149 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group40 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group214 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group410 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group310 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose212 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose113 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected12 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose30 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentplugininformation .group-Pzbvy6 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .empty-JmK7hN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentplugininformation .line-copy-JmK7hN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentplugininformation .empty-yM4ez2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .web-index-title-common-ISOJPv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .line-ZhfNKk {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentplugininformation .home-net-gui-guidelin-ZhfNKk {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentplugininformation .webgnb-DnMQk9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentplugininformation .rectangle-pfMwwm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentplugininformation .background-pfMwwm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentplugininformation .index-pfMwwm {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.basiccomponentplugininformation .web-index-select-PjBxXB {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.basiccomponentplugininformation .web-index-unselect-PjBxXB {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentplugininformation .web-index-unelectmain-pfMwwm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentplugininformation .logo-UNTNKr {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose512 */


/* component - webindexcontents1dpethclose412 */


/* component - group223 */


/* component - group232 */


/* component - group242 */


/* component - group252 */


/* component - group58 */


/* component - group67 */


/* component - group711 */


/* component - group811 */


/* component - group95 */


/* component - group119 */


/* component - group149 */


/* component - group40 */


/* component - group214 */


/* component - group410 */


/* component - group310 */


/* component - webindexcontents1dpethclose212 */


/* component - webindexcontents1dpethclose113 */


/* component - webindexcontents1dpethopenselected12 */


/* component - webindexcontents1dpethclose30 */


