/* screen - basiccomponentlistservicefeature */

.basiccomponentlistservicefeature {
  background-color: var(--white);
  height: 5983px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistservicefeature .group-35-asVVed {
  background-color: transparent;
  height: 276px;
  left: 320px;
  position: absolute;
  top: 1446px;
  width: 720px;
}

.basiccomponentlistservicefeature .group-9-asVVed {
  background-color: transparent;
  height: 115px;
  left: 1090px;
  position: absolute;
  top: 1447px;
  width: 730px;
}

.basiccomponentlistservicefeature .group-22-asVVed {
  background-color: transparent;
  height: 171px;
  left: 320px;
  position: absolute;
  top: 1819px;
  width: 436px;
}

.basiccomponentlistservicefeature .group-29-asVVed {
  background-color: transparent;
  height: 142px;
  left: 320px;
  position: absolute;
  top: 2840px;
  width: 476px;
}

.basiccomponentlistservicefeature .group-52-asVVed {
  background-color: transparent;
  height: 205px;
  left: 320px;
  position: absolute;
  top: 2294px;
  width: 505px;
}

.basiccomponentlistservicefeature .group-23-asVVed {
  background-color: transparent;
  height: 155px;
  left: 320px;
  position: absolute;
  top: 2592px;
  width: 582px;
}

.basiccomponentlistservicefeature .group-5-asVVed {
  background-color: transparent;
  height: 196px;
  left: 1090px;
  position: absolute;
  top: 2381px;
  width: 730px;
}

.basiccomponentlistservicefeature .group-56-asVVed {
  background-color: transparent;
  height: 1850px;
  left: 320px;
  position: absolute;
  top: 3935px;
  width: 720px;
}

.basiccomponentlistservicefeature .group-21-asVVed {
  background-color: transparent;
  height: 190px;
  left: 1090px;
  position: absolute;
  top: 4242px;
  width: 730px;
}

.basiccomponentlistservicefeature .group-30-asVVed {
  background-color: transparent;
  height: 186px;
  left: 320px;
  position: absolute;
  top: 3281px;
  width: 417px;
}

.basiccomponentlistservicefeature .group-31-asVVed {
  background-color: transparent;
  height: 207px;
  left: 320px;
  position: absolute;
  top: 3547px;
  width: 462px;
}

.basiccomponentlistservicefeature .group-5-copy-asVVed {
  background-color: transparent;
  height: 200px;
  left: 1090px;
  position: absolute;
  top: 3176px;
  width: 730px;
}

.basiccomponentlistservicefeature .group-36-asVVed {
  background-color: transparent;
  height: 207px;
  left: 1090px;
  position: absolute;
  top: 3935px;
  width: 730px;
}

.basiccomponentlistservicefeature .descriptiontabletop-g7nF8V {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.basiccomponentlistservicefeature .group-38-g7nF8V {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.basiccomponentlistservicefeature .table-guide-text1line-eGlM1L {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentlistservicefeature .table-guide-text1line-ia1x2Q {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .table-guide-text2line-eGlM1L {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 1px;
  width: 400px;
}

.basiccomponentlistservicefeature .group-2-g7nF8V {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.basiccomponentlistservicefeature .table-guide-text1line-HRWutn {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentlistservicefeature .table-guide-text1line-4jFdjJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .table-guide-text2line-HRWutn {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentlistservicefeature .descriptiontable2line-copy-3-g7nF8V {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 730px;
}

.basiccomponentlistservicefeature .group-32-asVVed {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 2188px;
  width: 730px;
}

.basiccomponentlistservicefeature .descriptiontabletop-LcvP5X {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.basiccomponentlistservicefeature .group-25-LcvP5X {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.basiccomponentlistservicefeature .table-guide-text1line-U3TBXl {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentlistservicefeature .table-guide-text1line-DYeuzM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .table-guide-text2line-U3TBXl {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentlistservicefeature .group-61-asVVed {
  background-color: transparent;
  height: 905px;
  left: 320px;
  position: absolute;
  top: 342px;
  width: 1171px;
}

.basiccomponentlistservicefeature .table-guide-title-asVVed {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 2188px;
  width: 620px;
}

.basiccomponentlistservicefeature .table-guide-title-copy-asVVed {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 3176px;
  width: 620px;
}

.basiccomponentlistservicefeature .web-sub-title-asVVed {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlistservicefeature .web-title-area-asVVed {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistservicefeature .web-tab-service-e-basic-layout-asVVed {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlistservicefeature .x3rd-depth-Rfh01X {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentlistservicefeature .tab-Rfh01X {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentlistservicefeature .basic-Ziuuwk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentlistservicefeature .service-feature-type-Ziuuwk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-Ziuuwk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-2-Ziuuwk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-3-Ziuuwk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-4-Ziuuwk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 127px;
}

.basiccomponentlistservicefeature .lnb-favorite-card-asVVed {
  background-color: transparent;
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .rectangle-pVxVkf {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .background-pVxVkf {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .stacked-group-pVxVkf {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentlistservicefeature .web-index-title-common-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose528 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose428 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentlistservicefeature .web-index-contents1dpethclose-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1425 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1524 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1621 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1721 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group619 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group722 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group825 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1022 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1123 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1221 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1324 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group111 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group229 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group424 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group320 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose228 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose129 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected28 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose62 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentlistservicefeature .group-fHRwJT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .empty-mtdKvl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistservicefeature .line-copy-mtdKvl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistservicefeature .empty-3O2lgr {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .web-index-title-common-gzc6a0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .line-pVxVkf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistservicefeature .home-net-gui-guidelin-pVxVkf {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentlistservicefeature .webgnb-asVVed {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistservicefeature .rectangle-2Xv9sl {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistservicefeature .background-2Xv9sl {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistservicefeature .index-2Xv9sl {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.basiccomponentlistservicefeature .web-index-select-jipxUx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.basiccomponentlistservicefeature .web-index-unselect-jipxUx {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentlistservicefeature .web-index-unelectmain-2Xv9sl {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistservicefeature .logo-RAMYWH {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose528 */


/* component - webindexcontents1dpethclose428 */


/* component - group1425 */


/* component - group1524 */


/* component - group1621 */


/* component - group1721 */


/* component - group619 */


/* component - group722 */


/* component - group825 */


/* component - group1022 */


/* component - group1123 */


/* component - group1221 */


/* component - group1324 */


/* component - group111 */


/* component - group229 */


/* component - group424 */


/* component - group320 */


/* component - webindexcontents1dpethclose228 */


/* component - webindexcontents1dpethclose129 */


/* component - webindexcontents1dpethopenselected28 */


/* component - webindexcontents1dpethclose62 */


