/* screen - basiccomponentgraphgraphbasic */

.basiccomponentgraphgraphbasic {
  background-color: var(--white);
  height: 4521px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentgraphgraphbasic .group-37-JfOpu2 {
  background-color: transparent;
  height: 561px;
  left: 421px;
  position: absolute;
  top: 3760px;
  width: 1399px;
}

.basiccomponentgraphgraphbasic .group-5-copy-JfOpu2 {
  background-color: transparent;
  height: 116px;
  left: 1090px;
  position: absolute;
  top: 3334px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-44-JfOpu2 {
  background-color: transparent;
  height: 327px;
  left: 420px;
  position: absolute;
  top: 3334px;
  width: 620px;
}

.basiccomponentgraphgraphbasic .group-39-JfOpu2 {
  background-color: transparent;
  height: 199px;
  left: 330px;
  position: absolute;
  top: 2109px;
  width: 710px;
}

.basiccomponentgraphgraphbasic .group-47-JfOpu2 {
  background-color: transparent;
  height: 424px;
  left: 1090px;
  position: absolute;
  top: 2109px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-42-K2PxuF {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 291px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-41-K2PxuF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .table-guide-text2line-bkADQ0 {
  background-color: transparent;
  height: 64px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentgraphgraphbasic .table-guide-text1line-bkADQ0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphgraphbasic .table-guide-text2linem-bkADQ0 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentgraphgraphbasic .group-27-K2PxuF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-46-K2PxuF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .table-guide-text2linem-copy-AfYxhw {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentgraphgraphbasic .table-guide-text1line-AfYxhw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphgraphbasic .table-guide-text2linem-AfYxhw {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentgraphgraphbasic .group-16-K2PxuF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-17-K2PxuF {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .descriptiontabletop-K2PxuF {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-29-JfOpu2 {
  background-color: transparent;
  height: 255px;
  left: 400px;
  position: absolute;
  top: 2899px;
  width: 356px;
}

.basiccomponentgraphgraphbasic .group-40-JfOpu2 {
  background-color: transparent;
  height: 205px;
  left: 420px;
  position: absolute;
  top: 2455px;
  width: 302px;
}

.basiccomponentgraphgraphbasic .group-50-JfOpu2 {
  background-color: transparent;
  height: 446px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-53-JfOpu2 {
  background-color: transparent;
  height: 162px;
  left: 1090px;
  position: absolute;
  top: 969px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-21-JfOpu2 {
  background-color: transparent;
  height: 256px;
  left: 1090px;
  position: absolute;
  top: 1231px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .group-51-JfOpu2 {
  background-color: transparent;
  height: 267px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 640px;
}

.basiccomponentgraphgraphbasic .group-23-JfOpu2 {
  background-color: transparent;
  height: 221px;
  left: 381px;
  position: absolute;
  top: 969px;
  width: 659px;
}

.basiccomponentgraphgraphbasic .group-45-JfOpu2 {
  background-color: transparent;
  height: 220px;
  left: 420px;
  position: absolute;
  top: 1337px;
  width: 468px;
}

.basiccomponentgraphgraphbasic .group-38-JfOpu2 {
  background-color: transparent;
  height: 205px;
  left: 420px;
  position: absolute;
  top: 1706px;
  width: 295px;
}

.basiccomponentgraphgraphbasic .group-54-JfOpu2 {
  background-color: transparent;
  height: 162px;
  left: 1090px;
  position: absolute;
  top: 2633px;
  width: 730px;
}

.basiccomponentgraphgraphbasic .table-guide-title-copy-8-JfOpu2 {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 2809px;
  width: 295px;
}

.basiccomponentgraphgraphbasic .web-sub-title-JfOpu2 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentgraphgraphbasic .web-title-area-JfOpu2 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentgraphgraphbasic .web-tab-service-e-basic-layout-JfOpu2 {
  background-color: transparent;
  height: 50px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentgraphgraphbasic .x3rd-depth-vXB5El {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentgraphgraphbasic .tab-vXB5El {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentgraphgraphbasic .basic-YZT6WC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentgraphgraphbasic .service-feature-type-YZT6WC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.basiccomponentgraphgraphbasic .service-feature-type-copy-YZT6WC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 24px;
}

.basiccomponentgraphgraphbasic .service-feature-type-copy-2-YZT6WC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 36px;
}

.basiccomponentgraphgraphbasic .lnb-favorite-card-JfOpu2 {
  background-color: transparent;
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphbasic .rectangle-EmqiD2 {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphbasic .background-EmqiD2 {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphbasic .stacked-group-EmqiD2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentgraphgraphbasic .web-index-title-common-CgIxpq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose525 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose425 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentgraphgraphbasic .web-index-contents1dpethclose-CgIxpq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1219 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1322 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1422 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1522 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group515 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group616 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group720 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group822 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group917 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1019 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1120 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group101 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group227 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group421 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group318 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose225 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose126 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected25 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose51 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentgraphgraphbasic .group-CgIxpq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphbasic .empty-J12yZ2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphgraphbasic .line-copy-J12yZ2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphgraphbasic .empty-PxSxAM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphbasic .web-index-title-common-PeeJih {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphbasic .line-EmqiD2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentgraphgraphbasic .home-net-gui-guidelin-EmqiD2 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentgraphgraphbasic .webgnb-JfOpu2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphbasic .rectangle-qbtZuS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphbasic .background-qbtZuS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphbasic .index-qbtZuS {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.basiccomponentgraphgraphbasic .web-index-select-0L8cFn {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.basiccomponentgraphgraphbasic .web-index-unselect-0L8cFn {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentgraphgraphbasic .web-index-unelectmain-qbtZuS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentgraphgraphbasic .logo-rrNBxt {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose525 */


/* component - webindexcontents1dpethclose425 */


/* component - group1219 */


/* component - group1322 */


/* component - group1422 */


/* component - group1522 */


/* component - group515 */


/* component - group616 */


/* component - group720 */


/* component - group822 */


/* component - group917 */


/* component - group1019 */


/* component - group1120 */


/* component - group101 */


/* component - group227 */


/* component - group421 */


/* component - group318 */


/* component - webindexcontents1dpethclose225 */


/* component - webindexcontents1dpethclose126 */


/* component - webindexcontents1dpethopenselected25 */


/* component - webindexcontents1dpethclose51 */


