/* screen - basiccomponentdropdownlistdropdownlistbasic */

.basiccomponentdropdownlistdropdownlistbasic {
  background-color: var(--white);
  height: 1762px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentdropdownlistdropdownlistbasic .group-14-PwtMWM {
  background-color: transparent;
  height: 858px;
  left: 365px;
  position: absolute;
  top: 446px;
  width: 492px;
}

.basiccomponentdropdownlistdropdownlistbasic .group-15-PwtMWM {
  background-color: transparent;
  height: 645px;
  left: 1090px;
  position: absolute;
  top: 340px;
  width: 730px;
}

.basiccomponentdropdownlistdropdownlistbasic .group-5-PwtMWM {
  background-color: transparent;
  height: 447px;
  left: 1090px;
  position: absolute;
  top: 1085px;
  width: 730px;
}

.basiccomponentdropdownlistdropdownlistbasic .table-guide-title-PwtMWM {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 340px;
  width: 620px;
}

.basiccomponentdropdownlistdropdownlistbasic .web-sub-title-PwtMWM {
  background-color: transparent;
  height: 56px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentdropdownlistdropdownlistbasic .web-title-area-PwtMWM {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentdropdownlistdropdownlistbasic .lnb-favorite-card-PwtMWM {
  background-color: transparent;
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .rectangle-gALRdh {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .background-gALRdh {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .stacked-group-gALRdh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .web-index-title-common-i93bxp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose534 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose434 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentdropdownlistdropdownlistbasic .web-index-contents1dpethclose-i93bxp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1330 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1625 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1726 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1824 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group623 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group727 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group831 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group922 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1027 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1129 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1227 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group131 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group235 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group428 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group324 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose234 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose135 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected34 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose68 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentdropdownlistdropdownlistbasic .group-i93bxp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .empty-nF0kGP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .line-copy-nF0kGP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdropdownlistdropdownlistbasic .empty-Nit4BN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .web-index-title-common-yx9xya {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdropdownlistdropdownlistbasic .line-gALRdh {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentdropdownlistdropdownlistbasic .home-net-gui-guidelin-gALRdh {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentdropdownlistdropdownlistbasic .webgnb-PwtMWM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentdropdownlistdropdownlistbasic .rectangle-0lSNBI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdropdownlistdropdownlistbasic .background-0lSNBI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdropdownlistdropdownlistbasic .index-0lSNBI {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.basiccomponentdropdownlistdropdownlistbasic .web-index-select-DOF5r0 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.basiccomponentdropdownlistdropdownlistbasic .web-index-unselect-DOF5r0 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentdropdownlistdropdownlistbasic .web-index-unelectmain-0lSNBI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentdropdownlistdropdownlistbasic .logo-SFylAp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose534 */


/* component - webindexcontents1dpethclose434 */


/* component - group1330 */


/* component - group1625 */


/* component - group1726 */


/* component - group1824 */


/* component - group623 */


/* component - group727 */


/* component - group831 */


/* component - group922 */


/* component - group1027 */


/* component - group1129 */


/* component - group1227 */


/* component - group131 */


/* component - group235 */


/* component - group428 */


/* component - group324 */


/* component - webindexcontents1dpethclose234 */


/* component - webindexcontents1dpethclose135 */


/* component - webindexcontents1dpethopenselected34 */


/* component - webindexcontents1dpethclose68 */


