/* screen - basiccomponentbasiclayoutbasicgridserviceplugin */

.basiccomponentbasiclayoutbasicgridserviceplugin {
  background-color: var(--white);
  height: 4076px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-3-hstpcU {
  background-color: transparent;
  height: 584px;
  left: 400px;
  position: absolute;
  top: 1390px;
  width: 420px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-13-hstpcU {
  background-color: transparent;
  height: 584px;
  left: 420px;
  position: absolute;
  top: 3292px;
  width: 401px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-17-hstpcU {
  background-color: transparent;
  height: 901px;
  left: 400px;
  position: absolute;
  top: 2244px;
  width: 640px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-15-hstpcU {
  background-color: transparent;
  height: 140px;
  left: 1089px;
  position: absolute;
  top: 2244px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-14-Qtjj8z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-F3NFS1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-copy-6-F3NFS1 {
  background-color: transparent;
  height: 37px;
  left: 430px;
  position: absolute;
  top: 0px;
  width: 301px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-F3NFS1 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-8-Qtjj8z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-copy-NZ5r5F {
  background-color: transparent;
  height: 37px;
  left: 430px;
  position: absolute;
  top: 0px;
  width: 301px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-NZ5r5F {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-NZ5r5F {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .descriptiontabletop-Qtjj8z {
  background-color: transparent;
  height: 56px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-7-hstpcU {
  background-color: transparent;
  height: 900px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 640px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-12-hstpcU {
  background-color: transparent;
  height: 254px;
  left: 1089px;
  position: absolute;
  top: 342px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-9-Xe7xAi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-nWGRx5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-copy-6-nWGRx5 {
  background-color: transparent;
  height: 37px;
  left: 471px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-nWGRx5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-10-Xe7xAi {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-copy-5-9DIjEG {
  background-color: transparent;
  height: 57px;
  left: 471px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-9DIjEG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-9DIjEG {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-5-Xe7xAi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-copy-ll1sqi {
  background-color: transparent;
  height: 37px;
  left: 471px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-ll1sqi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2linem-ll1sqi {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-11-Xe7xAi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 731px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .descriptiontabletop-Xe7xAi {
  background-color: transparent;
  height: 56px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-sub-title-hstpcU {
  background-color: transparent;
  height: 70px;
  left: 320px;
  position: absolute;
  top: 2174px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-sub-title-mkMOPO {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-title-area-hstpcU {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-tab-service-e-basic-layout-hstpcU {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .x3rd-depth-CEzVJF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .tab-CEzVJF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .header-app-bar-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .service-feature-type-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layout-basic-grid-de-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 204px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layout-basic-grid-se-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 209px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layoutbg-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layoutbg-dynamic-br-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 255px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .progress-circle-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .refresh-upyEkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .lnb-favorite-card-hstpcU {
  background-color: transparent;
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .rectangle-q5dL35 {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .background-q5dL35 {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .stacked-group-q5dL35 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-title-common-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose526 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose426 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpethclose-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1819 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1911 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group209 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group2111 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group617 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group823 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group918 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1020 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1121 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1423 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1619 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group110 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group228 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group516 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group422 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose226 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose127 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected26 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose60 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-YOZogg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .empty-drxhax {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .line-copy-drxhax {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .empty-RNkTSL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-title-common-dgVIxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .line-q5dL35 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .home-net-gui-guidelin-q5dL35 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .webgnb-hstpcU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .rectangle-NYGWWm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .background-NYGWWm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .index-NYGWWm {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-select-VONBnN {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-unselect-VONBnN {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-unelectmain-NYGWWm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .logo-cDd9fr {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose526 */


/* component - webindexcontents1dpethclose426 */


/* component - group1819 */


/* component - group1911 */


/* component - group209 */


/* component - group2111 */


/* component - group617 */


/* component - group823 */


/* component - group918 */


/* component - group1020 */


/* component - group1121 */


/* component - group1423 */


/* component - group1619 */


/* component - group110 */


/* component - group228 */


/* component - group516 */


/* component - group422 */


/* component - webindexcontents1dpethclose226 */


/* component - webindexcontents1dpethclose127 */


/* component - webindexcontents1dpethopenselected26 */


/* component - webindexcontents1dpethclose60 */


