/* screen - basiccomponentlisticonarea */

.basiccomponentlisticonarea {
  background-color: var(--white);
  height: 1215px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlisticonarea .group-xmncnT {
  background-color: transparent;
  height: 133px;
  left: 380px;
  position: absolute;
  top: 593px;
  width: 401px;
}

.basiccomponentlisticonarea .group-2-xmncnT {
  background-color: transparent;
  height: 112px;
  left: 380px;
  position: absolute;
  top: 440px;
  width: 400px;
}

.basiccomponentlisticonarea .group-4-xmncnT {
  background-color: transparent;
  height: 193px;
  left: 419px;
  position: absolute;
  top: 824px;
  width: 621px;
}

.basiccomponentlisticonarea .group-9-xmncnT {
  background-color: transparent;
  height: 115px;
  left: 1089px;
  position: absolute;
  top: 342px;
  width: 731px;
}

.basiccomponentlisticonarea .table-guide-title-copy-7-xmncnT {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.basiccomponentlisticonarea .web-sub-title-copy-2-xmncnT {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlisticonarea .web-title-area-xmncnT {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlisticonarea .web-tab-service-e-basic-layout-xmncnT {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlisticonarea .x3rd-depth-wCZWv0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentlisticonarea .tab-wCZWv0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentlisticonarea .basic-jN5Ib2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentlisticonarea .service-feature-type-jN5Ib2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.basiccomponentlisticonarea .service-feature-type-copy-jN5Ib2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlisticonarea .service-feature-type-copy-2-jN5Ib2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.basiccomponentlisticonarea .service-feature-type-copy-3-jN5Ib2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.basiccomponentlisticonarea .service-feature-type-copy-4-jN5Ib2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 126px;
}

.basiccomponentlisticonarea .lnb-favorite-card-xmncnT {
  background-color: transparent;
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlisticonarea .rectangle-vWXMxI {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlisticonarea .background-vWXMxI {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlisticonarea .stacked-group-vWXMxI {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentlisticonarea .web-index-title-common-0fxzyV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose531 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose431 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentlisticonarea .web-index-contents1dpethclose-0fxzyV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1623 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1724 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1822 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1914 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group828 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1024 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1126 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1224 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1327 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1428 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1527 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group322 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group519 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group724 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group621 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose231 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose132 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected31 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose65 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentlisticonarea .group-0fxzyV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlisticonarea .empty-memT1z {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlisticonarea .line-copy-memT1z {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlisticonarea .empty-3cCEdl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlisticonarea .web-index-title-common-9sgnGY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlisticonarea .line-vWXMxI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlisticonarea .home-net-gui-guidelin-vWXMxI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentlisticonarea .webgnb-xmncnT {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlisticonarea .rectangle-4sV6jt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlisticonarea .background-4sV6jt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlisticonarea .index-4sV6jt {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.basiccomponentlisticonarea .web-index-select-quxxfR {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.basiccomponentlisticonarea .web-index-unselect-quxxfR {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentlisticonarea .web-index-unelectmain-4sV6jt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlisticonarea .logo-HXxVKd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose531 */


/* component - webindexcontents1dpethclose431 */


/* component - group1623 */


/* component - group1724 */


/* component - group1822 */


/* component - group1914 */


/* component - group828 */


/* component - group1024 */


/* component - group1126 */


/* component - group1224 */


/* component - group1327 */


/* component - group1428 */


/* component - group1527 */


/* component - group322 */


/* component - group519 */


/* component - group724 */


/* component - group621 */


/* component - webindexcontents1dpethclose231 */


/* component - webindexcontents1dpethclose132 */


/* component - webindexcontents1dpethopenselected31 */


/* component - webindexcontents1dpethclose65 */


