/* screen - basiccomponentgraphgraphinfo */

.basiccomponentgraphgraphinfo {
  background-color: var(--white);
  height: 1832px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentgraphgraphinfo .group-7-P9Sx5I {
  background-color: transparent;
  height: 563px;
  left: 364px;
  position: absolute;
  top: 1069px;
  width: 475px;
}

.basiccomponentgraphgraphinfo .group-10-P9Sx5I {
  background-color: transparent;
  height: 577px;
  left: 399px;
  position: absolute;
  top: 342px;
  width: 621px;
}

.basiccomponentgraphgraphinfo .group-4-P9Sx5I {
  background-color: transparent;
  height: 536px;
  left: 1090px;
  position: absolute;
  top: 624px;
  width: 730px;
}

.basiccomponentgraphgraphinfo .group-8-P9Sx5I {
  background-color: transparent;
  height: 182px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.basiccomponentgraphgraphinfo .web-sub-title-P9Sx5I {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentgraphgraphinfo .web-title-area-P9Sx5I {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentgraphgraphinfo .web-tab-service-e-basic-layout-P9Sx5I {
  background-color: transparent;
  height: 50px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentgraphgraphinfo .x3rd-depth-Emx4gZ {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentgraphgraphinfo .tab-Emx4gZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentgraphgraphinfo .basic-QOXYjS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentgraphgraphinfo .service-feature-type-QOXYjS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.basiccomponentgraphgraphinfo .service-feature-type-copy-QOXYjS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 25px;
}

.basiccomponentgraphgraphinfo .service-feature-type-copy-2-QOXYjS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 36px;
}

.basiccomponentgraphgraphinfo .lnb-favorite-card-P9Sx5I {
  background-color: transparent;
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphinfo .rectangle-sbFBex {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphinfo .background-sbFBex {
  background-color: var(--concrete);
  height: 1315px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphinfo .stacked-group-sbFBex {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentgraphgraphinfo .web-index-title-common-2ZGYzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose518 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose418 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentgraphgraphinfo .web-index-contents1dpethclose-2ZGYzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1613 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1716 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1815 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group199 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group611 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group910 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1113 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1214 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1316 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1415 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1515 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group70 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group220 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group510 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group313 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose218 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose119 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected18 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose36 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.basiccomponentgraphgraphinfo .group-2ZGYzi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphinfo .empty-ndyjOK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphgraphinfo .line-copy-ndyjOK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphgraphinfo .empty-Z9n3Fi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphinfo .web-index-title-common-8Fk7fd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphinfo .line-sbFBex {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentgraphgraphinfo .home-net-gui-guidelin-sbFBex {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentgraphgraphinfo .webgnb-P9Sx5I {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphinfo .rectangle-dDsnVZ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphinfo .background-dDsnVZ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphinfo .index-dDsnVZ {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.basiccomponentgraphgraphinfo .web-index-select-hc4ZKE {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.basiccomponentgraphgraphinfo .web-index-unselect-hc4ZKE {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentgraphgraphinfo .web-index-unelectmain-dDsnVZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentgraphgraphinfo .logo-tlqhmM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose518 */


/* component - webindexcontents1dpethclose418 */


/* component - group1613 */


/* component - group1716 */


/* component - group1815 */


/* component - group199 */


/* component - group611 */


/* component - group910 */


/* component - group1113 */


/* component - group1214 */


/* component - group1316 */


/* component - group1415 */


/* component - group1515 */


/* component - group70 */


/* component - group220 */


/* component - group510 */


/* component - group313 */


/* component - webindexcontents1dpethclose218 */


/* component - webindexcontents1dpethclose119 */


/* component - webindexcontents1dpethopenselected18 */


/* component - webindexcontents1dpethclose36 */


