/* screen - c2caccesstokenstrefreshp */

.c2caccesstokenstrefreshp {
  background-color: var(--white);
  height: 1268px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenstrefreshp .group-13-xwLkUK {
  background-color: transparent;
  height: 321px;
  left: 1090px;
  position: absolute;
  top: 295px;
  width: 730px;
}

.c2caccesstokenstrefreshp .group-xwLkUK {
  background-color: transparent;
  height: 760px;
  left: 400px;
  position: absolute;
  top: 448px;
  width: 420px;
}

.c2caccesstokenstrefreshp .group-3-xwLkUK {
  background-color: transparent;
  height: 104px;
  left: 1089px;
  position: absolute;
  top: 716px;
  width: 216px;
}

.c2caccesstokenstrefreshp .table-guide-title-xwLkUK {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.c2caccesstokenstrefreshp .web-sub-title-xwLkUK {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2caccesstokenstrefreshp .web-title-area-xwLkUK {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenstrefreshp .web-tabc2-c-access-token-xwLkUK {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenstrefreshp .x3rd-depth-HGJTEJ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenstrefreshp .tab-HGJTEJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenstrefreshp .life-tab-device-tab-imRl5P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 264px;
}

.c2caccesstokenstrefreshp .partner-refresh-toke-imRl5P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 207px;
}

.c2caccesstokenstrefreshp .st-refresh-token-inv-imRl5P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.c2caccesstokenstrefreshp .service-plugin-imRl5P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.c2caccesstokenstrefreshp .lnb-service-feature-xwLkUK {
  background-color: transparent;
  height: 606px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenstrefreshp .rectangle-OoJGK9 {
  background-color: var(--concrete);
  height: 569px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenstrefreshp .background-OoJGK9 {
  background-color: var(--concrete);
  height: 569px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenstrefreshp .stacked-group-OoJGK9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2caccesstokenstrefreshp .web-index-title-common-WzyaDf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenstrefreshp .stacked-group-copy-OoJGK9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 247px;
  width: 320px;
}

.c2caccesstokenstrefreshp .web-index-title-common-MfEgYd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose60 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose118 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose217 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose317 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose417 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose517 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2caccesstokenstrefreshp .line-OoJGK9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenstrefreshp .line-copy-OoJGK9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 230px;
  width: 275px;
}

.c2caccesstokenstrefreshp .home-net-gui-guidelin-OoJGK9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.c2caccesstokenstrefreshp .webgnb-xwLkUK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenstrefreshp .rectangle-ecskht {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenstrefreshp .background-ecskht {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenstrefreshp .index-ecskht {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.c2caccesstokenstrefreshp .web-index-unselect-5bu1q2 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.c2caccesstokenstrefreshp .web-index-select-5bu1q2 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2caccesstokenstrefreshp .web-index-select-ecskht {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 513px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2caccesstokenstrefreshp .web-index-selectmain-ecskht {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2caccesstokenstrefreshp .logo-iygAGp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose60 */


/* component - webindexcontents1dpethclose118 */


/* component - webindexcontents1dpethclose217 */


/* component - webindexcontents1dpethclose317 */


/* component - webindexcontents1dpethclose417 */


/* component - webindexcontents1dpethclose517 */


