/* screen - c2caccesstokenrestartp */

.c2caccesstokenrestartp {
  background-color: var(--white);
  height: 2424px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenrestartp .group-4-ZxgofF {
  background-color: transparent;
  height: 390px;
  left: 1090px;
  position: absolute;
  top: 295px;
  width: 730px;
}

.c2caccesstokenrestartp .group-12-copy-2-1O5BUJ {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.c2caccesstokenrestartp .group-12-copy-5-1O5BUJ {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 331px;
  width: 730px;
}

.c2caccesstokenrestartp .table-guide-text1line-1O5BUJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 262px;
  width: 50px;
}

.c2caccesstokenrestartp .table-guide-text2linem-1O5BUJ {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 262px;
  width: 400px;
}

.c2caccesstokenrestartp .table-guide-text1line-RLT4ZG {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 262px;
  width: 260px;
}

.c2caccesstokenrestartp .group-12-copy-3-1O5BUJ {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 193px;
  width: 730px;
}

.c2caccesstokenrestartp .group-6-1O5BUJ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 730px;
}

.c2caccesstokenrestartp .strong-man-gui-1O5BUJ {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 232px;
}

.c2caccesstokenrestartp .group-5-ZxgofF {
  background-color: transparent;
  height: 274px;
  left: 1090px;
  position: absolute;
  top: 1358px;
  width: 730px;
}

.c2caccesstokenrestartp .group-3-ZxgofF {
  background-color: transparent;
  height: 104px;
  left: 1090px;
  position: absolute;
  top: 785px;
  width: 216px;
}

.c2caccesstokenrestartp .group-ZxgofF {
  background-color: transparent;
  height: 775px;
  left: 400px;
  position: absolute;
  top: 1464px;
  width: 478px;
}

.c2caccesstokenrestartp .group-3-8mbbEy {
  background-color: transparent;
  height: 104px;
  left: 1089px;
  position: absolute;
  top: 1732px;
  width: 216px;
}

.c2caccesstokenrestartp .group-8mbbEy {
  background-color: transparent;
  height: 775px;
  left: 400px;
  position: absolute;
  top: 448px;
  width: 420px;
}

.c2caccesstokenrestartp .table-guide-title-ZxgofF {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.c2caccesstokenrestartp .table-guide-title-8mbbEy {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 1358px;
  width: 620px;
}

.c2caccesstokenrestartp .web-sub-title-ZxgofF {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2caccesstokenrestartp .web-title-area-ZxgofF {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenrestartp .web-tabc2-c-access-token-ZxgofF {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenrestartp .x3rd-depth-klQQZR {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenrestartp .tab-klQQZR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenrestartp .life-tab-device-tab-OLbiHk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 264px;
}

.c2caccesstokenrestartp .partner-refresh-toke-OLbiHk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 208px;
}

.c2caccesstokenrestartp .st-refresh-token-inv-OLbiHk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenrestartp .service-plugin-OLbiHk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.c2caccesstokenrestartp .lnb-service-feature-ZxgofF {
  background-color: transparent;
  height: 606px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrestartp .rectangle-Q3tnyv {
  background-color: var(--concrete);
  height: 569px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrestartp .background-Q3tnyv {
  background-color: var(--concrete);
  height: 569px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrestartp .stacked-group-Q3tnyv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2caccesstokenrestartp .web-index-title-common-M9EAFk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrestartp .stacked-group-copy-Q3tnyv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 247px;
  width: 320px;
}

.c2caccesstokenrestartp .web-index-title-common-EaKYfu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose12 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose22 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose32 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose42 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose52 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2caccesstokenrestartp .line-Q3tnyv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenrestartp .line-copy-Q3tnyv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 230px;
  width: 275px;
}

.c2caccesstokenrestartp .home-net-gui-guidelin-Q3tnyv {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.c2caccesstokenrestartp .webgnb-ZxgofF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrestartp .rectangle-PSJetO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrestartp .background-PSJetO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrestartp .index-PSJetO {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.c2caccesstokenrestartp .web-index-unselect-Fdq8HK {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.c2caccesstokenrestartp .web-index-select-Fdq8HK {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2caccesstokenrestartp .web-index-select-PSJetO {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 513px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2caccesstokenrestartp .web-index-selectmain-PSJetO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2caccesstokenrestartp .logo-tJURxV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose6 */


/* component - webindexcontents1dpethclose12 */


/* component - webindexcontents1dpethclose22 */


/* component - webindexcontents1dpethclose32 */


/* component - webindexcontents1dpethclose42 */


/* component - webindexcontents1dpethclose52 */


