/* screen - c2crepopupwaiting */

.c2crepopupwaiting {
  background-color: var(--white);
  height: 1685px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2crepopupwaiting .group-13-u3LCyn {
  background-color: transparent;
  height: 231px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.c2crepopupwaiting .group-2-u3LCyn {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 673px;
  width: 730px;
}

.c2crepopupwaiting .group-3-u3LCyn {
  background-color: transparent;
  height: 760px;
  left: 400px;
  position: absolute;
  top: 448px;
  width: 381px;
}

.c2crepopupwaiting .group-u3LCyn {
  background-color: transparent;
  height: 129px;
  left: 420px;
  position: absolute;
  top: 1358px;
  width: 431px;
}

.c2crepopupwaiting .table-guide-title-u3LCyn {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.c2crepopupwaiting .web-sub-title-u3LCyn {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2crepopupwaiting .web-title-area-u3LCyn {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2crepopupwaiting .web-tabc2-crepopup-u3LCyn {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2crepopupwaiting .x3rd-depth-6MMwMU {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2crepopupwaiting .tab-6MMwMU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2crepopupwaiting .waiting-in-sign-in-p-Y6sLny {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 164px;
}

.c2crepopupwaiting .image-Y6sLny {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 64px;
}

.c2crepopupwaiting .lnb-service-feature-u3LCyn {
  background-color: transparent;
  height: 569px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2crepopupwaiting .rectangle-6yH7Wv {
  background-color: var(--concrete);
  height: 569px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2crepopupwaiting .background-6yH7Wv {
  background-color: var(--concrete);
  height: 569px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2crepopupwaiting .stacked-group-6yH7Wv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2crepopupwaiting .web-index-title-common-6pd21x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2crepopupwaiting .stacked-group-copy-6yH7Wv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 247px;
  width: 320px;
}

.c2crepopupwaiting .web-index-title-common-2Jlb1q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose51 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose117 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose216 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose316 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose416 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose516 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2crepopupwaiting .line-6yH7Wv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2crepopupwaiting .line-copy-6yH7Wv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 230px;
  width: 275px;
}

.c2crepopupwaiting .home-net-gui-guidelin-6yH7Wv {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.c2crepopupwaiting .webgnb-u3LCyn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2crepopupwaiting .rectangle-UiPTNu {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2crepopupwaiting .background-UiPTNu {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2crepopupwaiting .index-UiPTNu {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.c2crepopupwaiting .web-index-unselect-XgZ7mO {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.c2crepopupwaiting .web-index-select-XgZ7mO {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2crepopupwaiting .web-index-select-UiPTNu {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 513px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2crepopupwaiting .web-index-selectmain-UiPTNu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2crepopupwaiting .logo-Ac2xlW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose51 */


/* component - webindexcontents1dpethclose117 */


/* component - webindexcontents1dpethclose216 */


/* component - webindexcontents1dpethclose316 */


/* component - webindexcontents1dpethclose416 */


/* component - webindexcontents1dpethclose516 */


