/* screen - devicepluginintergratedswitchintegratedswitch */

.devicepluginintergratedswitchintegratedswitch {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1832px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginintergratedswitchintegratedswitch .group-6-bMMeQM {
  background-color: transparent;
  height: 1234px;
  left: 400px;
  position: absolute;
  top: 398px;
  width: 380px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-title-bMMeQM {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.devicepluginintergratedswitchintegratedswitch .group-bMMeQM {
  background-color: transparent;
  height: 929px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-A6RDpt {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-copy-3-DSxexV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2linem-DSxexV {
  background-color: transparent;
  height: 59px;
  left: 62px;
  position: absolute;
  top: 37px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-copy-4-DSxexV {
  background-color: transparent;
  height: 99px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2linem-copy-3-DSxexV {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-s4Xqro {
  background-color: transparent;
  height: 391px;
  left: 0px;
  position: absolute;
  top: 424px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .group-3-19wxJh {
  background-color: transparent;
  height: 136px;
  left: 60px;
  position: absolute;
  top: 255px;
  width: 296px;
}

.devicepluginintergratedswitchintegratedswitch .group-2-19wxJh {
  background-color: transparent;
  height: 136px;
  left: 60px;
  position: absolute;
  top: 109px;
  width: 296px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-19wxJh {
  background-color: transparent;
  height: 99px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2line-19wxJh {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-21dxYH {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-H6QkJS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 377px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-hoHz4T {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-MIUFou {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2line-hoHz4T {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-NGGwtw {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 825px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-4hzbtD {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-5IcgV1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2line-4hzbtD {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-yEFeki {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 892px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-aOIXMm {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-SVxWA2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2line-aOIXMm {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-MEon9k {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 283px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-KhxG65 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-g4XYiX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2line-KhxG65 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-hvNWwJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 330px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-RA66BR {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-lGCQgP {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2line-RA66BR {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontable2line-yqIi6n {
  background-color: transparent;
  height: 108px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .areasvg-copy-4-prbuxx {
  background-color: transparent;
  height: 41px;
  left: 62px;
  position: absolute;
  top: 67px;
  width: 38px;
}

.devicepluginintergratedswitchintegratedswitch .areasvg-copy-5-prbuxx {
  background-color: transparent;
  height: 41px;
  left: 118px;
  position: absolute;
  top: 67px;
  width: 38px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-prbuxx {
  background-color: transparent;
  height: 99px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text2line-prbuxx {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginintergratedswitchintegratedswitch .table-guide-text1line-5JirjT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginintergratedswitchintegratedswitch .homeicdeviceoff-prbuxx {
  background-color: transparent;
  height: 40px;
  left: 119px;
  position: absolute;
  top: 68px;
  width: 37px;
}

.devicepluginintergratedswitchintegratedswitch .homeicdeviceon-prbuxx {
  background-color: transparent;
  height: 40px;
  left: 62px;
  position: absolute;
  top: 67px;
  width: 37px;
}

.devicepluginintergratedswitchintegratedswitch .descriptiontabletop-A6RDpt {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicepluginintergratedswitchintegratedswitch .web-sub-title-bMMeQM {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginintergratedswitchintegratedswitch .web-title-area-bMMeQM {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginintergratedswitchintegratedswitch .web-tab-device-ergrated-switch-bMMeQM {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginintergratedswitchintegratedswitch .x3rd-depth-eClgpL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginintergratedswitchintegratedswitch .tab-ZljoKr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginintergratedswitchintegratedswitch .integrated-switch-5ttOfn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 109px;
}

.devicepluginintergratedswitchintegratedswitch .case-5ttOfn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.devicepluginintergratedswitchintegratedswitch .lnb-device-plug-in-bMMeQM {
  background-color: transparent;
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginintergratedswitchintegratedswitch .rectangle-I71sc7 {
  background-color: var(--concrete);
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginintergratedswitchintegratedswitch .stacked-group-I71sc7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginintergratedswitchintegratedswitch .web-index-title-common-cDmko0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose511 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose411 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose311 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose211 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginintergratedswitchintegratedswitch .web-index-conte-hopenselected-cDmko0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group139 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1211 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1110 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1010 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group98 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group810 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group710 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group59 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group47 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group37 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group26 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose112 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose30 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginintergratedswitchintegratedswitch .group-cDmko0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginintergratedswitchintegratedswitch .empty-eHRjBE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginintergratedswitchintegratedswitch .line-copy-eHRjBE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginintergratedswitchintegratedswitch .empty-rO3tl4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginintergratedswitchintegratedswitch .web-index-title-common-1IRkK5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginintergratedswitchintegratedswitch .line-I71sc7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginintergratedswitchintegratedswitch .home-net-gui-guidelin-I71sc7 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginintergratedswitchintegratedswitch .webgnb-bMMeQM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginintergratedswitchintegratedswitch .rectangle-JpkS6k {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginintergratedswitchintegratedswitch .background-JpkS6k {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginintergratedswitchintegratedswitch .index-JpkS6k {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginintergratedswitchintegratedswitch .web-index-select-4x5zY3 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicepluginintergratedswitchintegratedswitch .web-index-unselect-4x5zY3 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginintergratedswitchintegratedswitch .web-index-unelectmain-JpkS6k {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginintergratedswitchintegratedswitch .logo-AVR8VB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose511 */


/* component - webindexcontents1dpethclose411 */


/* component - webindexcontents1dpethclose311 */


/* component - webindexcontents1dpethclose211 */


/* component - group139 */


/* component - group1211 */


/* component - group1110 */


/* component - group1010 */


/* component - group98 */


/* component - group810 */


/* component - group710 */


/* component - group59 */


/* component - group47 */


/* component - group37 */


/* component - group26 */


/* component - webindexcontents1dpethclose112 */


/* component - webindexcontents1dpethclose30 */


