/* screen - devicefeaturemaindevicefeaturedropdown */

.devicefeaturemaindevicefeaturedropdown {
  background-color: var(--white);
  height: 1743px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .group-19-PEzTfx {
  background-color: transparent;
  height: 274px;
  left: 419px;
  position: absolute;
  top: 794px;
  width: 620px;
}

.devicefeaturemaindevicefeaturedropdown .group-2-PEzTfx {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 1056px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .group-12-PEzTfx {
  background-color: transparent;
  height: 326px;
  left: 420px;
  position: absolute;
  top: 1217px;
  width: 410px;
}

.devicefeaturemaindevicefeaturedropdown .group-11-PEzTfx {
  background-color: transparent;
  height: 274px;
  left: 352px;
  position: absolute;
  top: 375px;
  width: 688px;
}

.devicefeaturemaindevicefeaturedropdown .group-18-PEzTfx {
  background-color: transparent;
  height: 269px;
  left: 1090px;
  position: absolute;
  top: 375px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .group-4-copy-2-LzSf0V {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .group-6-LzSf0V {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .group-16-LzSf0V {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-hr5aor {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2linem-hr5aor {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2linem-0LGHh6 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturedropdown .group-17-LzSf0V {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2linem-VhLOvo {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-VhLOvo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2linem-fxDxPo {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturedropdown .group-18-copy-PEzTfx {
  background-color: transparent;
  height: 162px;
  left: 1090px;
  position: absolute;
  top: 794px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .group-4-copy-3-JuvwHn {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .group-6-JuvwHn {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .group-9-JuvwHn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 730px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2linem-x8BicU {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-x8BicU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2linem-DGkpOu {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturedropdown .web-sub-titlew-description-PEzTfx {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .web-title-area-PEzTfx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .web-tab-device-device-feature-PEzTfx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .x3rd-depth-PSzxJs {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .tab-PSzxJs {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeaturedropdown .types-UKPjrJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturemaindevicefeaturedropdown .service-feature-type-UKPjrJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.devicefeaturemaindevicefeaturedropdown .toggle-UKPjrJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.devicefeaturemaindevicefeaturedropdown .buttons-UKPjrJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.devicefeaturemaindevicefeaturedropdown .buttons-2-UKPjrJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturedropdown .buttons-3-UKPjrJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturedropdown .dropdown-UKPjrJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.devicefeaturemaindevicefeaturedropdown .lnb-favorite-card-PEzTfx {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .rectangle-nVysls {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .background-nVysls {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .stacked-group-nVysls {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-title-common-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose524 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose424 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose324 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpethclose-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group616 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group50 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group519 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group317 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group418 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose125 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected24 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose50 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeaturedropdown .group-rY4MEy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .empty-zvJ8dy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .line-copy-zvJ8dy {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturedropdown .empty-A95j4N {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-title-common-6Y0ExF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .line-nVysls {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeaturedropdown .home-net-gui-guidelin-nVysls {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturemaindevicefeaturedropdown .webgnb-PEzTfx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .rectangle-JGBpFT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .background-JGBpFT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .index-JGBpFT {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-select-OvPQCL {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-unselect-OvPQCL {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-unelectmain-JGBpFT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturemaindevicefeaturedropdown .logo-ZflsvU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose524 */


/* component - webindexcontents1dpethclose424 */


/* component - webindexcontents1dpethclose324 */


/* component - group616 */


/* component - group50 */


/* component - group519 */


/* component - group317 */


/* component - group418 */


/* component - webindexcontents1dpethclose125 */


/* component - webindexcontents1dpethopenselected24 */


/* component - webindexcontents1dpethclose50 */


