/* screen - devicefeatureadditionalinformation */

.devicefeatureadditionalinformation {
  background-color: var(--white);
  height: 1270px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeatureadditionalinformation .group-3-dgL1a0 {
  background-color: transparent;
  height: 620px;
  left: 320px;
  position: absolute;
  top: 342px;
  width: 388px;
}

.devicefeatureadditionalinformation .group-6-dgL1a0 {
  background-color: transparent;
  height: 808px;
  left: 1414px;
  position: absolute;
  top: 342px;
  width: 388px;
}

.devicefeatureadditionalinformation .group-5-dgL1a0 {
  background-color: transparent;
  height: 488px;
  left: 708px;
  position: absolute;
  top: 342px;
  width: 706px;
}

.devicefeatureadditionalinformation .web-sub-titlew-description-dgL1a0 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeatureadditionalinformation .web-title-area-dgL1a0 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeatureadditionalinformation .web-tab-device-e-capabilities-dgL1a0 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeatureadditionalinformation .x3rd-depth-Momh77 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeatureadditionalinformation .tab-Momh77 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeatureadditionalinformation .additional-informati-HcUBE0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 142px;
}

.devicefeatureadditionalinformation .service-feature-type-HcUBE0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 152px;
}

.devicefeatureadditionalinformation .additional-informati-katzpa {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.devicefeatureadditionalinformation .additional-informati-gBAOzw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 151px;
}

.devicefeatureadditionalinformation .additional-informati-7BW9SA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 165px;
}

.devicefeatureadditionalinformation .time-routine-HcUBE0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.devicefeatureadditionalinformation .lnb-favorite-card-dgL1a0 {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation .rectangle-EZKcKZ {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation .background-EZKcKZ {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation .stacked-group-EZKcKZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeatureadditionalinformation .web-index-title-common-fDXfqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose515 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose415 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose315 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeatureadditionalinformation .web-index-contents1dpethclose-fDXfqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group84 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group18 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group76 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group28 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group411 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose116 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose25 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeatureadditionalinformation .group-fDXfqx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .empty-Rxv2Bt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeatureadditionalinformation .line-copy-Rxv2Bt {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeatureadditionalinformation .empty-vGpCDs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation .web-index-title-common-61Gt4S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .line-EZKcKZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeatureadditionalinformation .home-net-gui-guidelin-EZKcKZ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeatureadditionalinformation .webgnb-dgL1a0 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation .rectangle-vh6axt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation .background-vh6axt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation .index-vh6axt {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeatureadditionalinformation .web-index-select-mhDpCz {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeatureadditionalinformation .web-index-unselect-mhDpCz {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeatureadditionalinformation .web-index-unelectmain-vh6axt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeatureadditionalinformation .logo-emH2sW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose515 */


/* component - webindexcontents1dpethclose415 */


/* component - webindexcontents1dpethclose315 */


/* component - group84 */


/* component - group18 */


/* component - group76 */


/* component - group28 */


/* component - group411 */


/* component - webindexcontents1dpethclose116 */


/* component - webindexcontents1dpethopenselected15 */


/* component - webindexcontents1dpethclose25 */


