/* screen - devicefeaturecapabilitiesvaluesliderlinearslider */

.devicefeaturecapabilitiesvaluesliderlinearslider {
  background-color: var(--white);
  height: 1206px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .group-4-l33wxx {
  background-color: transparent;
  height: 664px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 660px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .group-6-l33wxx {
  background-color: transparent;
  height: 183px;
  left: 1090px;
  position: absolute;
  top: 622px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .group-10-l33wxx {
  background-color: transparent;
  height: 180px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .group-3-5N7ZJw {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-text1line-rTqKJ2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-text2linem-copy-3-rTqKJ2 {
  background-color: transparent;
  height: 58px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-text2linem-rTqKJ2 {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .group-7-5N7ZJw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-text2linem-3y1w6r {
  background-color: transparent;
  height: 24px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-text1line-3y1w6r {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-text2linem-vDnmao {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .group-9-5N7ZJw {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-title-xBZRqa {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-title-L3K8Ia {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .table-guide-title-YnO9aI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-sub-titlew-description-l33wxx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-title-area-l33wxx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-tab-device-e-capabilities-l33wxx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .x3rd-depth-2R11Ka {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .tab-2R11Ka {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .types-tQeycX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .service-feature-type-tQeycX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 106px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .value-tQeycX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .value-slider--lin-tQeycX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 177px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .value-slider--ste-tQeycX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .value-switch-sli-tQeycX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .groupping-card-tQeycX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .lnb-favorite-card-l33wxx {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .rectangle-Xcg5Of {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .background-Xcg5Of {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .stacked-group-Xcg5Of {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-index-title-common-UDq9Iw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose516 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose416 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose316 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-index-contents1dpethclose-UDq9Iw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group77 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group19 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group512 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group29 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group312 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose117 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected16 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose26 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .group-UDq9Iw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .empty-n9VAn9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .line-copy-n9VAn9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .empty-6WXD25 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-index-title-common-g7x1gB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .line-Xcg5Of {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .home-net-gui-guidelin-Xcg5Of {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .webgnb-l33wxx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .rectangle-4N40AZ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .background-4N40AZ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .index-4N40AZ {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-index-select-9YYeXd {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-index-unselect-9YYeXd {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .web-index-unelectmain-4N40AZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiesvaluesliderlinearslider .logo-5AeyHB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose516 */


/* component - webindexcontents1dpethclose416 */


/* component - webindexcontents1dpethclose316 */


/* component - group77 */


/* component - group19 */


/* component - group512 */


/* component - group29 */


/* component - group312 */


/* component - webindexcontents1dpethclose117 */


/* component - webindexcontents1dpethopenselected16 */


/* component - webindexcontents1dpethclose26 */


