/* screen - devicepluginlightswitchtype */

.devicepluginlightswitchtype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1270px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginlightswitchtype .group-3-CCwjtF {
  background-color: transparent;
  height: 760px;
  left: 400px;
  position: absolute;
  top: 398px;
  width: 380px;
}

.devicepluginlightswitchtype .table-guide-title-CCwjtF {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.devicepluginlightswitchtype .group-CCwjtF {
  background-color: transparent;
  height: 425px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicepluginlightswitchtype .descriptiontable2line-TSE0o9 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 259px;
  width: 730px;
}

.devicepluginlightswitchtype .table-guide-text1line-jtm0d6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightswitchtype .table-guide-text1line-n8VRAy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .table-guide-text2line-jtm0d6 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .descriptiontable2line-Q9N1mt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 730px;
}

.devicepluginlightswitchtype .table-guide-text1line-CJ3j4x {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightswitchtype .table-guide-text1line-qRjIzY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .table-guide-text2line-CJ3j4x {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .descriptiontable2line-DhgWtq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 730px;
}

.devicepluginlightswitchtype .table-guide-text1line-ynjCE2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightswitchtype .table-guide-text1line-7eZ3v2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .table-guide-text2line-ynjCE2 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .descriptiontable2line-TpsE7b {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 326px;
  width: 730px;
}

.devicepluginlightswitchtype .table-guide-text1line-0UsUq9 {
  background-color: transparent;
  height: 99px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightswitchtype .table-guide-text2line-0UsUq9 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .table-guide-text1line-xBBNOa {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .areasvg-copy-4-0UsUq9 {
  background-color: transparent;
  height: 41px;
  left: 71px;
  position: absolute;
  top: 58px;
  width: 38px;
}

.devicepluginlightswitchtype .areasvg-copy-5-0UsUq9 {
  background-color: transparent;
  height: 41px;
  left: 127px;
  position: absolute;
  top: 58px;
  width: 38px;
}

.devicepluginlightswitchtype .homeicdeviceoff-0UsUq9 {
  background-color: transparent;
  height: 40px;
  left: 128px;
  position: absolute;
  top: 59px;
  width: 37px;
}

.devicepluginlightswitchtype .homeicdeviceon-0UsUq9 {
  background-color: transparent;
  height: 40px;
  left: 71px;
  position: absolute;
  top: 58px;
  width: 37px;
}

.devicepluginlightswitchtype .descriptiontabletop-TSE0o9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicepluginlightswitchtype .descriptiontable2line-m1ebXh {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicepluginlightswitchtype .table-guide-text1line-copy-3-THCj9K {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .table-guide-text2linem-THCj9K {
  background-color: transparent;
  height: 59px;
  left: 63px;
  position: absolute;
  top: 37px;
  width: 295px;
}

.devicepluginlightswitchtype .table-guide-text1line-copy-4-THCj9K {
  background-color: transparent;
  height: 99px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightswitchtype .table-guide-text2linem-copy-3-THCj9K {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .web-sub-title-CCwjtF {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginlightswitchtype .web-title-area-CCwjtF {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginlightswitchtype .web-tab-device-ergrated-switch-CCwjtF {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginlightswitchtype .x3rd-depth-jdjQhs {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginlightswitchtype .tab-66L8qs {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginlightswitchtype .switch-type-J5nVQB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 73px;
}

.devicepluginlightswitchtype .dimmer-type-J5nVQB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 80px;
}

.devicepluginlightswitchtype .lnb-device-plug-in-CCwjtF {
  background-color: transparent;
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .rectangle-PD6css {
  background-color: var(--concrete);
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .stacked-group-PD6css {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-title-common-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose52 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose42 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose32 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose22 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginlightswitchtype .web-index-conte-hopenselected-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group132 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group122 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group112 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group102 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group92 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group82 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group72 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group62 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group52 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose12 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginlightswitchtype .group-DzDCUQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .empty-P7xZZ6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginlightswitchtype .line-copy-P7xZZ6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginlightswitchtype .empty-E4Rzdo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-title-common-34Dltj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .line-PD6css {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginlightswitchtype .home-net-gui-guidelin-PD6css {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginlightswitchtype .webgnb-CCwjtF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginlightswitchtype .rectangle-JShvrI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightswitchtype .background-JShvrI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightswitchtype .index-JShvrI {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginlightswitchtype .web-index-select-WTo2HY {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicepluginlightswitchtype .web-index-unselect-WTo2HY {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginlightswitchtype .web-index-unelectmain-JShvrI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginlightswitchtype .logo-JTbnuq {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose52 */


/* component - webindexcontents1dpethclose42 */


/* component - webindexcontents1dpethclose32 */


/* component - webindexcontents1dpethclose22 */


/* component - group132 */


/* component - group122 */


/* component - group112 */


/* component - group102 */


/* component - group92 */


/* component - group82 */


/* component - group72 */


/* component - group62 */


/* component - group52 */


/* component - group4 */


/* component - group2 */


/* component - webindexcontents1dpethclose12 */


/* component - webindexcontents1dpethclose6 */


