/* screen - devicefeaturecapabilitiestypes */

.devicefeaturecapabilitiestypes {
  background-color: var(--white);
  height: 1236px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiestypes .group-8-B6eVuk {
  background-color: transparent;
  height: 694px;
  left: 320px;
  position: absolute;
  top: 342px;
  width: 1182px;
}

.devicefeaturecapabilitiestypes .web-sub-titlew-description-B6eVuk {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiestypes .web-title-area-B6eVuk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiestypes .web-tab-device-e-capabilities-B6eVuk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiestypes .x3rd-depth-rmX3eU {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiestypes .tab-rmX3eU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiestypes .types-6xsa1j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 36px;
}

.devicefeaturecapabilitiestypes .service-feature-type-6xsa1j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 106px;
}

.devicefeaturecapabilitiestypes .value-6xsa1j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiestypes .value-slider--lin-6xsa1j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiestypes .value-slider--ste-6xsa1j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiestypes .value-switch-sli-6xsa1j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiestypes .groupping-card-6xsa1j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.devicefeaturecapabilitiestypes .lnb-favorite-card-B6eVuk {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiestypes .rectangle-8ITbot {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiestypes .background-8ITbot {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiestypes .stacked-group-8ITbot {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiestypes .web-index-title-common-saixcU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose523 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose423 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose323 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiestypes .web-index-contents1dpethclose-saixcU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group518 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group41 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group417 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group214 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group316 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose124 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected23 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose41 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiestypes .group-saixcU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiestypes .empty-OJIQTN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiestypes .line-copy-OJIQTN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiestypes .empty-43Gc4f {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiestypes .web-index-title-common-lxf1XA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiestypes .line-8ITbot {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiestypes .home-net-gui-guidelin-8ITbot {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiestypes .webgnb-B6eVuk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiestypes .rectangle-xF4c8N {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiestypes .background-xF4c8N {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiestypes .index-xF4c8N {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturecapabilitiestypes .web-index-select-vyqEbh {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturecapabilitiestypes .web-index-unselect-vyqEbh {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturecapabilitiestypes .web-index-unelectmain-xF4c8N {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiestypes .logo-tBsoPX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose523 */


/* component - webindexcontents1dpethclose423 */


/* component - webindexcontents1dpethclose323 */


/* component - group518 */


/* component - group41 */


/* component - group417 */


/* component - group214 */


/* component - group316 */


/* component - webindexcontents1dpethclose124 */


/* component - webindexcontents1dpethopenselected23 */


/* component - webindexcontents1dpethclose41 */


