/* screen - devicepluginventkeyscreen */

.devicepluginventkeyscreen {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1550px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginventkeyscreen .group-2-XU2ZDx {
  background-color: transparent;
  height: 952px;
  left: 400px;
  position: absolute;
  top: 398px;
  width: 380px;
}

.devicepluginventkeyscreen .table-guide-title-XU2ZDx {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.devicepluginventkeyscreen .group-XU2ZDx {
  background-color: transparent;
  height: 363px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicepluginventkeyscreen .descriptiontable2line-xJAhNL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 730px;
}

.devicepluginventkeyscreen .table-guide-text1line-S353YN {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginventkeyscreen .table-guide-text1line-4ZK0S4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginventkeyscreen .table-guide-text2line-S353YN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginventkeyscreen .descriptiontable2line-5K9mi6 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 730px;
}

.devicepluginventkeyscreen .table-guide-text1line-GqiJYl {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginventkeyscreen .table-guide-text1line-wgt5n3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginventkeyscreen .table-guide-text2line-GqiJYl {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginventkeyscreen .descriptiontable2line-oYK9kI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 730px;
}

.devicepluginventkeyscreen .table-guide-text1line-5ysL1X {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginventkeyscreen .table-guide-text1line-yxhHJA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginventkeyscreen .table-guide-text2line-5ysL1X {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginventkeyscreen .descriptiontable2line-HQ3TBw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 259px;
  width: 730px;
}

.devicepluginventkeyscreen .table-guide-text1line-SI4Uzd {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginventkeyscreen .table-guide-text1line-4UAjme {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginventkeyscreen .table-guide-text2line-SI4Uzd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginventkeyscreen .descriptiontabletop-xJAhNL {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicepluginventkeyscreen .descriptiontable2line-p147SY {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicepluginventkeyscreen .table-guide-text1line-copy-3-8pxTjT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginventkeyscreen .table-guide-text2linem-8pxTjT {
  background-color: transparent;
  height: 59px;
  left: 62px;
  position: absolute;
  top: 37px;
  width: 295px;
}

.devicepluginventkeyscreen .table-guide-text1line-copy-4-8pxTjT {
  background-color: transparent;
  height: 99px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginventkeyscreen .table-guide-text2linem-copy-3-8pxTjT {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginventkeyscreen .web-sub-title-XU2ZDx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginventkeyscreen .web-title-area-XU2ZDx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginventkeyscreen .lnb-device-plug-in-XU2ZDx {
  background-color: transparent;
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginventkeyscreen .rectangle-nHbjuF {
  background-color: var(--concrete);
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginventkeyscreen .stacked-group-nHbjuF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginventkeyscreen .web-index-title-common-FNNmyd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose517 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose417 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose317 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose217 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginventkeyscreen .web-index-conte-hopenselected-FNNmyd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1313 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1215 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1115 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1016 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group913 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group815 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group716 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group614 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group515 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group413 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group312 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose118 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose60 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginventkeyscreen .group-FNNmyd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginventkeyscreen .empty-tmhvVr {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginventkeyscreen .line-copy-tmhvVr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginventkeyscreen .empty-sLURnB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginventkeyscreen .web-index-title-common-x4JShe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginventkeyscreen .line-nHbjuF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginventkeyscreen .home-net-gui-guidelin-nHbjuF {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginventkeyscreen .webgnb-XU2ZDx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginventkeyscreen .rectangle-uDDxdi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginventkeyscreen .background-uDDxdi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginventkeyscreen .index-uDDxdi {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginventkeyscreen .web-index-select-Bu5yNx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicepluginventkeyscreen .web-index-unselect-Bu5yNx {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginventkeyscreen .web-index-unelectmain-uDDxdi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginventkeyscreen .logo-3pI3vm {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose517 */


/* component - webindexcontents1dpethclose417 */


/* component - webindexcontents1dpethclose317 */


/* component - webindexcontents1dpethclose217 */


/* component - group1313 */


/* component - group1215 */


/* component - group1115 */


/* component - group1016 */


/* component - group913 */


/* component - group815 */


/* component - group716 */


/* component - group614 */


/* component - group515 */


/* component - group413 */


/* component - group312 */


/* component - webindexcontents1dpethclose118 */


/* component - webindexcontents1dpethclose60 */


