/* screen - devicepluginmain */

.devicepluginmain {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1260px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginmain .lnb-device-plug-in-x8si9G {
  background-color: transparent;
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginmain .rectangle-2H7QaI {
  background-color: var(--concrete);
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginmain .stacked-group-2H7QaI {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginmain .web-index-title-common-jugiwo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose510 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose410 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose310 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose210 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginmain .web-index-conte-hopenselected-jugiwo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1210 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group119 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group109 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group97 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group89 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group79 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group68 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group46 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group36 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group20 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose111 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose21 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginmain .group-jugiwo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginmain .empty-U2AElq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginmain .line-copy-U2AElq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginmain .empty-cCQTFL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginmain .web-index-title-common-11EQ8a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginmain .line-2H7QaI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginmain .home-net-gui-guidelin-2H7QaI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginmain .webgnb-x8si9G {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginmain .rectangle-qlQSyJ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginmain .background-qlQSyJ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginmain .index-qlQSyJ {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginmain .web-index-select-5D9Dxx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicepluginmain .web-index-unselect-5D9Dxx {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginmain .web-index-unelectmain-qlQSyJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginmain .logo-oKnUl7 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginmain .group-2-x8si9G {
  background-color: transparent;
  height: 770px;
  left: 420px;
  position: absolute;
  top: 290px;
  width: 514px;
}

.devicepluginmain .title-copy-4-x8si9G {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-samsungone-500);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0.7;
  position: absolute;
  text-align: left;
  top: 622px;
  white-space: nowrap;
  width: auto;
}

.devicepluginmain .title-copy-6-x8si9G {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-samsungone-500);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 742px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0.7;
  position: absolute;
  text-align: left;
  top: 622px;
  white-space: nowrap;
  width: auto;
}
/* component - webindexcontents1dpethclose510 */


/* component - webindexcontents1dpethclose410 */


/* component - webindexcontents1dpethclose310 */


/* component - webindexcontents1dpethclose210 */


/* component - group1210 */


/* component - group119 */


/* component - group109 */


/* component - group97 */


/* component - group89 */


/* component - group79 */


/* component - group68 */


/* component - group58 */


/* component - group46 */


/* component - group36 */


/* component - group20 */


/* component - webindexcontents1dpethclose111 */


/* component - webindexcontents1dpethclose21 */


