/* screen - deviceplugindeviceplugintimeroutine */

.deviceplugindeviceplugintimeroutine {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3502px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.deviceplugindeviceplugintimeroutine .group-4-3lmCeh {
  background-color: transparent;
  height: 870px;
  left: 400px;
  position: absolute;
  top: 2432px;
  width: 640px;
}

.deviceplugindeviceplugintimeroutine .group-13-3lmCeh {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 2432px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .descriptiontabletop-jtvfzi {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .descriptiontable2line-jtvfzi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-U7jG7F {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-copy-4-U7jG7F {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2linem-U7jG7F {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.deviceplugindeviceplugintimeroutine .group-10-3lmCeh {
  background-color: transparent;
  height: 870px;
  left: 420px;
  position: absolute;
  top: 1362px;
  width: 360px;
}

.deviceplugindeviceplugintimeroutine .group-7-3lmCeh {
  background-color: transparent;
  height: 870px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 640px;
}

.deviceplugindeviceplugintimeroutine .group-8-3lmCeh {
  background-color: transparent;
  height: 187px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .descriptiontabletop-faVHQQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .descriptiontable2line-faVHQQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-copy-4-gxvYjG {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-gxvYjG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2linem-gxvYjG {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.deviceplugindeviceplugintimeroutine .descriptiontable2line-HfsUoI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-copy-4-1Cov7t {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-copy-1Cov7t {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2linem-copy-1Cov7t {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.deviceplugindeviceplugintimeroutine .descriptiontable2line-udDMIc {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-copy-4-AS6UDq {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-copy-2-AS6UDq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2linem-copy-3-AS6UDq {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.deviceplugindeviceplugintimeroutine .web-sub-title-3lmCeh {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.deviceplugindeviceplugintimeroutine .web-title-area-3lmCeh {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugindeviceplugintimeroutine .web-tab-device-ergrated-switch-3lmCeh {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugindeviceplugintimeroutine .x3rd-depth-ML7AhU {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.deviceplugindeviceplugintimeroutine .tab-V9lLbJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.deviceplugindeviceplugintimeroutine .key-screen-MC1DST {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 66px;
}

.deviceplugindeviceplugintimeroutine .time-routine-MC1DST {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.deviceplugindeviceplugintimeroutine .activity-history-MC1DST {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.deviceplugindeviceplugintimeroutine .lnb-device-plug-in-3lmCeh {
  background-color: transparent;
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .rectangle-DBAPq2 {
  background-color: var(--concrete);
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .stacked-group-DBAPq2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .web-index-title-common-p3RFUn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose520 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose420 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose320 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose220 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.deviceplugindeviceplugintimeroutine .web-index-conte-hopenselected-p3RFUn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group164 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group154 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group147 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1217 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1118 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group916 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group617 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group518 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group314 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group214 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group40 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose121 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose63 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.deviceplugindeviceplugintimeroutine .group-p3RFUn {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .empty-fOXjSX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .line-copy-fOXjSX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.deviceplugindeviceplugintimeroutine .empty-AxGdx5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .web-index-title-common-rkBtcz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .line-DBAPq2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugindeviceplugintimeroutine .home-net-gui-guidelin-DBAPq2 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.deviceplugindeviceplugintimeroutine .webgnb-3lmCeh {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.deviceplugindeviceplugintimeroutine .rectangle-KDDuez {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugindeviceplugintimeroutine .background-KDDuez {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugindeviceplugintimeroutine .index-KDDuez {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.deviceplugindeviceplugintimeroutine .web-index-select-e5nSxN {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.deviceplugindeviceplugintimeroutine .web-index-unselect-e5nSxN {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.deviceplugindeviceplugintimeroutine .web-index-unelectmain-KDDuez {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.deviceplugindeviceplugintimeroutine .logo-Navmqd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose520 */


/* component - webindexcontents1dpethclose420 */


/* component - webindexcontents1dpethclose320 */


/* component - webindexcontents1dpethclose220 */


/* component - group164 */


/* component - group154 */


/* component - group147 */


/* component - group1217 */


/* component - group1118 */


/* component - group916 */


/* component - group617 */


/* component - group518 */


/* component - group314 */


/* component - group214 */


/* component - group40 */


/* component - webindexcontents1dpethclose121 */


/* component - webindexcontents1dpethclose63 */


