/* screen - devicefeaturecapabilitiesvaluesliderstepgrade */

.devicefeaturecapabilitiesvaluesliderstepgrade {
  background-color: var(--white);
  height: 2974px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-7-xCQW6j {
  background-color: transparent;
  height: 312px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 640px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-3-xCQW6j {
  background-color: transparent;
  height: 339px;
  left: 400px;
  position: absolute;
  top: 804px;
  width: 357px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-5-xCQW6j {
  background-color: transparent;
  height: 355px;
  left: 420px;
  position: absolute;
  top: 1293px;
  width: 337px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-19-xCQW6j {
  background-color: transparent;
  height: 926px;
  left: 420px;
  position: absolute;
  top: 1848px;
  width: 1400px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-10-xCQW6j {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-9-4N3hZg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text2linem-KfxH7P {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text1line-KfxH7P {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text2linem-ZnWfN4 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-6-4N3hZg {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-sub-titlew-description-xCQW6j {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-title-area-xCQW6j {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-tab-device-e-capabilities-xCQW6j {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .x3rd-depth-ZU2pHN {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .tab-ZU2pHN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .types-2XHc13 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .service-feature-type-2XHc13 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 106px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-2XHc13 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-slider--lin-2XHc13 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-slider--ste-2XHc13 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-switch-sli-2XHc13 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .groupping-card-2XHc13 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .lnb-favorite-card-xCQW6j {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .rectangle-v2Kzyj {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .background-v2Kzyj {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .stacked-group-v2Kzyj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-title-common-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose522 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose422 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose322 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpethclose-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group85 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group40 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group615 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group213 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group416 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose123 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected22 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose40 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-W1ioxO {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .empty-T8EHTo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .line-copy-T8EHTo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .empty-UeHFfw {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-title-common-8x63qT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .line-v2Kzyj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .home-net-gui-guidelin-v2Kzyj {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .webgnb-xCQW6j {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .rectangle-Jhdidi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .background-Jhdidi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .index-Jhdidi {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-select-zcMgcu {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-unselect-zcMgcu {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-unelectmain-Jhdidi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .logo-jCQCAx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose522 */


/* component - webindexcontents1dpethclose422 */


/* component - webindexcontents1dpethclose322 */


/* component - group85 */


/* component - group40 */


/* component - group615 */


/* component - group213 */


/* component - group416 */


/* component - webindexcontents1dpethclose123 */


/* component - webindexcontents1dpethopenselected22 */


/* component - webindexcontents1dpethclose40 */


