/* screen - devicefeatureadditionalinformation2 */

.devicefeatureadditionalinformation2 {
  background-color: var(--white);
  height: 1082px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .group-3-HnsIvt {
  background-color: transparent;
  height: 176px;
  left: 358px;
  position: absolute;
  top: 706px;
  width: 438px;
}

.devicefeatureadditionalinformation2 .group-6-HnsIvt {
  background-color: transparent;
  height: 183px;
  left: 1090px;
  position: absolute;
  top: 631px;
  width: 730px;
}

.devicefeatureadditionalinformation2 .group-10-HnsIvt {
  background-color: transparent;
  height: 214px;
  left: 358px;
  position: absolute;
  top: 342px;
  width: 682px;
}

.devicefeatureadditionalinformation2 .group-9-HnsIvt {
  background-color: transparent;
  height: 189px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicefeatureadditionalinformation2 .group-7-vLEVmd {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeatureadditionalinformation2 .group-8-vLEVmd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeatureadditionalinformation2 .table-guide-text2lineb-2nwd1k {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeatureadditionalinformation2 .table-guide-text1line-2nwd1k {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation2 .table-guide-text1line-Fo2C2p {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeatureadditionalinformation2 .descriptiontabletop-vLEVmd {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeatureadditionalinformation2 .web-sub-titlew-description-HnsIvt {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .web-title-area-HnsIvt {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .web-tab-device-e-capabilities-HnsIvt {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .x3rd-depth-VOjiXP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .tab-VOjiXP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeatureadditionalinformation2 .additional-informati-Ywj9Tl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 140px;
}

.devicefeatureadditionalinformation2 .service-feature-type-Ywj9Tl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 152px;
}

.devicefeatureadditionalinformation2 .additional-informati-BFEZZ9 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 155px;
}

.devicefeatureadditionalinformation2 .additional-informati-WlsIeF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 151px;
}

.devicefeatureadditionalinformation2 .additional-informati-0BiKjC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 165px;
}

.devicefeatureadditionalinformation2 .time-routine-Ywj9Tl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.devicefeatureadditionalinformation2 .lnb-favorite-card-HnsIvt {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .rectangle-0VMvIn {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .background-0VMvIn {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .stacked-group-0VMvIn {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-title-common-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpethclose-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeatureadditionalinformation2 .group-9Z7Xh9 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .empty-G7hJco {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .line-copy-G7hJco {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeatureadditionalinformation2 .empty-Ec6y91 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-title-common-9Z7Xh9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .line-0VMvIn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeatureadditionalinformation2 .home-net-gui-guidelin-0VMvIn {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeatureadditionalinformation2 .webgnb-HnsIvt {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .rectangle-MwLTe8 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .background-MwLTe8 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .index-MwLTe8 {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeatureadditionalinformation2 .web-index-select-EpSL6O {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeatureadditionalinformation2 .web-index-unselect-EpSL6O {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeatureadditionalinformation2 .web-index-unelectmain-MwLTe8 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeatureadditionalinformation2 .logo-74Y2lz {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose5 */


/* component - webindexcontents1dpethclose4 */


/* component - webindexcontents1dpethclose3 */


/* component - group7 */


/* component - group */


/* component - group5 */


/* component - group2 */


/* component - group4 */


/* component - webindexcontents1dpethclose1 */


/* component - webindexcontents1dpethopenselected */


/* component - webindexcontents1dpethclose */


