/* screen - devicefeaturemaindevicefeaturebuttons */

.devicefeaturemaindevicefeaturebuttons {
  background-color: var(--white);
  height: 1092px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons .group-8-tcRsSD {
  background-color: transparent;
  height: 251px;
  left: 380px;
  position: absolute;
  top: 375px;
  width: 660px;
}

.devicefeaturemaindevicefeaturebuttons .group-2-tcRsSD {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 799px;
  width: 730px;
}

.devicefeaturemaindevicefeaturebuttons .group-10-tcRsSD {
  background-color: transparent;
  height: 324px;
  left: 1090px;
  position: absolute;
  top: 375px;
  width: 730px;
}

.devicefeaturemaindevicefeaturebuttons .web-sub-titlew-description-tcRsSD {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons .web-title-area-tcRsSD {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons .web-tab-device-device-feature-tcRsSD {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons .x3rd-depth-M7LNzs {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons .tab-M7LNzs {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeaturebuttons .types-JOXRDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturemaindevicefeaturebuttons .service-feature-type-JOXRDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.devicefeaturemaindevicefeaturebuttons .toggle-JOXRDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.devicefeaturemaindevicefeaturebuttons .buttons-JOXRDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 50px;
}

.devicefeaturemaindevicefeaturebuttons .buttons-2-JOXRDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturebuttons .buttons-3-JOXRDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturebuttons .dropdown-JOXRDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 64px;
}

.devicefeaturemaindevicefeaturebuttons .lnb-favorite-card-tcRsSD {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .rectangle-4OHLNw {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .background-4OHLNw {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .stacked-group-4OHLNw {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .web-index-title-common-gyAzxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose45 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose35 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeaturebuttons .web-index-contents1dpethclose-gyAzxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group64 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group10 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group54 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group33 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group44 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeaturebuttons .group-gyAzxl {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .empty-dWN9fF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .line-copy-dWN9fF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons .empty-EsfxNJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .web-index-title-common-UbgYiP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons .line-4OHLNw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons .home-net-gui-guidelin-4OHLNw {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturemaindevicefeaturebuttons .webgnb-tcRsSD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons .rectangle-9SwF43 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons .background-9SwF43 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons .index-9SwF43 {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturemaindevicefeaturebuttons .web-index-select-Q5l0Hf {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturemaindevicefeaturebuttons .web-index-unselect-Q5l0Hf {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturemaindevicefeaturebuttons .web-index-unelectmain-9SwF43 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturemaindevicefeaturebuttons .logo-lC3INR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose55 */


/* component - webindexcontents1dpethclose45 */


/* component - webindexcontents1dpethclose35 */


/* component - group64 */


/* component - group10 */


/* component - group54 */


/* component - group33 */


/* component - group44 */


/* component - webindexcontents1dpethclose15 */


/* component - webindexcontents1dpethopenselected5 */


/* component - webindexcontents1dpethclose8 */


