/* screen - devicefeaturecapabilitiesgroupingcard */

.devicefeaturecapabilitiesgroupingcard {
  background-color: var(--white);
  height: 3067px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiesgroupingcard .group-18-riLDXl {
  background-color: transparent;
  height: 140px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .group-15-bt2FYE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-uCxoir {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text1line-uCxoir {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-3GFdxL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .group-14-bt2FYE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text1line-xmN9gh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-copy-2-xmN9gh {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-xmN9gh {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .group-17-bt2FYE {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-xI8Qi3 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-BYcBpT {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-mVdxkZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .group-18-copy-riLDXl {
  background-color: transparent;
  height: 140px;
  left: 1090px;
  position: absolute;
  top: 1094px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .group-15-fkvWZm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-tx1dP2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text1line-tx1dP2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-WwjlUI {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .group-14-fkvWZm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text1line-15i2VS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-copy-2-15i2VS {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-15i2VS {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .group-17-fkvWZm {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-VH8xNb {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-KbZf6n {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-HaAnl4 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .group-18-copy-2-riLDXl {
  background-color: transparent;
  height: 206px;
  left: 1090px;
  position: absolute;
  top: 1587px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .group-16-Xi5n5u {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .group-3-Xi5n5u {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-aS5KRt {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text1line-aS5KRt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-text2linem-Zh3xZa {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .group-17-Xi5n5u {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-R5inQW {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-A5Bmhl {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiesgroupingcard .table-guide-title-y8yjqd {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesgroupingcard .group-4-riLDXl {
  background-color: transparent;
  height: 244px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 640px;
}

.devicefeaturecapabilitiesgroupingcard .group-9-riLDXl {
  background-color: transparent;
  height: 210px;
  left: 420px;
  position: absolute;
  top: 734px;
  width: 600px;
}

.devicefeaturecapabilitiesgroupingcard .group-8-riLDXl {
  background-color: transparent;
  height: 307px;
  left: 364px;
  position: absolute;
  top: 1094px;
  width: 656px;
}

.devicefeaturecapabilitiesgroupingcard .group-riLDXl {
  background-color: transparent;
  height: 103px;
  left: 1090px;
  position: absolute;
  top: 1334px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .group-13-riLDXl {
  background-color: transparent;
  height: 525px;
  left: 380px;
  position: absolute;
  top: 1587px;
  width: 377px;
}

.devicefeaturecapabilitiesgroupingcard .group-12-riLDXl {
  background-color: transparent;
  height: 271px;
  left: 370px;
  position: absolute;
  top: 2129px;
  width: 650px;
}

.devicefeaturecapabilitiesgroupingcard .group-7-riLDXl {
  background-color: transparent;
  height: 236px;
  left: 420px;
  position: absolute;
  top: 2548px;
  width: 600px;
}

.devicefeaturecapabilitiesgroupingcard .group-11-riLDXl {
  background-color: transparent;
  height: 345px;
  left: 1090px;
  position: absolute;
  top: 2129px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .group-2-riLDXl {
  background-color: transparent;
  height: 293px;
  left: 1090px;
  position: absolute;
  top: 2574px;
  width: 730px;
}

.devicefeaturecapabilitiesgroupingcard .web-sub-titlew-description-riLDXl {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiesgroupingcard .web-title-area-riLDXl {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiesgroupingcard .web-tab-device-e-capabilities-riLDXl {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiesgroupingcard .x3rd-depth-rax5DP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiesgroupingcard .tab-rax5DP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiesgroupingcard .types-li7QSQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesgroupingcard .service-feature-type-li7QSQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 106px;
}

.devicefeaturecapabilitiesgroupingcard .value-li7QSQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesgroupingcard .value-slider--lin-li7QSQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiesgroupingcard .value-slider--ste-li7QSQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiesgroupingcard .value-switch-sli-li7QSQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiesgroupingcard .groupping-card-li7QSQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.devicefeaturecapabilitiesgroupingcard .lnb-favorite-card-riLDXl {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .rectangle-ZV0MG1 {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .background-ZV0MG1 {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .stacked-group-ZV0MG1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .web-index-title-common-16eugD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose48 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose38 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiesgroupingcard .web-index-contents1dpethclose-16eugD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group14 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group35 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group102 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group57 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group66 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose18 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose11 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiesgroupingcard .group-16eugD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .empty-gYStRI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .line-copy-gYStRI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiesgroupingcard .empty-cNRExx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .web-index-title-common-pp6NN4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesgroupingcard .line-ZV0MG1 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiesgroupingcard .home-net-gui-guidelin-ZV0MG1 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiesgroupingcard .webgnb-riLDXl {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesgroupingcard .rectangle-UTEIqf {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesgroupingcard .background-UTEIqf {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesgroupingcard .index-UTEIqf {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturecapabilitiesgroupingcard .web-index-select-dukvHa {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturecapabilitiesgroupingcard .web-index-unselect-dukvHa {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturecapabilitiesgroupingcard .web-index-unelectmain-UTEIqf {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiesgroupingcard .logo-J3vsbO {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose58 */


/* component - webindexcontents1dpethclose48 */


/* component - webindexcontents1dpethclose38 */


/* component - group14 */


/* component - group35 */


/* component - group102 */


/* component - group57 */


/* component - group66 */


/* component - webindexcontents1dpethclose18 */


/* component - webindexcontents1dpethopenselected8 */


/* component - webindexcontents1dpethclose11 */


