/* screen - devicepluginthermostatmodeon */

.devicepluginthermostatmodeon {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2203px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginthermostatmodeon .group-2-6AE6xm {
  background-color: transparent;
  height: 775px;
  left: 400px;
  position: absolute;
  top: 398px;
  width: 380px;
}

.devicepluginthermostatmodeon .group-2-OGEKyt {
  background-color: transparent;
  height: 240px;
  left: 420px;
  position: absolute;
  top: 1763px;
  width: 336px;
}

.devicepluginthermostatmodeon .group-5-6AE6xm {
  background-color: transparent;
  height: 241px;
  left: 400px;
  position: absolute;
  top: 1373px;
  width: 640px;
}

.devicepluginthermostatmodeon .table-guide-title-6AE6xm {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.devicepluginthermostatmodeon .group-9-6AE6xm {
  background-color: transparent;
  height: 308px;
  left: 1090px;
  position: absolute;
  top: 1373px;
  width: 730px;
}

.devicepluginthermostatmodeon .descriptiontabletop-4f8TiW {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicepluginthermostatmodeon .descriptiontable2line-4f8TiW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 162px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-AkBM9R {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-SmdxuD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-AkBM9R {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontable2line-R67W7b {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 209px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-nGXft6 {
  background-color: transparent;
  height: 99px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-yA6Wkp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-nGXft6 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontable2line-yLK8Go {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-copy-3-EMtPzv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text1line-copy-4-EMtPzv {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text2linem-EMtPzv {
  background-color: transparent;
  height: 59px;
  left: 62px;
  position: absolute;
  top: 37px;
  width: 295px;
}

.devicepluginthermostatmodeon .table-guide-text2linem-copy-3-EMtPzv {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .group-4-6AE6xm {
  background-color: transparent;
  height: 348px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicepluginthermostatmodeon .descriptiontable2line-WNhg7M {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-xDPZDF {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-BZConz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-xDPZDF {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontable2line-j1lpDH {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-fgsKKJ {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-ux5qax {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-fgsKKJ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontable2line-tw0dA2 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 291px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-7BR87a {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-x4ZvS3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-7BR87a {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontable2line-b1Bejx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-l2XG1R {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-NAt59z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-l2XG1R {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontable2line-heA7Di {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-CrWm5g {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-fVECcU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-CrWm5g {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontable2line-RSsEA8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicepluginthermostatmodeon .table-guide-text1line-0BxVby {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginthermostatmodeon .table-guide-text1line-ak9Qf0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostatmodeon .table-guide-text2line-0BxVby {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginthermostatmodeon .descriptiontabletop-WNhg7M {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicepluginthermostatmodeon .web-sub-title-6AE6xm {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginthermostatmodeon .web-title-area-6AE6xm {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginthermostatmodeon .lnb-device-plug-in-6AE6xm {
  background-color: transparent;
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginthermostatmodeon .rectangle-xacTA8 {
  background-color: var(--concrete);
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginthermostatmodeon .stacked-group-xacTA8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginthermostatmodeon .web-index-title-common-3trZc1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose57 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose47 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose37 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose27 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginthermostatmodeon .web-index-conte-hopenselected-3trZc1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group152 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group143 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group137 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group127 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group117 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group107 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group86 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group77 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group67 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group33 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group17 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose17 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose11 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginthermostatmodeon .group-3trZc1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostatmodeon .empty-m20wJF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginthermostatmodeon .line-copy-m20wJF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginthermostatmodeon .empty-Qm0vF0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginthermostatmodeon .web-index-title-common-zV3hcZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostatmodeon .line-xacTA8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginthermostatmodeon .home-net-gui-guidelin-xacTA8 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginthermostatmodeon .webgnb-6AE6xm {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginthermostatmodeon .rectangle-xSXDmk {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginthermostatmodeon .background-xSXDmk {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginthermostatmodeon .index-xSXDmk {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginthermostatmodeon .web-index-select-ZClkkf {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicepluginthermostatmodeon .web-index-unselect-ZClkkf {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginthermostatmodeon .web-index-unelectmain-xSXDmk {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginthermostatmodeon .logo-qyVkq2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose57 */


/* component - webindexcontents1dpethclose47 */


/* component - webindexcontents1dpethclose37 */


/* component - webindexcontents1dpethclose27 */


/* component - group152 */


/* component - group143 */


/* component - group137 */


/* component - group127 */


/* component - group117 */


/* component - group107 */


/* component - group86 */


/* component - group77 */


/* component - group67 */


/* component - group33 */


/* component - group17 */


/* component - webindexcontents1dpethclose17 */


/* component - webindexcontents1dpethclose11 */


