/* screen - devicefeaturecapabilitiescardbasiclayout */

.devicefeaturecapabilitiescardbasiclayout {
  background-color: var(--white);
  height: 2903px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .group-5-LbLHQi {
  background-color: transparent;
  height: 411px;
  left: 380px;
  position: absolute;
  top: 1072px;
  width: 417px;
}

.devicefeaturecapabilitiescardbasiclayout .group-9-LbLHQi {
  background-color: transparent;
  height: 208px;
  left: 380px;
  position: absolute;
  top: 714px;
  width: 490px;
}

.devicefeaturecapabilitiescardbasiclayout .group-14-LbLHQi {
  background-color: transparent;
  height: 236px;
  left: 380px;
  position: absolute;
  top: 1582px;
  width: 416px;
}

.devicefeaturecapabilitiescardbasiclayout .group-15-LbLHQi {
  background-color: transparent;
  height: 813px;
  left: 364px;
  position: absolute;
  top: 1890px;
  width: 432px;
}

.devicefeaturecapabilitiescardbasiclayout .group-16-LbLHQi {
  background-color: transparent;
  height: 120px;
  left: 1090px;
  position: absolute;
  top: 2083px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-16-copy-LbLHQi {
  background-color: transparent;
  height: 120px;
  left: 1090px;
  position: absolute;
  top: 691px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-16-copy-2-LbLHQi {
  background-color: transparent;
  height: 120px;
  left: 1090px;
  position: absolute;
  top: 1072px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-25-LbLHQi {
  background-color: transparent;
  height: 224px;
  left: 399px;
  position: absolute;
  top: 342px;
  width: 641px;
}

.devicefeaturecapabilitiescardbasiclayout .group-24-LbLHQi {
  background-color: transparent;
  height: 113px;
  left: 1090px;
  position: absolute;
  top: 1582px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-23-X9jtFQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-wDAvu9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-copy-2-wDAvu9 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-wDAvu9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiescardbasiclayout .group-6-X9jtFQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-24-copy-LbLHQi {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 1890px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-20-EVWzSr {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-Ue7MO1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-Ue7MO1 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-m7I6BX {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiescardbasiclayout .group-6-EVWzSr {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-22-LbLHQi {
  background-color: transparent;
  height: 249px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-19-PDxnIG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-QbeZC6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-QbeZC6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-GXYTzN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiescardbasiclayout .group-21-PDxnIG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-QNaSFC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-QNaSFC {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2linem-SNCTAD {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturecapabilitiescardbasiclayout .group-3-PDxnIG {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .group-6-PDxnIG {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturecapabilitiescardbasiclayout .web-sub-titlew-description-LbLHQi {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .web-title-area-LbLHQi {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .web-tab-device-e-capabilities-LbLHQi {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .x3rd-depth-tyetB2 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .tab-tyetB2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiescardbasiclayout .types-N9xLab {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiescardbasiclayout .service-feature-type-N9xLab {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.devicefeaturecapabilitiescardbasiclayout .value-N9xLab {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiescardbasiclayout .value-slider--lin-N9xLab {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiescardbasiclayout .value-slider--ste-N9xLab {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiescardbasiclayout .value-switch-sli-N9xLab {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiescardbasiclayout .groupping-card-N9xLab {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.devicefeaturecapabilitiescardbasiclayout .lnb-favorite-card-LbLHQi {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .rectangle-GPGESh {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .background-GPGESh {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .stacked-group-GPGESh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-title-common-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose53 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose43 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose33 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpethclose-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group62 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group43 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group22 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group32 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose13 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturecapabilitiescardbasiclayout .group-CZ6Cn0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .empty-0LJlNs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .line-copy-0LJlNs {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiescardbasiclayout .empty-sgCS7s {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-title-common-MjfxF7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .line-GPGESh {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiescardbasiclayout .home-net-gui-guidelin-GPGESh {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiescardbasiclayout .webgnb-LbLHQi {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .rectangle-RyNDmc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .background-RyNDmc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .index-RyNDmc {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-select-eRj7N0 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-unselect-eRj7N0 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-unelectmain-RyNDmc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiescardbasiclayout .logo-SSblxa {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose53 */


/* component - webindexcontents1dpethclose43 */


/* component - webindexcontents1dpethclose33 */


/* component - group62 */


/* component - group8 */


/* component - group43 */


/* component - group22 */


/* component - group32 */


/* component - webindexcontents1dpethclose13 */


/* component - webindexcontents1dpethopenselected3 */


/* component - webindexcontents1dpethclose6 */


