/* screen - devicefeaturemaindevicefeuretoggleadjuststepslider */

.devicefeaturemaindevicefeuretoggleadjuststepslider {
  background-color: var(--white);
  height: 1269px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-3-Qx35P5 {
  background-color: transparent;
  height: 290px;
  left: 380px;
  position: absolute;
  top: 375px;
  width: 660px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-sub-titlew-description-Qx35P5 {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-4-Qx35P5 {
  background-color: transparent;
  height: 257px;
  left: 400px;
  position: absolute;
  top: 813px;
  width: 357px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-8-Qx35P5 {
  background-color: transparent;
  height: 187px;
  left: 1090px;
  position: absolute;
  top: 375px;
  width: 730px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-6-1DK2gJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text1line-mRjr32 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text2linem-mRjr32 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text2linem-c32cWs {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-7-1DK2gJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text2linem-2Azcx5 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text1line-2Azcx5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text2linem-8qbzRZ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-1DK2gJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text1line-M6VRa1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text2linem-M6VRa1 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-text2linem-XxL871 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-11-1DK2gJ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-title-Ax8Ur8 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-title-yVyvfL {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .table-guide-title-r92wi3 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-title-area-Qx35P5 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-tab-device-device-feature-Qx35P5 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .x3rd-depth-ZYpMuo {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .tab-ZYpMuo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .toggle-adjust--st-CNZ3ZZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 177px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .service-feature-type-CNZ3ZZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .toggle-adjust--li-CNZ3ZZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .lnb-favorite-card-Qx35P5 {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .rectangle-UA9Zxo {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .background-UA9Zxo {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .stacked-group-UA9Zxo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-index-title-common-7xz5O9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose54 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose44 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose34 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-index-contents1dpethclose-7xz5O9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group73 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group63 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group23 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group53 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose14 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .group-7xz5O9 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .empty-AaJVPY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .line-copy-AaJVPY {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .empty-dD3rGM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-index-title-common-fU8h34 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .line-UA9Zxo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .home-net-gui-guidelin-UA9Zxo {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .webgnb-Qx35P5 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .rectangle-5bmvWN {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .background-5bmvWN {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .index-5bmvWN {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-index-select-xD9GUs {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-index-unselect-xD9GUs {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .web-index-unelectmain-5bmvWN {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturemaindevicefeuretoggleadjuststepslider .logo-37ukPv {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose54 */


/* component - webindexcontents1dpethclose44 */


/* component - webindexcontents1dpethclose34 */


/* component - group73 */


/* component - group9 */


/* component - group63 */


/* component - group23 */


/* component - group53 */


/* component - webindexcontents1dpethclose14 */


/* component - webindexcontents1dpethopenselected4 */


/* component - webindexcontents1dpethclose7 */


