/* screen - devicefeatureadditionalinformation1 */

.devicefeatureadditionalinformation1 {
  background-color: var(--white);
  height: 2015px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .group-11-WA6cxx {
  background-color: transparent;
  height: 468px;
  left: 372px;
  position: absolute;
  top: 342px;
  width: 668px;
}

.devicefeatureadditionalinformation1 .group-10-WA6cxx {
  background-color: transparent;
  height: 208px;
  left: 372px;
  position: absolute;
  top: 926px;
  width: 424px;
}

.devicefeatureadditionalinformation1 .group-9-WA6cxx {
  background-color: transparent;
  height: 329px;
  left: 372px;
  position: absolute;
  top: 1250px;
  width: 424px;
}

.devicefeatureadditionalinformation1 .group-WA6cxx {
  background-color: transparent;
  height: 120px;
  left: 383px;
  position: absolute;
  top: 1695px;
  width: 384px;
}

.devicefeatureadditionalinformation1 .group-6-WA6cxx {
  background-color: transparent;
  height: 119px;
  left: 1090px;
  position: absolute;
  top: 582px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-16-WA6cxx {
  background-color: transparent;
  height: 120px;
  left: 1090px;
  position: absolute;
  top: 1379px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-15-WA6cxx {
  background-color: transparent;
  height: 353px;
  left: 1090px;
  position: absolute;
  top: 926px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-8-kAkTTT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-HTxx0x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-copy-2-HTxx0x {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-HTxx0x {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeatureadditionalinformation1 .group-12-kAkTTT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-xvxXjy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-copy-2-xvxXjy {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-xvxXjy {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeatureadditionalinformation1 .group-14-kAkTTT {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 227px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-fuXkLF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-copy-2-fuXkLF {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-fuXkLF {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeatureadditionalinformation1 .group-4-kAkTTT {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-4-copy-kAkTTT {
  background-color: transparent;
  height: 67px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-6-kAkTTT {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-13-WA6cxx {
  background-color: transparent;
  height: 140px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-12-7oexin {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-JkQ636 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-copy-2-JkQ636 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeatureadditionalinformation1 .table-guide-text2linem-JkQ636 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeatureadditionalinformation1 .group-4-copy-7oexin {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .group-6-7oexin {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeatureadditionalinformation1 .web-sub-titlew-description-WA6cxx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .web-title-area-WA6cxx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .web-tab-device-e-capabilities-WA6cxx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .x3rd-depth-Bi3S3A {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .tab-Bi3S3A {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeatureadditionalinformation1 .additional-informati-l4xT5U {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 140px;
}

.devicefeatureadditionalinformation1 .service-feature-type-l4xT5U {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 153px;
}

.devicefeatureadditionalinformation1 .additional-informati-0L3Hv4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.devicefeatureadditionalinformation1 .additional-informati-d4lTRw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 151px;
}

.devicefeatureadditionalinformation1 .additional-informati-d9wH6Y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 165px;
}

.devicefeatureadditionalinformation1 .time-routine-l4xT5U {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.devicefeatureadditionalinformation1 .lnb-favorite-card-WA6cxx {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .rectangle-OQCo6H {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .background-OQCo6H {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .stacked-group-OQCo6H {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-title-common-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose521 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose421 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose321 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpethclose-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group79 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group212 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group517 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group315 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group415 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose122 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected21 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose31 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeatureadditionalinformation1 .group-GMkOEw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .empty-t8ZO9C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .line-copy-t8ZO9C {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeatureadditionalinformation1 .empty-yQJbXc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-title-common-lX8ziO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .line-OQCo6H {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeatureadditionalinformation1 .home-net-gui-guidelin-OQCo6H {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeatureadditionalinformation1 .webgnb-WA6cxx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .rectangle-u2XKvF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .background-u2XKvF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .index-u2XKvF {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeatureadditionalinformation1 .web-index-select-FHK0Pz {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeatureadditionalinformation1 .web-index-unselect-FHK0Pz {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeatureadditionalinformation1 .web-index-unelectmain-u2XKvF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeatureadditionalinformation1 .logo-bQOxxU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose521 */


/* component - webindexcontents1dpethclose421 */


/* component - webindexcontents1dpethclose321 */


/* component - group79 */


/* component - group212 */


/* component - group517 */


/* component - group315 */


/* component - group415 */


/* component - webindexcontents1dpethclose122 */


/* component - webindexcontents1dpethopenselected21 */


/* component - webindexcontents1dpethclose31 */


