/* screen - devicefeaturemaindevicefeaturebuttons2 */

.devicefeaturemaindevicefeaturebuttons2 {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-8-KiqX5p {
  background-color: transparent;
  height: 187px;
  left: 1090px;
  position: absolute;
  top: 375px;
  width: 730px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-5-NOd97e {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line-kYZnL7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text2linem-kYZnL7 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text2linem-au2sJl {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-2-NOd97e {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line-UKGB0A {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text2linem-UKGB0A {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text2linem-qixf31 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-7-NOd97e {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text2linem-vxosn7 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line-vxosn7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text2linem-8xjc8Z {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-6-NOd97e {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-4-KiqX5p {
  background-color: transparent;
  height: 274px;
  left: 400px;
  position: absolute;
  top: 375px;
  width: 640px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-sub-titlew-description-KiqX5p {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-title-area-KiqX5p {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-tab-device-device-feature-KiqX5p {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons2 .x3rd-depth-ypjkSZ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons2 .tab-ypjkSZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeaturebuttons2 .types-xyvxvE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturemaindevicefeaturebuttons2 .service-feature-type-xyvxvE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.devicefeaturemaindevicefeaturebuttons2 .toggle-xyvxvE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.devicefeaturemaindevicefeaturebuttons2 .buttons-xyvxvE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.devicefeaturemaindevicefeaturebuttons2 .buttons-2-xyvxvE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturebuttons2 .buttons-3-xyvxvE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturebuttons2 .dropdown-xyvxvE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 64px;
}

.devicefeaturemaindevicefeaturebuttons2 .lnb-favorite-card-KiqX5p {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .rectangle-1co3Vx {
  background-color: var(--concrete);
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .background-1co3Vx {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .stacked-group-1co3Vx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-title-common-O6ZxJo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose511 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose411 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose311 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpethclose-O6ZxJo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group68 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group59 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group26 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group38 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose112 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected11 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose21 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicefeaturemaindevicefeaturebuttons2 .group-O6ZxJo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-jmBKU1 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .line-copy-jmBKU1 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-wTJr8I {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-title-common-YwQqWM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .line-1co3Vx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons2 .home-net-gui-guidelin-1co3Vx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturemaindevicefeaturebuttons2 .webgnb-KiqX5p {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .rectangle-SarBNx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .background-SarBNx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .index-SarBNx {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-select-11TprI {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-unselect-11TprI {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-unelectmain-SarBNx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturemaindevicefeaturebuttons2 .logo-ncYIhN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose511 */


/* component - webindexcontents1dpethclose411 */


/* component - webindexcontents1dpethclose311 */


/* component - group68 */


/* component - group15 */


/* component - group59 */


/* component - group26 */


/* component - group38 */


/* component - webindexcontents1dpethclose112 */


/* component - webindexcontents1dpethopenselected11 */


/* component - webindexcontents1dpethclose21 */


