/* screen - devicepluginlightdimmertype */

.devicepluginlightdimmertype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2250px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginlightdimmertype .group-10-xD4EdS {
  background-color: transparent;
  height: 254px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.devicepluginlightdimmertype .descriptiontable2line-8uJT6u {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 730px;
}

.devicepluginlightdimmertype .table-guide-text1line-LGgkMo {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightdimmertype .table-guide-text1line-Dl5xTo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text2line-LGgkMo {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightdimmertype .descriptiontable2line-SwRNZn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.devicepluginlightdimmertype .table-guide-text1line-RSBqIx {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightdimmertype .table-guide-text1line-pSFbJJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text2line-RSBqIx {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightdimmertype .descriptiontable2line-Y3O14j {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.devicepluginlightdimmertype .table-guide-text1line-CGn8ZU {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightdimmertype .table-guide-text1line-tSLMg6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text2line-CGn8ZU {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightdimmertype .descriptiontable2line-x8di0S {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicepluginlightdimmertype .table-guide-text1line-P99x4T {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightdimmertype .table-guide-text1line-wxw8GT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text2line-P99x4T {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightdimmertype .descriptiontabletop-8uJT6u {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicepluginlightdimmertype .group-6-xD4EdS {
  background-color: transparent;
  height: 256px;
  left: 400px;
  position: absolute;
  top: 1388px;
  width: 640px;
}

.devicepluginlightdimmertype .group-9-xD4EdS {
  background-color: transparent;
  height: 257px;
  left: 419px;
  position: absolute;
  top: 1794px;
  width: 620px;
}

.devicepluginlightdimmertype .group-11-xD4EdS {
  background-color: transparent;
  height: 284px;
  left: 1090px;
  position: absolute;
  top: 1388px;
  width: 730px;
}

.devicepluginlightdimmertype .descriptiontabletop-EbiqA0 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.devicepluginlightdimmertype .descriptiontable2line-EbiqA0 {
  background-color: transparent;
  height: 159px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.devicepluginlightdimmertype .table-guide-text1line-copy-3-ZzUieX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text2linem-ZzUieX {
  background-color: transparent;
  height: 59px;
  left: 62px;
  position: absolute;
  top: 57px;
  width: 295px;
}

.devicepluginlightdimmertype .table-guide-text1line-copy-4-ZzUieX {
  background-color: transparent;
  height: 159px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightdimmertype .table-guide-text2linem-copy-3-ZzUieX {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightdimmertype .descriptiontable2line-Nwdao7 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 225px;
  width: 730px;
}

.devicepluginlightdimmertype .table-guide-text1line-copy-3-IeHGiL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text1line-copy-4-IeHGiL {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.devicepluginlightdimmertype .table-guide-text2linem-copy-3-IeHGiL {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightdimmertype .group-2-xD4EdS {
  background-color: transparent;
  height: 790px;
  left: 400px;
  position: absolute;
  top: 398px;
  width: 380px;
}

.devicepluginlightdimmertype .table-guide-title-xD4EdS {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.devicepluginlightdimmertype .web-sub-title-xD4EdS {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginlightdimmertype .web-title-area-xD4EdS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginlightdimmertype .web-tab-device-ergrated-switch-xD4EdS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginlightdimmertype .x3rd-depth-YvRcYS {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginlightdimmertype .tab-TUyNE7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginlightdimmertype .switch-type-g1uKk1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 72px;
}

.devicepluginlightdimmertype .dimmer-type-g1uKk1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 80px;
}

.devicepluginlightdimmertype .lnb-device-plug-in-xD4EdS {
  background-color: transparent;
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightdimmertype .rectangle-axC6dz {
  background-color: var(--concrete);
  height: 1131px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightdimmertype .stacked-group-axC6dz {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-title-common-KL83Tm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose48 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose38 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose28 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginlightdimmertype .web-index-conte-hopenselected-KL83Tm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group162 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group153 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group144 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group138 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group128 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group87 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group78 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group57 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group44 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group34 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group18 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose19 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose18 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.devicepluginlightdimmertype .group-KL83Tm {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .empty-KgWbgm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginlightdimmertype .line-copy-KgWbgm {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginlightdimmertype .empty-dwx3DY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-title-common-4iDm7U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .line-axC6dz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginlightdimmertype .home-net-gui-guidelin-axC6dz {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginlightdimmertype .webgnb-xD4EdS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginlightdimmertype .rectangle-0xigjx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightdimmertype .background-0xigjx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightdimmertype .index-0xigjx {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginlightdimmertype .web-index-select-GiQlm9 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.devicepluginlightdimmertype .web-index-unselect-GiQlm9 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginlightdimmertype .web-index-unelectmain-0xigjx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginlightdimmertype .logo-tQGsPP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose58 */


/* component - webindexcontents1dpethclose48 */


/* component - webindexcontents1dpethclose38 */


/* component - webindexcontents1dpethclose28 */


/* component - group162 */


/* component - group153 */


/* component - group144 */


/* component - group138 */


/* component - group128 */


/* component - group87 */


/* component - group78 */


/* component - group57 */


/* component - group44 */


/* component - group34 */


/* component - group18 */


/* component - webindexcontents1dpethclose19 */


/* component - webindexcontents1dpethclose18 */


