/* screen - keyscreenhomenetkeyscreendevicefeature */

.keyscreenhomenetkeyscreendevicefeature {
  background-color: var(--white);
  height: 1148px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.keyscreenhomenetkeyscreendevicefeature .group-7-zAXE5n {
  background-color: transparent;
  height: 550px;
  left: 790px;
  position: absolute;
  top: 398px;
  width: 268px;
}

.keyscreenhomenetkeyscreendevicefeature .additional-info-device-info-zAXE5n {
  background-color: transparent;
  height: 210px;
  left: 1158px;
  position: absolute;
  top: 398px;
  width: 268px;
}

.keyscreenhomenetkeyscreendevicefeature .group-2-zAXE5n {
  background-color: transparent;
  height: 108px;
  left: 420px;
  position: absolute;
  top: 398px;
  width: 270px;
}

.keyscreenhomenetkeyscreendevicefeature .web-sub-titlew-description-zAXE5n {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendevicefeature .table-guide-title-zAXE5n {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 270px;
}

.keyscreenhomenetkeyscreendevicefeature .table-guide-title-copy-zAXE5n {
  background-color: transparent;
  height: 56px;
  left: 790px;
  position: absolute;
  top: 342px;
  width: 270px;
}

.keyscreenhomenetkeyscreendevicefeature .table-guide-title-copy-2-zAXE5n {
  background-color: transparent;
  height: 56px;
  left: 1158px;
  position: absolute;
  top: 342px;
  width: 270px;
}

.keyscreenhomenetkeyscreendevicefeature .web-title-area-zAXE5n {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendevicefeature .web-tab-device-e-capabilities-zAXE5n {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendevicefeature .x3rd-depth-SExxMy {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendevicefeature .tab-SExxMy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.keyscreenhomenetkeyscreendevicefeature .device-feature-iC6ERW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 106px;
}

.keyscreenhomenetkeyscreendevicefeature .service-feature-type-iC6ERW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.keyscreenhomenetkeyscreendevicefeature .service-feature-type-copy-iC6ERW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.keyscreenhomenetkeyscreendevicefeature .service-feature-type-copy-2-iC6ERW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 109px;
}

.keyscreenhomenetkeyscreendevicefeature .lnb-favorite-card-zAXE5n {
  background-color: transparent;
  height: 671px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .rectangle-oukJ2X {
  background-color: var(--concrete);
  height: 671px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .background-oukJ2X {
  background-color: var(--concrete);
  height: 585px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .stacked-group-oukJ2X {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .web-index-title-common-Axv0KC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.keyscreenhomenetkeyscreendevicefeature .web-index-contents1dpethclose-Axv0KC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose35 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose25 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.keyscreenhomenetkeyscreendevicefeature .group-Axv0KC {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .empty-i3KWbN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .line-copy-i3KWbN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.keyscreenhomenetkeyscreendevicefeature .empty-Emdwh4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .web-index-title-common-x7xgfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreendevicefeature .line-oukJ2X {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.keyscreenhomenetkeyscreendevicefeature .home-net-gui-guidelin-oukJ2X {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.keyscreenhomenetkeyscreendevicefeature .webgnb-zAXE5n {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.keyscreenhomenetkeyscreendevicefeature .rectangle-4TWUpp {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.keyscreenhomenetkeyscreendevicefeature .background-4TWUpp {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.keyscreenhomenetkeyscreendevicefeature .index-4TWUpp {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.keyscreenhomenetkeyscreendevicefeature .web-index-select-XhO0bI {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.keyscreenhomenetkeyscreendevicefeature .web-index-unselect-XhO0bI {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.keyscreenhomenetkeyscreendevicefeature .web-index-unelectmain-4TWUpp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.keyscreenhomenetkeyscreendevicefeature .logo-lQlbWo {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose55 */


/* component - group5 */


/* component - webindexcontents1dpethclose35 */


/* component - webindexcontents1dpethclose25 */


/* component - webindexcontents1dpethclose15 */


/* component - webindexcontents1dpethopenselected5 */


/* component - webindexcontents1dpethclose8 */


