/* screen - keyscreenhomenetkeyscreendeviceplugin */

.keyscreenhomenetkeyscreendeviceplugin {
  background-color: var(--white);
  height: 1669px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.keyscreenhomenetkeyscreendeviceplugin .group-3-eVH6QZ {
  background-color: transparent;
  height: 1071px;
  left: 1158px;
  position: absolute;
  top: 398px;
  width: 288px;
}

.keyscreenhomenetkeyscreendeviceplugin .group-4-eVH6QZ {
  background-color: transparent;
  height: 992px;
  left: 420px;
  position: absolute;
  top: 398px;
  width: 288px;
}

.keyscreenhomenetkeyscreendeviceplugin .group-5-eVH6QZ {
  background-color: transparent;
  height: 637px;
  left: 790px;
  position: absolute;
  top: 398px;
  width: 288px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-sub-titlew-description-eVH6QZ {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendeviceplugin .table-guide-title-eVH6QZ {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1026px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-title-area-eVH6QZ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-tab-device-e-capabilities-eVH6QZ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendeviceplugin .x3rd-depth-q4fnzU {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.keyscreenhomenetkeyscreendeviceplugin .tab-q4fnzU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.keyscreenhomenetkeyscreendeviceplugin .device-feature-wZiCoX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 106px;
}

.keyscreenhomenetkeyscreendeviceplugin .service-feature-type-wZiCoX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.keyscreenhomenetkeyscreendeviceplugin .service-feature-type-copy-wZiCoX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.keyscreenhomenetkeyscreendeviceplugin .service-feature-type-copy-2-wZiCoX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 109px;
}

.keyscreenhomenetkeyscreendeviceplugin .lnb-favorite-card-eVH6QZ {
  background-color: transparent;
  height: 671px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .rectangle-ngYkGd {
  background-color: var(--concrete);
  height: 671px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .background-ngYkGd {
  background-color: var(--concrete);
  height: 585px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .stacked-group-ngYkGd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-index-title-common-GYgYwB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.keyscreenhomenetkeyscreendeviceplugin .web-index-contents1dpethclose-GYgYwB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.keyscreenhomenetkeyscreendeviceplugin .group-p7BpaS {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .empty-sV7R2n {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .line-copy-sV7R2n {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.keyscreenhomenetkeyscreendeviceplugin .empty-LOvaqX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-index-title-common-p7BpaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreendeviceplugin .line-ngYkGd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.keyscreenhomenetkeyscreendeviceplugin .home-net-gui-guidelin-ngYkGd {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.keyscreenhomenetkeyscreendeviceplugin .webgnb-eVH6QZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.keyscreenhomenetkeyscreendeviceplugin .rectangle-DhaIap {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.keyscreenhomenetkeyscreendeviceplugin .background-DhaIap {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.keyscreenhomenetkeyscreendeviceplugin .index-DhaIap {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-index-select-BvvsJM {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-index-unselect-BvvsJM {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.keyscreenhomenetkeyscreendeviceplugin .web-index-unelectmain-DhaIap {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.keyscreenhomenetkeyscreendeviceplugin .logo-xE2xxV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - webindexcontents1dpethclose5 */


/* component - group */


/* component - webindexcontents1dpethclose3 */


/* component - webindexcontents1dpethclose2 */


/* component - webindexcontents1dpethclose1 */


/* component - webindexcontents1dpethopenselected */


/* component - webindexcontents1dpethclose */


