/* screen - overviewrippleeffecttoucharea */

.overviewrippleeffecttoucharea {
  background-color: var(--white);
  height: 2729px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewrippleeffecttoucharea .group-24-CKvgI5 {
  background-color: transparent;
  height: 2245px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .web-title-area-CKvgI5 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .web-tab-overviewtouch-area-CKvgI5 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .x3rd-depth-uoR2Qt {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .tab-uoR2Qt {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewrippleeffecttoucharea .ripple-effect-touc-ChWgBg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 156px;
}

.overviewrippleeffecttoucharea .service-feature-type-ChWgBg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.overviewrippleeffecttoucharea .lnb-favorite-card-CKvgI5 {
  background-color: transparent;
  height: 993px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewrippleeffecttoucharea .rectangle-U6R9IN {
  background-color: var(--concrete);
  height: 993px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewrippleeffecttoucharea .stacked-group-U6R9IN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-title-common-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpethclose-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group24 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group12 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group33 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group44 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group54 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group63 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group74 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group84 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose44 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose34 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose24 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose14 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethopenselected4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.overviewrippleeffecttoucharea .group-8FsEux {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .empty-yK5tYE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewrippleeffecttoucharea .line-copy-yK5tYE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewrippleeffecttoucharea .empty-wSpaXt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-title-common-PYoJrK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .line-U6R9IN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewrippleeffecttoucharea .home-net-gui-guidelin-U6R9IN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewrippleeffecttoucharea .webgnb-CKvgI5 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewrippleeffecttoucharea .rectangle-DeFf6T {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewrippleeffecttoucharea .background-DeFf6T {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewrippleeffecttoucharea .index-DeFf6T {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.overviewrippleeffecttoucharea .web-index-select-v9kfOU {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.overviewrippleeffecttoucharea .web-index-unselect-v9kfOU {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.overviewrippleeffecttoucharea .web-index-unelectmain-DeFf6T {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewrippleeffecttoucharea .logo-wdFxqO {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
/* component - group24 */


/* component - group12 */


/* component - group33 */


/* component - group44 */


/* component - group54 */


/* component - group63 */


/* component - group74 */


/* component - group84 */


/* component - webindexcontents1dpethclose44 */


/* component - webindexcontents1dpethclose34 */


/* component - webindexcontents1dpethclose24 */


/* component - webindexcontents1dpethclose14 */


/* component - webindexcontents1dpethopenselected4 */


/* component - webindexcontents1dpethclose7 */


