/* screen - servicepluginvisitorsfeature */

.servicepluginvisitorsfeature {
  background-color: var(--white);
  height: 4287px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvisitorsfeature .group-17-zsTjAy {
  background-color: transparent;
  height: 760px;
  left: 1340px;
  position: absolute;
  top: 448px;
  width: 360px;
}

.servicepluginvisitorsfeature .group-4-zsTjAy {
  background-color: transparent;
  height: 555px;
  left: 378px;
  position: absolute;
  top: 1514px;
  width: 479px;
}

.servicepluginvisitorsfeature .group-13-zsTjAy {
  background-color: transparent;
  height: 193px;
  left: 400px;
  position: absolute;
  top: 3895px;
  width: 138px;
}

.servicepluginvisitorsfeature .group-25-zsTjAy {
  background-color: transparent;
  height: 900px;
  left: 400px;
  position: absolute;
  top: 2256px;
  width: 377px;
}

.servicepluginvisitorsfeature .group-12-zsTjAy {
  background-color: transparent;
  height: 193px;
  left: 400px;
  position: absolute;
  top: 3455px;
  width: 139px;
}

.servicepluginvisitorsfeature .group-14-zsTjAy {
  background-color: transparent;
  height: 194px;
  left: 1090px;
  position: absolute;
  top: 1601px;
  width: 730px;
}

.servicepluginvisitorsfeature .group-22-zsTjAy {
  background-color: transparent;
  height: 416px;
  left: 1090px;
  position: absolute;
  top: 2151px;
  width: 730px;
}

.servicepluginvisitorsfeature .group-18-zsTjAy {
  background-color: transparent;
  height: 331px;
  left: 1090px;
  position: absolute;
  top: 3357px;
  width: 730px;
}

.servicepluginvisitorsfeature .group-9-zsTjAy {
  background-color: transparent;
  height: 115px;
  left: 1090px;
  position: absolute;
  top: 1408px;
  width: 730px;
}

.servicepluginvisitorsfeature .group-copy-2-vKUwBf {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvisitorsfeature .table-guide-text2line_m-copy-TwjBW7 {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsfeature .table-guide-text1line-TwjBW7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsfeature .table-guide-text2line_m-TwjBW7 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsfeature .descriptiontabletop-vKUwBf {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvisitorsfeature .group-15-zsTjAy {
  background-color: transparent;
  height: 760px;
  left: 419px;
  position: absolute;
  top: 448px;
  width: 362px;
}

.servicepluginvisitorsfeature .group-16-zsTjAy {
  background-color: transparent;
  height: 760px;
  left: 879px;
  position: absolute;
  top: 448px;
  width: 362px;
}

.servicepluginvisitorsfeature .table-guide-title-copy-4-zsTjAy {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 2151px;
  width: 295px;
}

.servicepluginvisitorsfeature .web-sub_-title-zsTjAy {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvisitorsfeature .table-guide-title-zsTjAy {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 1408px;
  width: 620px;
}

.servicepluginvisitorsfeature .table-guide-title-copy-5-zsTjAy {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 3357px;
  width: 620px;
}

.servicepluginvisitorsfeature .table-guide-title-copy-6-zsTjAy {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 3797px;
  width: 295px;
}

.servicepluginvisitorsfeature .table-guide-title-copy-zsTjAy {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 360px;
}

.servicepluginvisitorsfeature .table-guide-title-copy-2-zsTjAy {
  background-color: transparent;
  height: 56px;
  left: 880px;
  position: absolute;
  top: 342px;
  width: 360px;
}

.servicepluginvisitorsfeature .table-guide-title-copy-3-zsTjAy {
  background-color: transparent;
  height: 56px;
  left: 1340px;
  position: absolute;
  top: 342px;
  width: 360px;
}

.servicepluginvisitorsfeature .web-title-area-zsTjAy {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvisitorsfeature .web-tab-service-plug-in_-visitors-zsTjAy {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvisitorsfeature .x3rd-depth-tqDKUk {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvisitorsfeature .tab-eMF74q {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvisitorsfeature .card-dxpERx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginvisitorsfeature .pop-up-dxpERx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 43px;
}

.servicepluginvisitorsfeature .feature-dxpERx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvisitorsfeature .lnb-service-plug-in-zsTjAy {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .rectangle-vNVM5p {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .lnb-vNVM5p {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .stacked-group-LQemAd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-title-common-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose538 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose438 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose338 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose139 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose238 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose81 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_open_selected-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group192 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1130 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1037 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group833 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group730 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group630 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group529 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group327 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group228 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group111 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvisitorsfeature .group-Ru2fVT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .empty-mBr8GB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorsfeature .line-copy-mBr8GB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorsfeature .empty-MDeffh {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-title-common-IXsxtv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .line-LQemAd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvisitorsfeature .home-net-gui-guidelin-LQemAd {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvisitorsfeature .webgnb-zsTjAy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsfeature .rectangle-8Siotb {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsfeature .background-8Siotb {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsfeature .index-8Siotb {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginvisitorsfeature .web-index-select-AcQ93t {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvisitorsfeature .web-index-unselect-AcQ93t {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvisitorsfeature .web-index-unelect_main-8Siotb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvisitorsfeature .logo-nPXA4O {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
