/* screen - servicefeaturebasiclayoutbasic */

.servicefeaturebasiclayoutbasic {
  background-color: var(--white);
  height: 4011px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .group-20-iGGxLS {
  background-color: transparent;
  height: 265px;
  left: 420px;
  position: absolute;
  top: 697px;
  width: 336px;
}

.servicefeaturebasiclayoutbasic .group-3-iGGxLS {
  background-color: transparent;
  height: 263px;
  left: 400px;
  position: absolute;
  top: 284px;
  width: 640px;
}

.servicefeaturebasiclayoutbasic .group-9-iGGxLS {
  background-color: transparent;
  height: 130px;
  left: 1090px;
  position: absolute;
  top: 284px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .descriptiontabletop-c0WO3K {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .descriptiontable2line-c0WO3K {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-ZsdZKN {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line-ZsdZKN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-vjT1JQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .descriptiontable2line-zK9MkZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 93px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-imxocr {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line-imxocr {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-ZFL1AF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .group-13-iGGxLS {
  background-color: transparent;
  height: 242px;
  left: 419px;
  position: absolute;
  top: 1162px;
  width: 620px;
}

.servicefeaturebasiclayoutbasic .group-21-iGGxLS {
  background-color: transparent;
  height: 302px;
  left: 390px;
  position: absolute;
  top: 1554px;
  width: 367px;
}

.servicefeaturebasiclayoutbasic .group-19-iGGxLS {
  background-color: transparent;
  height: 298px;
  left: 1090px;
  position: absolute;
  top: 1162px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .group-22-iGGxLS {
  background-color: transparent;
  height: 168px;
  left: 419px;
  position: absolute;
  top: 2054px;
  width: 620px;
}

.servicefeaturebasiclayoutbasic .group-5-iGGxLS {
  background-color: transparent;
  height: 134px;
  left: 400px;
  position: absolute;
  top: 2370px;
  width: 315px;
}

.servicefeaturebasiclayoutbasic .group-18-iGGxLS {
  background-color: transparent;
  height: 113px;
  left: 1090px;
  position: absolute;
  top: 2054px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .descriptiontabletop-qaXpAU {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .descriptiontable2line-qaXpAU {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-x0Wxjo {
  background-color: transparent;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line-x0Wxjo {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-strp8X {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .group-24-iGGxLS {
  background-color: transparent;
  height: 401px;
  left: 1090px;
  position: absolute;
  top: 2704px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .group-8-GeUBfx {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-QT2xx8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-QT2xx8 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-6-QT2xx8 {
  background-color: transparent;
  height: 86px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .group-5-GeUBfx {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 221px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-LsLxtw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-LsLxtw {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-5-LsLxtw {
  background-color: transparent;
  height: 86px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .group-5-copy-GeUBfx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 317px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-juhTcB {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-5-juhTcB {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-juhTcB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .group-5-copy-2-GeUBfx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 364px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-CyI5Cb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-CyI5Cb {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-5-CyI5Cb {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .group-copy-2-GeUBfx {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-Af2JSn {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-Af2JSn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-Af2JSn {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturebasiclayoutbasic .descriptiontabletop-GeUBfx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .group-7-iGGxLS {
  background-color: transparent;
  height: 227px;
  left: 420px;
  position: absolute;
  top: 3159px;
  width: 377px;
}

.servicefeaturebasiclayoutbasic .group-10-iGGxLS {
  background-color: transparent;
  height: 288px;
  left: 386px;
  position: absolute;
  top: 3529px;
  width: 411px;
}

.servicefeaturebasiclayoutbasic .group-5-kvKGid {
  background-color: transparent;
  height: 130px;
  left: 1090px;
  position: absolute;
  top: 3205px;
  width: 730px;
}

.servicefeaturebasiclayoutbasic .group-23-iGGxLS {
  background-color: transparent;
  height: 305px;
  left: 384px;
  position: absolute;
  top: 2704px;
  width: 636px;
}

.servicefeaturebasiclayoutbasic .web-title-area-iGGxLS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicefeaturebasiclayoutbasic .lnb-favorite-card-iGGxLS {
  background-color: transparent;
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .rectangle-RaLRgL {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .background-RaLRgL {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .stacked-group-RaLRgL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-title-common-DdO8Ax {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_open_selected-DdO8Ax {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeaturebasiclayoutbasic .group-DbHpjZ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .empty-DypWcW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .line-copy-DypWcW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeaturebasiclayoutbasic .empty-o5xeCO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-title-common-DbHpjZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .line-RaLRgL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeaturebasiclayoutbasic .home-net-gui-guidelin-RaLRgL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeaturebasiclayoutbasic .webgnb-iGGxLS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .rectangle-lcnBsc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .background-lcnBsc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .index-lcnBsc {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.servicefeaturebasiclayoutbasic .web-index-select-qmDnxm {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.servicefeaturebasiclayoutbasic .web-index-unselect-qmDnxm {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.servicefeaturebasiclayoutbasic .web-index-unelect_main-lcnBsc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeaturebasiclayoutbasic .logo-jq8OiK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
