/* screen - servicepluginmaintenancefeefeature */

.servicepluginmaintenancefeefeature {
  background-color: var(--white);
  height: 3773px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .group-23-RDmwEL {
  background-color: transparent;
  height: 267px;
  left: 400px;
  position: absolute;
  top: 2839px;
  width: 640px;
}

.servicepluginmaintenancefeefeature .group-14-RDmwEL {
  background-color: transparent;
  height: 514px;
  left: 1090px;
  position: absolute;
  top: 2839px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .group-15-RDmwEL {
  background-color: transparent;
  height: 221px;
  left: 419px;
  position: absolute;
  top: 3256px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .group-copy-5-RDmwEL {
  background-color: transparent;
  height: 20px;
  left: 756px;
  position: absolute;
  top: 3384px;
  width: 75px;
}

.servicepluginmaintenancefeefeature .group-5-RDmwEL {
  background-color: transparent;
  height: 120px;
  left: 1090px;
  position: absolute;
  top: 3453px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .group-3-RDmwEL {
  background-color: transparent;
  height: 825px;
  left: 379px;
  position: absolute;
  top: 398px;
  width: 401px;
}

.servicepluginmaintenancefeefeature .group-12-RDmwEL {
  background-color: transparent;
  height: 1266px;
  left: 377px;
  position: absolute;
  top: 1373px;
  width: 443px;
}

.servicepluginmaintenancefeefeature .group-21-RDmwEL {
  background-color: transparent;
  height: 115px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .group-16-rffe8q {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-WjVJfh {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-WjVJfh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-WjVJfh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .descriptiontabletop-rffe8q {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .group-21-RKPOKp {
  background-color: transparent;
  height: 375px;
  left: 1090px;
  position: absolute;
  top: 1373px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .group-17-EFA628 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-yDT3hg {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-yDT3hg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-yDT3hg {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .group-18-EFA628 {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-bVisrL {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-l7drxg {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 47px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-bVisrL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-bVisrL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-2-bVisrL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .group-19-EFA628 {
  background-color: transparent;
  height: 131px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-b8YQVg {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-XsVI9E {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 47px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-zJJZod {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 94px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-b8YQVg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-3-b8YQVg {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-4-b8YQVg {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 94px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-b8YQVg {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .group-20-EFA628 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-SYOw28 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-SYOw28 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-SYOw28 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .descriptiontabletop-EFA628 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .group-11-RDmwEL {
  background-color: transparent;
  height: 113px;
  left: 1090px;
  position: absolute;
  top: 1848px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .group-22-RDmwEL {
  background-color: transparent;
  height: 288px;
  left: 1090px;
  position: absolute;
  top: 557px;
  width: 730px;
}

.servicepluginmaintenancefeefeature .table-guide-title-RDmwEL {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.servicepluginmaintenancefeefeature .web-sub_-title-RDmwEL {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .web-title-area-RDmwEL {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .web-tab-service-plug-in_-maintenance-fee-RDmwEL {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .x3rd-depth-yTIYh5 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .tab-AraOJM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginmaintenancefeefeature .card-7dwbmL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginmaintenancefeefeature .feature-7dwbmL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginmaintenancefeefeature .lnb-service-plug-in-RDmwEL {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .rectangle-2fIpag {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .lnb-2fIpag {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .stacked-group-SADRKx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-title-common-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose54 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose44 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose34 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose14 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose24 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_open_selected-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group16 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group132 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group104 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group94 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group84 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group73 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group64 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group44 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group23 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group13 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginmaintenancefeefeature .group-w8ikzi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .empty-u1M89a {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .line-copy-u1M89a {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginmaintenancefeefeature .empty-UowxHH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-title-common-so1kVm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .line-SADRKx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginmaintenancefeefeature .home-net-gui-guidelin-SADRKx {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginmaintenancefeefeature .webgnb-RDmwEL {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .rectangle-Z3RYCL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .background-Z3RYCL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .index-Z3RYCL {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginmaintenancefeefeature .web-index-select-QLNLjt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginmaintenancefeefeature .web-index-unselect-QLNLjt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginmaintenancefeefeature .web-index-unelect_main-Z3RYCL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginmaintenancefeefeature .logo-lEob3a {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
