/* screen - servicepluginvehiclefeature */

.servicepluginvehiclefeature {
  background-color: var(--white);
  height: 7832px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehiclefeature .group-djJTGX {
  background-color: transparent;
  height: 760px;
  left: 405px;
  position: absolute;
  top: 1308px;
  width: 385px;
}

.servicepluginvehiclefeature .arearefer-copy-15-djJTGX {
  background-color: transparent;
  height: 61px;
  left: 430px;
  position: absolute;
  top: 1727px;
  width: 61px;
}

.servicepluginvehiclefeature .group-33-djJTGX {
  background-color: transparent;
  height: 629px;
  left: 1090px;
  position: absolute;
  top: 2268px;
  width: 730px;
}

.servicepluginvehiclefeature .group-11-BEogKb {
  background-color: transparent;
  height: 314px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginvehiclefeature .group-15-BEogKb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 427px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-9CkeAj {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-9CkeAj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-9CkeAj {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .group-32-BEogKb {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 570px;
  width: 730px;
}

.servicepluginvehiclefeature .group-16-BEogKb {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 474px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_b-ZaAckK {
  background-color: transparent;
  height: 86px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-ZaAckK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-ZaAckK {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .group-10-BEogKb {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-469EG0 {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-469EG0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-469EG0 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .descriptiontabletop-BEogKb {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvehiclefeature .group-48-djJTGX {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 640px;
}

.servicepluginvehiclefeature .group-43-djJTGX {
  background-color: transparent;
  height: 866px;
  left: 368px;
  position: absolute;
  top: 5718px;
  width: 412px;
}

.servicepluginvehiclefeature .group-42-djJTGX {
  background-color: transparent;
  height: 900px;
  left: 420px;
  position: absolute;
  top: 6734px;
  width: 400px;
}

.servicepluginvehiclefeature .group-44-djJTGX {
  background-color: transparent;
  height: 929px;
  left: 373px;
  position: absolute;
  top: 3686px;
  width: 666px;
}

.servicepluginvehiclefeature .group-45-djJTGX {
  background-color: transparent;
  height: 866px;
  left: 420px;
  position: absolute;
  top: 4702px;
  width: 670px;
}

.servicepluginvehiclefeature .group-47-djJTGX {
  background-color: transparent;
  height: 1112px;
  left: 420px;
  position: absolute;
  top: 2374px;
  width: 620px;
}

.servicepluginvehiclefeature .group-31-djJTGX {
  background-color: transparent;
  height: 350px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginvehiclefeature .group-28-rx5ttV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-8IpoIv {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-8IpoIv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-8IpoIv {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .group-27-rx5ttV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-dV1W2m {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-dV1W2m {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-dV1W2m {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .group-25-rx5ttV {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-PCw3rd {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-kkdpV4 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 47px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-PCw3rd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-PCw3rd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-4-PCw3rd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 400px;
}

.servicepluginvehiclefeature .group-26-rx5ttV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-6E8V2f {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-6E8V2f {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-6E8V2f {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .group-30-rx5ttV {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 291px;
  width: 730px;
}

.servicepluginvehiclefeature .descriptiontabletop-rx5ttV {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvehiclefeature .group-24-djJTGX {
  background-color: transparent;
  height: 130px;
  left: 1090px;
  position: absolute;
  top: 5718px;
  width: 730px;
}

.servicepluginvehiclefeature .group-41-djJTGX {
  background-color: transparent;
  height: 271px;
  left: 1090px;
  position: absolute;
  top: 3686px;
  width: 730px;
}

.servicepluginvehiclefeature .group-4-1wFQYS {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginvehiclefeature .group-8-1wFQYS {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 730px;
}

.servicepluginvehiclefeature .group-2-1wFQYS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-JYzogz {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-JYzogz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-JYzogz {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .descriptiontabletop-1wFQYS {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvehiclefeature .group-9-djJTGX {
  background-color: transparent;
  height: 130px;
  left: 1089px;
  position: absolute;
  top: 4057px;
  width: 730px;
}

.servicepluginvehiclefeature .group-41-NPJMm6 {
  background-color: transparent;
  height: 135px;
  left: 1090px;
  position: absolute;
  top: 4702px;
  width: 730px;
}

.servicepluginvehiclefeature .web-sub_-title-djJTGX {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvehiclefeature .descriptiontabletop-djJTGX {
  background-color: transparent;
  height: 56px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginvehiclefeature .group-29-djJTGX {
  background-color: transparent;
  height: 59px;
  left: 1090px;
  position: absolute;
  top: 1364px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-copy-2-x0NfG1 {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclefeature .table-guide-text1line-x0NfG1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclefeature .table-guide-text2line_m-x0NfG1 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclefeature .descriptiontabletop-NPJMm6 {
  background-color: transparent;
  height: 56px;
  left: 1090px;
  position: absolute;
  top: 1308px;
  width: 730px;
}

.servicepluginvehiclefeature .table-guide-title-djJTGX {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 2268px;
  width: 620px;
}

.servicepluginvehiclefeature .web-title-area-djJTGX {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehiclefeature .web-tab-service-plug-djJTGX {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvehiclefeature .x3rd-depth-iDssb0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehiclefeature .tab-zMKwSh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvehiclefeature .vehicle-entry-abd-ex-Lki6jI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 173px;
}

.servicepluginvehiclefeature .parking-location-_-c-Lki6jI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.servicepluginvehiclefeature .feature-Lki6jI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehiclefeature .no-information-Lki6jI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginvehiclefeature .lnb-service-plug-in-djJTGX {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclefeature .rectangle-Iw543h {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclefeature .lnb-Iw543h {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclefeature .stacked-group-CYxdjj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvehiclefeature .web-index-title-common-VpW8wr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose525 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose425 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose325 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose126 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose225 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose68 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvehiclefeature .web-index-contents1dpeth_open_selected-VpW8wr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1213 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1118 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1024 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group822 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group719 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group619 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group519 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group420 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group320 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group221 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvehiclefeature .group-VpW8wr {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehiclefeature .empty-RBx43z {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehiclefeature .line-copy-RBx43z {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehiclefeature .empty-eA2A0w {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclefeature .web-index-title-common-5TZsLt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehiclefeature .line-CYxdjj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvehiclefeature .home-net-gui-guidelin-CYxdjj {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvehiclefeature .webgnb-djJTGX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvehiclefeature .rectangle-Q9txlH {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehiclefeature .background-Q9txlH {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehiclefeature .index-Q9txlH {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginvehiclefeature .web-index-select-sY50iJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvehiclefeature .web-index-unselect-sY50iJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvehiclefeature .web-index-unelect_main-Q9txlH {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvehiclefeature .logo-wQNVko {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
