/* screen - servicepluginhomemorehelpguideexpandablelist */

.servicepluginhomemorehelpguideexpandablelist {
  background-color: var(--white);
  height: 1823px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomemorehelpguideexpandablelist .group-3-JhSqjl {
  background-color: transparent;
  height: 479px;
  left: 420px;
  position: absolute;
  top: 1176px;
  width: 414px;
}

.servicepluginhomemorehelpguideexpandablelist .group-8-JhSqjl {
  background-color: transparent;
  height: 280px;
  left: 401px;
  position: absolute;
  top: 396px;
  width: 639px;
}

.servicepluginhomemorehelpguideexpandablelist .group-7-JhSqjl {
  background-color: transparent;
  height: 237px;
  left: 400px;
  position: absolute;
  top: 790px;
  width: 381px;
}

.servicepluginhomemorehelpguideexpandablelist .group-12-JhSqjl {
  background-color: transparent;
  height: 140px;
  left: 1090px;
  position: absolute;
  top: 396px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .group-11-lZ450X {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-gyoful {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text2line-gyoful {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-P0VmXM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguideexpandablelist .group-10-lZ450X {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-J2gxDZ {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text2line-J2gxDZ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-1TBotu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguideexpandablelist .descriptiontabletop-lZ450X {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .group-12-copy-JhSqjl {
  background-color: transparent;
  height: 170px;
  left: 1090px;
  position: absolute;
  top: 790px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .group-11-nCy6te {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-FkcxgV {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text2line-FkcxgV {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-FXLLZw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguideexpandablelist .group-4-nCy6te {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 113px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-baMllz {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text2line-baMllz {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-4a8Hfb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguideexpandablelist .descriptiontabletop-nCy6te {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .group-12-copy-rx9l23 {
  background-color: transparent;
  height: 93px;
  left: 1090px;
  position: absolute;
  top: 1176px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .group-xycPtZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-A7Zet2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text2line-A7Zet2 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguideexpandablelist .table-guide-text1line-yHPTov {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguideexpandablelist .descriptiontabletop-xycPtZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginhomemorehelpguideexpandablelist .web-sub_-title-JhSqjl {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomemorehelpguideexpandablelist .web-title-area-JhSqjl {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomemorehelpguideexpandablelist .web-tab-service-plug-in_-home-screen-JhSqjl {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomemorehelpguideexpandablelist .x3rd-depth-Ob4Nx4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomemorehelpguideexpandablelist .tab-kitzRe {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomemorehelpguideexpandablelist .feature-nQFD8k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomemorehelpguideexpandablelist .feature-_-shortcut-nQFD8k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 119px;
}

.servicepluginhomemorehelpguideexpandablelist .more-nQFD8k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginhomemorehelpguideexpandablelist .more-_-edit-_-featur-nQFD8k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomemorehelpguideexpandablelist .more_-notifications_f-nQFD8k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginhomemorehelpguideexpandablelist .more-_-help-guide-nQFD8k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.servicepluginhomemorehelpguideexpandablelist .x3rd-depth-jEGXA1 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomemorehelpguideexpandablelist .tab-mfWQFr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomemorehelpguideexpandablelist .more-_-help-guide-_-U82QFW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 226px;
}

.servicepluginhomemorehelpguideexpandablelist .more-_-help-guide-_-4XaqCx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 169px;
}

.servicepluginhomemorehelpguideexpandablelist .service-feature-U82QFW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomemorehelpguideexpandablelist .service-feature-_-no-U82QFW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomemorehelpguideexpandablelist .touch-area-U82QFW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomemorehelpguideexpandablelist .lnb-service-plug-in-JhSqjl {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .rectangle-nx3Icb {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .lnb-nx3Icb {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .stacked-group-wLxDko {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .web-index-title-common-IAcgId {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose511 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose411 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose311 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose112 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose211 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose30 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginhomemorehelpguideexpandablelist .web-index-contents1dpeth_open_selected-IAcgId {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group144 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group136 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group118 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1010 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group99 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group610 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group410 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group29 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group19 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginhomemorehelpguideexpandablelist .group-IAcgId {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .empty-C0qC8b {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .line-copy-C0qC8b {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomemorehelpguideexpandablelist .empty-F5a8GQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .web-index-title-common-GCCOjn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomemorehelpguideexpandablelist .line-wLxDko {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomemorehelpguideexpandablelist .home-net-gui-guidelin-wLxDko {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomemorehelpguideexpandablelist .webgnb-JhSqjl {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomemorehelpguideexpandablelist .rectangle-1Fa2S0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomemorehelpguideexpandablelist .background-1Fa2S0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomemorehelpguideexpandablelist .index-1Fa2S0 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomemorehelpguideexpandablelist .web-index-select-sDEcZI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomemorehelpguideexpandablelist .web-index-unselect-sDEcZI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomemorehelpguideexpandablelist .web-index-unelect_main-1Fa2S0 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomemorehelpguideexpandablelist .logo-GtIH5A {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
