/* screen - servicefeatureservicefeaturetypesdropdwonagraph */

.servicefeatureservicefeaturetypesdropdwonagraph {
  background-color: var(--white);
  height: 3833px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-14-61BmoA {
  background-color: transparent;
  height: 538px;
  left: 400px;
  position: absolute;
  top: 343px;
  width: 640px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-9-61BmoA {
  background-color: transparent;
  height: 419px;
  left: 400px;
  position: absolute;
  top: 1031px;
  width: 380px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-23-61BmoA {
  background-color: transparent;
  height: 281px;
  left: 1090px;
  position: absolute;
  top: 343px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-21-br5DR9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-3z6Ty2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-3z6Ty2 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-yiyeCN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-19-br5DR9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-xpY30x {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-xpY30x {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-SGe5TX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-17-br5DR9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-bVdmsg {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-bVdmsg {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-CvbTWx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-22-br5DR9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-HP5WJb {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-HP5WJb {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-y2PsSb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-20-br5DR9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-T9ama9 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-T9ama9 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-HiiDwj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontabletop-br5DR9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-15-61BmoA {
  background-color: transparent;
  height: 433px;
  left: 392px;
  position: absolute;
  top: 1650px;
  width: 648px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-16-61BmoA {
  background-color: transparent;
  height: 569px;
  left: 420px;
  position: absolute;
  top: 2214px;
  width: 600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-27-61BmoA {
  background-color: transparent;
  height: 258px;
  left: 1090px;
  position: absolute;
  top: 1650px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-26-mGfX2Z {
  background-color: transparent;
  height: 202px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-24-vbwXLm {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 69px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-SLd9U1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-SLd9U1 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-6-SLd9U1 {
  background-color: transparent;
  height: 86px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-18-vbwXLm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-5-oM1IJw {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-oM1IJw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-oM1IJw {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-25-vbwXLm {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-vvXCCl {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-vvXCCl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-vvXCCl {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontabletop-mGfX2Z {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-5-61BmoA {
  background-color: transparent;
  height: 274px;
  left: 1089px;
  position: absolute;
  top: 2008px;
  width: 731px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-28-61BmoA {
  background-color: transparent;
  height: 650px;
  left: 400px;
  position: absolute;
  top: 2983px;
  width: 1421px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-sub_-title-61BmoA {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-title-area-61BmoA {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-tab-favorite-car-61BmoA {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .x3rd-depth-5dnb8R {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .tab-5dnb8R {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 130px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-759Qfx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdown-list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdwon-graph-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .media-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .lnb-favorite-card-61BmoA {
  background-color: transparent;
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Auwr8U {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-Auwr8U {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .stacked-group-Auwr8U {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose45 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose35 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose25 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_open_selected-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group25 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-n2pLzv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-wY7mD8 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-copy-wY7mD8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-w1eVZi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-9PAPHD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-Auwr8U {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .home-net-gui-guidelin-Auwr8U {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .webgnb-61BmoA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-41agsY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-41agsY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .index-41agsY {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-select-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unselect-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unelect_main-41agsY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .logo-MTmCxM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
