/* screen - servicefeatureservicefeaturetypes */

.servicefeatureservicefeaturetypes {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypes .table-w2QxYS {
  background-color: transparent;
  height: 519px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.servicefeatureservicefeaturetypes .web-title-area-w2QxYS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypes .web-tab-favorite-car-w2QxYS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypes .x3rd-depth-DLixYH {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypes .tab-DLixYH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypes .service-feature-type-eoEx8T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 130px;
}

.servicefeatureservicefeaturetypes .service-feature-type-Dahz5n {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.servicefeatureservicefeaturetypes .list-eoEx8T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypes .dropdown-list-eoEx8T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypes .dropdwon-graph-eoEx8T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypes .media-eoEx8T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypes .lnb-favorite-card-w2QxYS {
  background-color: transparent;
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypes .rectangle-CwWmeS {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypes .background-CwWmeS {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypes .stacked-group-CwWmeS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypes .web-index-title-common-cv2ehN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose56 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose46 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose36 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose26 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose16 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypes .web-index-contents1dpeth_open_selected-cv2ehN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group26 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose10 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypes .group-cv2ehN {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypes .empty-LSoFxv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypes .line-copy-LSoFxv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypes .empty-FLq7Nt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypes .web-index-title-common-foK5AM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypes .line-CwWmeS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypes .home-net-gui-guidelin-CwWmeS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeatureservicefeaturetypes .webgnb-w2QxYS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypes .rectangle-3zqdTI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypes .background-3zqdTI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypes .index-3zqdTI {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.servicefeatureservicefeaturetypes .web-index-select-8JXQaU {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.servicefeatureservicefeaturetypes .web-index-unselect-8JXQaU {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.servicefeatureservicefeaturetypes .web-index-unelect_main-3zqdTI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeatureservicefeaturetypes .logo-spb94m {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
