/* screen - servicepluginservicescreenfeaturetitle */

.servicepluginservicescreenfeaturetitle {
  background-color: var(--white);
  height: 2654px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .group-6-jHWRB2 {
  background-color: transparent;
  height: 139px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginservicescreenfeaturetitle .group-15-jHWRB2 {
  background-color: transparent;
  height: 342px;
  left: 1090px;
  position: absolute;
  top: 1704px;
  width: 730px;
}

.servicepluginservicescreenfeaturetitle .group-16-jHWRB2 {
  background-color: transparent;
  height: 306px;
  left: 378px;
  position: absolute;
  top: 342px;
  width: 660px;
}

.servicepluginservicescreenfeaturetitle .group-17-jHWRB2 {
  background-color: transparent;
  height: 307px;
  left: 419px;
  position: absolute;
  top: 795px;
  width: 408px;
}

.servicepluginservicescreenfeaturetitle .group-18-jHWRB2 {
  background-color: transparent;
  height: 307px;
  left: 419px;
  position: absolute;
  top: 1249px;
  width: 408px;
}

.servicepluginservicescreenfeaturetitle .group-14-jHWRB2 {
  background-color: transparent;
  height: 539px;
  left: 371px;
  position: absolute;
  top: 1704px;
  width: 530px;
}

.servicepluginservicescreenfeaturetitle .group-19-jHWRB2 {
  background-color: transparent;
  height: 308px;
  left: 1090px;
  position: absolute;
  top: 2146px;
  width: 730px;
}

.servicepluginservicescreenfeaturetitle .web-sub_-title-jHWRB2 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .web-title-area-jHWRB2 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .web-tab-service-plug-in_-service-screen-jHWRB2 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .x3rd-depth-triWDs {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .tab-sx0sx6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginservicescreenfeaturetitle .feature-CBF1sC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginservicescreenfeaturetitle .feature-title-CBF1sC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginservicescreenfeaturetitle .no-information-CBF1sC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginservicescreenfeaturetitle .lnb-service-plug-in-jHWRB2 {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .rectangle-uomvyu {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .lnb-uomvyu {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .stacked-group-BIVhmy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-title-common-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose539 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose439 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose339 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose140 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose239 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose82 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_open_selected-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1131 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1038 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group933 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group834 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group731 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group530 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group429 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group328 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group229 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group120 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginservicescreenfeaturetitle .group-V7XCHN {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .empty-j24A9m {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .line-copy-j24A9m {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginservicescreenfeaturetitle .empty-4V9syx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-title-common-0aJoex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .line-BIVhmy {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginservicescreenfeaturetitle .home-net-gui-guidelin-BIVhmy {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginservicescreenfeaturetitle .webgnb-jHWRB2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .rectangle-JeGwxG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .background-JeGwxG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .index-JeGwxG {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginservicescreenfeaturetitle .web-index-select-SXUK1h {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginservicescreenfeaturetitle .web-index-unselect-SXUK1h {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginservicescreenfeaturetitle .web-index-unelect_main-JeGwxG {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginservicescreenfeaturetitle .logo-gbPoaf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
