/* screen - servicefeatureservicefeaturetypeslist */

.servicefeatureservicefeaturetypeslist {
  background-color: var(--white);
  height: 1270px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypeslist .group-9-O4Ftf9 {
  background-color: transparent;
  height: 281px;
  left: 1090px;
  position: absolute;
  top: 343px;
  width: 730px;
}

.servicefeatureservicefeaturetypeslist .group-8-eM71hI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text2line-q0Yx8T {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text1line-q0Yx8T {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text1line-7rxivE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypeslist .descriptiontabletop-eM71hI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeatureservicefeaturetypeslist .group-7-eM71hI {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text1line-2gARGz {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text2line-2gARGz {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 401px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text2line-copy-2gARGz {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 400px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text1line-4SD14Q {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 47px;
  width: 260px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text1line-rumN7T {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypeslist .group-6-eM71hI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 730px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text1line-VEMnq6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text2line-VEMnq6 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypeslist .table-guide-text1line-ChckCC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypeslist .sizeh_r-copy-2-eM71hI {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 169px;
}

.servicefeatureservicefeaturetypeslist .group-5-O4Ftf9 {
  background-color: transparent;
  height: 227px;
  left: 380px;
  position: absolute;
  top: 846px;
  width: 377px;
}

.servicefeatureservicefeaturetypeslist .group-4-O4Ftf9 {
  background-color: transparent;
  height: 404px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 660px;
}

.servicefeatureservicefeaturetypeslist .web-sub_-title-O4Ftf9 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.servicefeatureservicefeaturetypeslist .web-title-area-O4Ftf9 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypeslist .web-tab-favorite-car-O4Ftf9 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypeslist .x3rd-depth-Ttj7yJ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypeslist .tab-Ttj7yJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypeslist .service-feature-type-xLbGuo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 130px;
}

.servicefeatureservicefeaturetypeslist .service-feature-type-Wt5uux {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.servicefeatureservicefeaturetypeslist .list-xLbGuo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypeslist .dropdown-list-xLbGuo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypeslist .dropdwon-graph-xLbGuo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypeslist .media-xLbGuo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypeslist .lnb-favorite-card-O4Ftf9 {
  background-color: transparent;
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .rectangle-2h66ub {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .background-2h66ub {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .stacked-group-2h66ub {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .web-index-title-common-yoxYhX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose48 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose38 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose28 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose19 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypeslist .web-index-contents1dpeth_open_selected-yoxYhX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group27 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose18 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypeslist .group-yoxYhX {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .empty-YmEf26 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .line-copy-YmEf26 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypeslist .empty-dKL4H1 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .web-index-title-common-NgJSP4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypeslist .line-2h66ub {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypeslist .home-net-gui-guidelin-2h66ub {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeatureservicefeaturetypeslist .webgnb-O4Ftf9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypeslist .rectangle-CxlFQR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypeslist .background-CxlFQR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypeslist .index-CxlFQR {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.servicefeatureservicefeaturetypeslist .web-index-select-PI5qks {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.servicefeatureservicefeaturetypeslist .web-index-unselect-PI5qks {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.servicefeatureservicefeaturetypeslist .web-index-unelect_main-CxlFQR {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeatureservicefeaturetypeslist .logo-Tq0AhY {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
