/* screen - servicepluginenergyusagecard */

.servicepluginenergyusagecard {
  background-color: var(--white);
  height: 2932px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginenergyusagecard .group-10-DxSnLn {
  background-color: transparent;
  height: 538px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 660px;
}

.servicepluginenergyusagecard .group-9-DxSnLn {
  background-color: transparent;
  height: 454px;
  left: 380px;
  position: absolute;
  top: 1134px;
  width: 440px;
}

.servicepluginenergyusagecard .group-15-DxSnLn {
  background-color: transparent;
  height: 420px;
  left: 419px;
  position: absolute;
  top: 1789px;
  width: 600px;
}

.servicepluginenergyusagecard .group-16-DxSnLn {
  background-color: transparent;
  height: 375px;
  left: 419px;
  position: absolute;
  top: 2358px;
  width: 362px;
}

.servicepluginenergyusagecard .group-6-F4cDhE {
  background-color: transparent;
  height: 270px;
  left: 0px;
  position: absolute;
  top: 105px;
  width: 362px;
}

.servicepluginenergyusagecard .table-guide-title-copy-2-F4cDhE {
  background-color: transparent;
  height: 56px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 295px;
}

.servicepluginenergyusagecard .group-14-DxSnLn {
  background-color: transparent;
  height: 301px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginenergyusagecard .group-3-gciqkW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-xigtOM {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-xigtOM {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-FqZF7A {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-5-gciqkW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-kL7PME {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-kL7PME {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-C1PF0A {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-11-gciqkW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-Kn3OXY {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-Kn3OXY {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-vyGKGY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-12-gciqkW {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-a5LtGw {
  background-color: transparent;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-a5LtGw {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-7NExP8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-13-gciqkW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-9xKgfG {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-9xKgfG {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-TF3xco {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .descriptiontabletop-gciqkW {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginenergyusagecard .group-14-no2OrV {
  background-color: transparent;
  height: 254px;
  left: 1090px;
  position: absolute;
  top: 1029px;
  width: 730px;
}

.servicepluginenergyusagecard .group-3-kiaAtU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-hi6ojn {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-hi6ojn {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-PvdSxB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-5-kiaAtU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-OYvma6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-OYvma6 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-iSx3x9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-11-kiaAtU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-aq92eG {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-aq92eG {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-WrzCwq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-12-kiaAtU {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 730px;
}

.servicepluginenergyusagecard .table-guide-text1line-fItVjF {
  background-color: transparent;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginenergyusagecard .table-guide-text2line-fItVjF {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text1line-Iiudrh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .descriptiontabletop-kiaAtU {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginenergyusagecard .web-sub_-title-DxSnLn {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginenergyusagecard .table-guide-title-DxSnLn {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 1029px;
  width: 295px;
}

.servicepluginenergyusagecard .web-title-area-DxSnLn {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginenergyusagecard .web-tab-service-plug-DxSnLn {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginenergyusagecard .x3rd-depth-krxN6s {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginenergyusagecard .tab-1Yp9Ln {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginenergyusagecard .card-weu4PG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginenergyusagecard .feature-weu4PG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginenergyusagecard .lnb-service-plug-in-DxSnLn {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .rectangle-oJaDcF {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .lnb-oJaDcF {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .stacked-group-5abpwE {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-title-common-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose45 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose35 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose25 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_open_selected-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group123 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group113 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group85 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group74 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group65 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group54 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group45 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group34 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group24 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group14 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginenergyusagecard .group-q4dstv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .empty-E4KdQ0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginenergyusagecard .line-copy-E4KdQ0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginenergyusagecard .empty-j9M7VZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-title-common-VygiNH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .line-5abpwE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginenergyusagecard .home-net-gui-guidelin-5abpwE {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginenergyusagecard .webgnb-DxSnLn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagecard .rectangle-MnH8yO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagecard .background-MnH8yO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagecard .index-MnH8yO {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginenergyusagecard .web-index-select-UO2wAd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginenergyusagecard .web-index-unselect-UO2wAd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginenergyusagecard .web-index-unelect_main-MnH8yO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginenergyusagecard .logo-gwQ9qf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
