/* screen - servicepluginhomefeatureshortcut */

.servicepluginhomefeatureshortcut {
  background-color: var(--white);
  height: 1498px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomefeatureshortcut .table-guide-title-bqwENm {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 396px;
  width: 620px;
}

.servicepluginhomefeatureshortcut .web-sub_-title-bqwENm {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomefeatureshortcut .group-12-bqwENm {
  background-color: transparent;
  height: 369px;
  left: 400px;
  position: absolute;
  top: 495px;
  width: 436px;
}

.servicepluginhomefeatureshortcut .group-13-bqwENm {
  background-color: transparent;
  height: 346px;
  left: 400px;
  position: absolute;
  top: 963px;
  width: 396px;
}

.servicepluginhomefeatureshortcut .group-6-bqwENm {
  background-color: transparent;
  height: 183px;
  left: 1090px;
  position: absolute;
  top: 1087px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .group-11-bqwENm {
  background-color: transparent;
  height: 591px;
  left: 1090px;
  position: absolute;
  top: 396px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .group-4-EdrmwR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .group-5-EdrmwR {
  background-color: transparent;
  height: 209px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .group-8-EdrmwR {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 322px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .group-9-EdrmwR {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 418px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .group-10-EdrmwR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 507px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .table-guide-text2line_b-copy-3-FvWPO9 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomefeatureshortcut .table-guide-text1line-copy-4-FvWPO9 {
  background-color: transparent;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomefeatureshortcut .table-guide-text2line_m-copy-FvWPO9 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomefeatureshortcut .group-7-EdrmwR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 554px;
  width: 729px;
}

.servicepluginhomefeatureshortcut .descriptiontabletop-EdrmwR {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginhomefeatureshortcut .web-title-area-bqwENm {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomefeatureshortcut .web-tab-service-plug-in_-home-screen-bqwENm {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomefeatureshortcut .x3rd-depth-16aVd3 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomefeatureshortcut .tab-6oeMnO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomefeatureshortcut .feature-SM9Pe2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomefeatureshortcut .feature-_-shortcut-SM9Pe2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 119px;
}

.servicepluginhomefeatureshortcut .more-SM9Pe2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginhomefeatureshortcut .more-_-edit-_-featur-SM9Pe2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomefeatureshortcut .more_-notifications_f-SM9Pe2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginhomefeatureshortcut .more-_-help-guide-SM9Pe2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.servicepluginhomefeatureshortcut .x3rd-depth-P2wOsK {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomefeatureshortcut .tab-Q4COgL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomefeatureshortcut .more-_-help-guide-_-YgCw30 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 226px;
}

.servicepluginhomefeatureshortcut .more-_-help-guide-_-gPYF5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 169px;
}

.servicepluginhomefeatureshortcut .service-feature-YgCw30 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomefeatureshortcut .service-feature-_-no-YgCw30 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomefeatureshortcut .touch-area-YgCw30 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomefeatureshortcut .lnb-service-plug-in-bqwENm {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomefeatureshortcut .rectangle-kf2Ddi {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomefeatureshortcut .lnb-kf2Ddi {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomefeatureshortcut .stacked-group-DV7s45 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomefeatureshortcut .web-index-title-common-BUxOm1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose519 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose419 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose319 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose120 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose219 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose62 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginhomefeatureshortcut .web-index-contents1dpeth_open_selected-BUxOm1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group147 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1018 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group916 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group816 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group713 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group513 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group416 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group314 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group217 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group50 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginhomefeatureshortcut .group-BUxOm1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomefeatureshortcut .empty-GkXnwz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomefeatureshortcut .line-copy-GkXnwz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomefeatureshortcut .empty-Jppr72 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomefeatureshortcut .web-index-title-common-TXcMYD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomefeatureshortcut .line-DV7s45 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomefeatureshortcut .home-net-gui-guidelin-DV7s45 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomefeatureshortcut .webgnb-bqwENm {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomefeatureshortcut .rectangle-kBLsVa {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomefeatureshortcut .background-kBLsVa {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomefeatureshortcut .index-kBLsVa {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomefeatureshortcut .web-index-select-WhfhC1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomefeatureshortcut .web-index-unselect-WhfhC1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomefeatureshortcut .web-index-unelect_main-kBLsVa {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomefeatureshortcut .logo-GgWwwU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
