/* screen - servicefeatureservicefeaturetypesmedia */

.servicefeatureservicefeaturetypesmedia {
  background-color: var(--white);
  height: 1763px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .group-10-ApAYF8 {
  background-color: transparent;
  height: 417px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 660px;
}

.servicefeatureservicefeaturetypesmedia .group-7-ApAYF8 {
  background-color: transparent;
  height: 594px;
  left: 380px;
  position: absolute;
  top: 960px;
  width: 660px;
}

.servicefeatureservicefeaturetypesmedia .group-13-ApAYF8 {
  background-color: transparent;
  height: 207px;
  left: 1090px;
  position: absolute;
  top: 343px;
  width: 730px;
}

.servicefeatureservicefeaturetypesmedia .group-11-Vs0wrE {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-3Ebytt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-3Ebytt {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-6-3Ebytt {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesmedia .group-9-Vs0wrE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 730px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-5-OJtGef {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-OJtGef {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-OJtGef {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesmedia .group-12-Vs0wrE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-34VXU2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-34VXU2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-34VXU2 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeatureservicefeaturetypesmedia .descriptiontabletop-Vs0wrE {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicefeatureservicefeaturetypesmedia .group-15-ApAYF8 {
  background-color: transparent;
  height: 380px;
  left: 1089px;
  position: absolute;
  top: 960px;
  width: 731px;
}

.servicefeatureservicefeaturetypesmedia .web-sub_-title-ApAYF8 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesmedia .web-title-area-ApAYF8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesmedia .web-tab-favorite-car-ApAYF8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesmedia .x3rd-depth-JCZ5l3 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesmedia .tab-JCZ5l3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesmedia .service-feature-type-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 130px;
}

.servicefeatureservicefeaturetypesmedia .service-feature-type-EHAxme {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.servicefeatureservicefeaturetypesmedia .list-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesmedia .dropdown-list-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesmedia .dropdwon-graph-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesmedia .media-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .lnb-favorite-card-ApAYF8 {
  background-color: transparent;
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-gFtQm9 {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .background-gFtQm9 {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .stacked-group-gFtQm9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .web-index-title-common-ZLuXd2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose53 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose43 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose33 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose23 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose13 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypesmedia .web-index-contents1dpeth_open_selected-ZLuXd2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group23 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypesmedia .group-ZLuXd2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .empty-RoP8V9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .line-copy-RoP8V9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesmedia .empty-2OR906 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .web-index-title-common-D72se1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .line-gFtQm9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesmedia .home-net-gui-guidelin-gFtQm9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeatureservicefeaturetypesmedia .webgnb-ApAYF8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-sBntTF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .background-sBntTF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .index-sBntTF {
  background-color: transparent;
  height: 64px;
  left: 428px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.servicefeatureservicefeaturetypesmedia .web-index-select-Nl7tKd {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 17px;
}

.servicefeatureservicefeaturetypesmedia .web-index-unselect-Nl7tKd {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.servicefeatureservicefeaturetypesmedia .web-index-unelect_main-sBntTF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeatureservicefeaturetypesmedia .logo-d0ab4I {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
