/* screen - servicepluginvehiclenoinformation */

.servicepluginvehiclenoinformation {
  background-color: var(--white);
  height: 1964px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehiclenoinformation .service-plugin-vehic-FTNla2 {
  background-color: transparent;
  height: 608px;
  left: 808px;
  position: absolute;
  top: 1156px;
  width: 288px;
}

.servicepluginvehiclenoinformation .service-no-data-FTNla2 {
  background-color: transparent;
  height: 608px;
  left: 420px;
  position: absolute;
  top: 1156px;
  width: 288px;
}

.servicepluginvehiclenoinformation .service-plugin-vehic-7wfp0r {
  background-color: transparent;
  height: 608px;
  left: 1196px;
  position: absolute;
  top: 1156px;
  width: 288px;
}

.servicepluginvehiclenoinformation .group-FTNla2 {
  background-color: transparent;
  height: 608px;
  left: 400px;
  position: absolute;
  top: 398px;
  width: 308px;
}

.servicepluginvehiclenoinformation .group-2-FTNla2 {
  background-color: transparent;
  height: 140px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginvehiclenoinformation .group-Wyalep {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvehiclenoinformation .table-guide-text2line_m-copy-GQfznt {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvehiclenoinformation .table-guide-text2line_m-copy-Ixlg8k {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 47px;
  width: 260px;
}

.servicepluginvehiclenoinformation .table-guide-text1line-GQfznt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehiclenoinformation .table-guide-text2line_m-GQfznt {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehiclenoinformation .table-guide-text2line_m-copy-2-GQfznt {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 400px;
}

.servicepluginvehiclenoinformation .descriptiontabletop-Wyalep {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvehiclenoinformation .web-sub_-title-FTNla2 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvehiclenoinformation .table-guide-title-FTNla2 {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.servicepluginvehiclenoinformation .web-title-area-FTNla2 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehiclenoinformation .web-tab-service-plug-FTNla2 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvehiclenoinformation .x3rd-depth-jT2fRm {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehiclenoinformation .tab-bdXiDd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvehiclenoinformation .vehicle-entry-abd-ex-MX1XXo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 173px;
}

.servicepluginvehiclenoinformation .parking-location-_-c-MX1XXo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.servicepluginvehiclenoinformation .feature-MX1XXo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehiclenoinformation .no-information-MX1XXo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.servicepluginvehiclenoinformation .lnb-service-plug-in-FTNla2 {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclenoinformation .rectangle-wfHTNN {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclenoinformation .lnb-wfHTNN {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclenoinformation .stacked-group-Jpskgu {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvehiclenoinformation .web-index-title-common-jhfkAD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose521 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose421 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose321 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose122 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose221 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose64 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvehiclenoinformation .web-index-contents1dpeth_open_selected-jhfkAD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1211 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1116 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1020 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group918 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group818 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group715 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group615 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group515 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group417 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group316 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvehiclenoinformation .group-jhfkAD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehiclenoinformation .empty-oyiCMy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehiclenoinformation .line-copy-oyiCMy {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehiclenoinformation .empty-AideH1 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehiclenoinformation .web-index-title-common-rIGRoT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehiclenoinformation .line-Jpskgu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvehiclenoinformation .home-net-gui-guidelin-Jpskgu {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvehiclenoinformation .webgnb-FTNla2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvehiclenoinformation .rectangle-a7R9Di {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehiclenoinformation .background-a7R9Di {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehiclenoinformation .index-a7R9Di {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginvehiclenoinformation .web-index-select-CKNS1g {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvehiclenoinformation .web-index-unselect-CKNS1g {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvehiclenoinformation .web-index-unelect_main-a7R9Di {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvehiclenoinformation .logo-OgI8GK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
