/* screen - servicepluginvisitorsparkingfeatureinformation */

.servicepluginvisitorsparkingfeatureinformation {
  background-color: var(--white);
  height: 2608px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvisitorsparkingfeatureinformation .group-19-MFEBBN {
  background-color: transparent;
  height: 383px;
  left: 380px;
  position: absolute;
  top: 2025px;
  width: 660px;
}

.servicepluginvisitorsparkingfeatureinformation .group-18-MFEBBN {
  background-color: transparent;
  height: 513px;
  left: 380px;
  position: absolute;
  top: 1272px;
  width: 660px;
}

.servicepluginvisitorsparkingfeatureinformation .group-20-MFEBBN {
  background-color: transparent;
  height: 237px;
  left: 378px;
  position: absolute;
  top: 842px;
  width: 440px;
}

.servicepluginvisitorsparkingfeatureinformation .group-16-MFEBBN {
  background-color: transparent;
  height: 350px;
  left: 378px;
  position: absolute;
  top: 342px;
  width: 660px;
}

.servicepluginvisitorsparkingfeatureinformation .group-17-MFEBBN {
  background-color: transparent;
  height: 180px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .group-4-xWDlGK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .table-guide-text1line-cv3uOL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsparkingfeatureinformation .table-guide-text2line_m-cv3uOL {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsparkingfeatureinformation .table-guide-text2line_m-wBEvXn {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsparkingfeatureinformation .group-5-xWDlGK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .table-guide-text1line-703ols {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsparkingfeatureinformation .table-guide-text2line_m-703ols {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsparkingfeatureinformation .table-guide-text2line_m-copy-5-703ols {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsparkingfeatureinformation .descriptiontabletop-xWDlGK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .group-17-2Wwsly {
  background-color: transparent;
  height: 135px;
  left: 1090px;
  position: absolute;
  top: 1272px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .group-15-MFEBBN {
  background-color: transparent;
  height: 115px;
  left: 1090px;
  position: absolute;
  top: 2025px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .group-12-MFEBBN {
  background-color: transparent;
  height: 120px;
  left: 1090px;
  position: absolute;
  top: 622px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .group-12-2Wwsly {
  background-color: transparent;
  height: 338px;
  left: 1090px;
  position: absolute;
  top: 1507px;
  width: 730px;
}

.servicepluginvisitorsparkingfeatureinformation .web-sub_-title-MFEBBN {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvisitorsparkingfeatureinformation .web-title-area-MFEBBN {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvisitorsparkingfeatureinformation .web-tab-service-plug-in_cctv-MFEBBN {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvisitorsparkingfeatureinformation .x3rd-depth-6x2ulS {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvisitorsparkingfeatureinformation .tab-i1BjHQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvisitorsparkingfeatureinformation .card-OjkJep {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginvisitorsparkingfeatureinformation .feature-OjkJep {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvisitorsparkingfeatureinformation .feature-register-OjkJep {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.servicepluginvisitorsparkingfeatureinformation .feature-informatio-OjkJep {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.servicepluginvisitorsparkingfeatureinformation .pop-up-OjkJep {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginvisitorsparkingfeatureinformation .pop-up-detail-OjkJep {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.servicepluginvisitorsparkingfeatureinformation .feature-_-delete-lis-OjkJep {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 128px;
}

.servicepluginvisitorsparkingfeatureinformation .lnb-service-plug-in-MFEBBN {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .rectangle-1FeU36 {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .lnb-1FeU36 {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .stacked-group-ThxfYj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .web-index-title-common-xD4L9D {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose524 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose424 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose324 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose125 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose224 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose67 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvisitorsparkingfeatureinformation .web-index-contents1dpeth_open_selected-xD4L9D {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group1023 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group921 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group821 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group718 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group618 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group518 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group419 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group319 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group220 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group70 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvisitorsparkingfeatureinformation .group-xD4L9D {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .empty-dSzeBF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .line-copy-dSzeBF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorsparkingfeatureinformation .empty-qxir7U {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .web-index-title-common-oflRuG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsparkingfeatureinformation .line-ThxfYj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvisitorsparkingfeatureinformation .home-net-gui-guidelin-ThxfYj {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvisitorsparkingfeatureinformation .webgnb-MFEBBN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsparkingfeatureinformation .rectangle-xwT4Xf {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsparkingfeatureinformation .background-xwT4Xf {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsparkingfeatureinformation .index-xwT4Xf {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginvisitorsparkingfeatureinformation .web-index-select-sr9vgx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvisitorsparkingfeatureinformation .web-index-unselect-sr9vgx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvisitorsparkingfeatureinformation .web-index-unelect_main-xwT4Xf {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvisitorsparkingfeatureinformation .logo-AYNzdj {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
