/* screen - servicepluginvisitorsparkingpopup */

.servicepluginvisitorsparkingpopup {
  background-color: var(--white);
  height: 3100px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvisitorsparkingpopup .group-11-3Mq4ex {
  background-color: transparent;
  height: 701px;
  left: 400px;
  position: absolute;
  top: 2201px;
  width: 438px;
}

.servicepluginvisitorsparkingpopup .group-9-3Mq4ex {
  background-color: transparent;
  height: 586px;
  left: 400px;
  position: absolute;
  top: 1467px;
  width: 640px;
}

.servicepluginvisitorsparkingpopup .group-8-3Mq4ex {
  background-color: transparent;
  height: 925px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 360px;
}

.servicepluginvisitorsparkingpopup .group-7-3Mq4ex {
  background-color: transparent;
  height: 925px;
  left: 880px;
  position: absolute;
  top: 342px;
  width: 360px;
}

.servicepluginvisitorsparkingpopup .group-12-3Mq4ex {
  background-color: transparent;
  height: 192px;
  left: 1090px;
  position: absolute;
  top: 1467px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .contents-tfvqhB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 172px;
  width: 283px;
}

.servicepluginvisitorsparkingpopup .group-tfvqhB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .table-guide-text1line-X4Qxba {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-X4Qxba {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-W9AVTU {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsparkingpopup .group-4-tfvqhB {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .table-guide-text1line-1SVYDu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-1SVYDu {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-copy-5-1SVYDu {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsparkingpopup .descriptiontabletop-tfvqhB {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .group-3-3Mq4ex {
  background-color: transparent;
  height: 120px;
  left: 1089px;
  position: absolute;
  top: 1759px;
  width: 731px;
}

.servicepluginvisitorsparkingpopup .group-12-yU9DGu {
  background-color: transparent;
  height: 261px;
  left: 1090px;
  position: absolute;
  top: 2201px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .contents-7rZUdn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 241px;
  width: 283px;
}

.servicepluginvisitorsparkingpopup .group-7rZUdn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .table-guide-text1line-x9LX1q {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-x9LX1q {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-8kxU67 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsparkingpopup .group-4-7rZUdn {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .table-guide-text1line-swAKOW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-swAKOW {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-copy-5-swAKOW {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsparkingpopup .group-5-7rZUdn {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .table-guide-text1line-0rhx1x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-0rhx1x {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorsparkingpopup .table-guide-text2line_m-copy-5-0rhx1x {
  background-color: transparent;
  height: 59px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginvisitorsparkingpopup .descriptiontabletop-7rZUdn {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginvisitorsparkingpopup .group-3-yU9DGu {
  background-color: transparent;
  height: 120px;
  left: 1089px;
  position: absolute;
  top: 2562px;
  width: 731px;
}

.servicepluginvisitorsparkingpopup .web-sub_-title-3Mq4ex {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvisitorsparkingpopup .web-title-area-3Mq4ex {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvisitorsparkingpopup .web-tab-service-plug-in_cctv-3Mq4ex {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvisitorsparkingpopup .x3rd-depth-Hjx4a9 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvisitorsparkingpopup .tab-fI00dG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvisitorsparkingpopup .card-CV2ydz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginvisitorsparkingpopup .feature-CV2ydz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvisitorsparkingpopup .feature-register-CV2ydz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.servicepluginvisitorsparkingpopup .feature-informatio-CV2ydz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 131px;
}

.servicepluginvisitorsparkingpopup .pop-up-CV2ydz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginvisitorsparkingpopup .pop-up-detail-CV2ydz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.servicepluginvisitorsparkingpopup .feature-_-delete-lis-CV2ydz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 128px;
}

.servicepluginvisitorsparkingpopup .lnb-service-plug-in-3Mq4ex {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .rectangle-yriCMF {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .lnb-yriCMF {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .stacked-group-gmeaCK {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .web-index-title-common-k6nxTe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose48 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose38 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose19 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose28 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose18 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvisitorsparkingpopup .web-index-contents1dpeth_open_selected-k6nxTe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group162 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group152 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group142 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group134 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group107 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group67 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group57 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group48 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group27 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group17 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginvisitorsparkingpopup .group-k6nxTe {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .empty-o9AyA2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .line-copy-o9AyA2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorsparkingpopup .empty-9wfB1g {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .web-index-title-common-jWbLQu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsparkingpopup .line-gmeaCK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvisitorsparkingpopup .home-net-gui-guidelin-gmeaCK {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvisitorsparkingpopup .webgnb-3Mq4ex {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsparkingpopup .rectangle-8GhNBq {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsparkingpopup .background-8GhNBq {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsparkingpopup .index-8GhNBq {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginvisitorsparkingpopup .web-index-select-BKn4z0 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvisitorsparkingpopup .web-index-unselect-BKn4z0 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvisitorsparkingpopup .web-index-unelect_main-8GhNBq {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvisitorsparkingpopup .logo-DJ9MXU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
