/* screen - servicepluginhomemorehelpguide */

.servicepluginhomemorehelpguide {
  background-color: var(--white);
  height: 2432px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomemorehelpguide .group-8-tzlfX3 {
  background-color: transparent;
  height: 866px;
  left: 420px;
  position: absolute;
  top: 1366px;
  width: 401px;
}

.servicepluginhomemorehelpguide .group-3-b4DCTT {
  background-color: transparent;
  height: 760px;
  left: 0px;
  position: absolute;
  top: 106px;
  width: 401px;
}

.servicepluginhomemorehelpguide .table-guide-title-copy-b4DCTT {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 295px;
}

.servicepluginhomemorehelpguide .group-2-tzlfX3 {
  background-color: transparent;
  height: 764px;
  left: 380px;
  position: absolute;
  top: 502px;
  width: 401px;
}

.servicepluginhomemorehelpguide .group-7-tzlfX3 {
  background-color: transparent;
  height: 160px;
  left: 1090px;
  position: absolute;
  top: 396px;
  width: 730px;
}

.servicepluginhomemorehelpguide .descriptiontabletop-g7uxv5 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginhomemorehelpguide .group-4-g7uxv5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginhomemorehelpguide .table-guide-text1line-I6feSq {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguide .table-guide-text2line-I6feSq {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguide .table-guide-text1line-Txz9Gc {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguide .group-5-g7uxv5 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 730px;
}

.servicepluginhomemorehelpguide .table-guide-text1line-dAx7d2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguide .table-guide-text2line-dAx7d2 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguide .table-guide-text1line-kAp4OC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguide .group-7-UQCtaH {
  background-color: transparent;
  height: 133px;
  left: 1090px;
  position: absolute;
  top: 1366px;
  width: 730px;
}

.servicepluginhomemorehelpguide .descriptiontabletop-HmcULN {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginhomemorehelpguide .group-6-HmcULN {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.servicepluginhomemorehelpguide .table-guide-text1line-bGhyAG {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginhomemorehelpguide .table-guide-text2line-bGhyAG {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomemorehelpguide .table-guide-text1line-xEGqUl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomemorehelpguide .table-guide-title-tzlfX3 {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 396px;
  width: 620px;
}

.servicepluginhomemorehelpguide .web-sub_-title-tzlfX3 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomemorehelpguide .web-title-area-tzlfX3 {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomemorehelpguide .web-tab-service-plug-in_-home-screen-tzlfX3 {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomemorehelpguide .x3rd-depth-dKvwQQ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomemorehelpguide .tab-GN62Cn {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomemorehelpguide .feature-A7BqHn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomemorehelpguide .feature-_-shortcut-A7BqHn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 119px;
}

.servicepluginhomemorehelpguide .more-A7BqHn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginhomemorehelpguide .more-_-edit-_-featur-A7BqHn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomemorehelpguide .more_-notifications_f-A7BqHn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginhomemorehelpguide .more-_-help-guide-A7BqHn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.servicepluginhomemorehelpguide .x3rd-depth-EsKQSI {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomemorehelpguide .tab-9aI5TQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomemorehelpguide .more-_-help-guide-_-Zm0Dn3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 226px;
}

.servicepluginhomemorehelpguide .more-_-help-guide-_-qMcnAI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 169px;
}

.servicepluginhomemorehelpguide .service-feature-Zm0Dn3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomemorehelpguide .service-feature-_-no-Zm0Dn3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomemorehelpguide .touch-area-Zm0Dn3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomemorehelpguide .lnb-service-plug-in-tzlfX3 {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguide .rectangle-FxbZWR {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguide .lnb-FxbZWR {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguide .stacked-group-GiD0vU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomemorehelpguide .web-index-title-common-QbNKxR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose528 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose428 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose328 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose129 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose228 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose71 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginhomemorehelpguide .web-index-contents1dpeth_open_selected-QbNKxR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group138 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1216 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1121 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1027 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group924 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group622 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group521 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group423 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group321 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group80 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginhomemorehelpguide .group-QbNKxR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomemorehelpguide .empty-CQdQyH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomemorehelpguide .line-copy-CQdQyH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomemorehelpguide .empty-bybpyZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomemorehelpguide .web-index-title-common-jB3gU0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomemorehelpguide .line-GiD0vU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomemorehelpguide .home-net-gui-guidelin-GiD0vU {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomemorehelpguide .webgnb-tzlfX3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomemorehelpguide .rectangle-SwIYM7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomemorehelpguide .background-SwIYM7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomemorehelpguide .index-SwIYM7 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomemorehelpguide .web-index-select-La7eiN {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomemorehelpguide .web-index-unselect-La7eiN {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomemorehelpguide .web-index-unelect_main-SwIYM7 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomemorehelpguide .logo-5mTtVR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
