/* screen - serviceplugincctvfeaturedetail */

.serviceplugincctvfeaturedetail {
  background-color: var(--white);
  height: 1270px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .group-6-4sxz97 {
  background-color: transparent;
  height: 191px;
  left: 380px;
  position: absolute;
  top: 440px;
  width: 394px;
}

.serviceplugincctvfeaturedetail .sizeh_r-copy-3-4sxz97 {
  background-color: transparent;
  height: 17px;
  left: 553px;
  position: absolute;
  top: 627px;
  width: 44px;
}

.serviceplugincctvfeaturedetail .group-12-4sxz97 {
  background-color: transparent;
  height: 215px;
  left: 420px;
  position: absolute;
  top: 724px;
  width: 234px;
}

.serviceplugincctvfeaturedetail .group-11-4sxz97 {
  background-color: transparent;
  height: 189px;
  left: 400px;
  position: absolute;
  top: 1005px;
  width: 356px;
}

.serviceplugincctvfeaturedetail .group-13-4sxz97 {
  background-color: transparent;
  height: 390px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.serviceplugincctvfeaturedetail .group-5-FLDfjW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 730px;
}

.serviceplugincctvfeaturedetail .table-guide-text1line-qwLS51 {
  background-color: transparent;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-qwLS51 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-6-qwLS51 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.serviceplugincctvfeaturedetail .group-FLDfjW {
  background-color: transparent;
  height: 109px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 730px;
}

.serviceplugincctvfeaturedetail .group-4-FLDfjW {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 311px;
  width: 730px;
}

.serviceplugincctvfeaturedetail .table-guide-text1line-h4h9Ti {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-h4h9Ti {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-7-h4h9Ti {
  background-color: transparent;
  height: 79px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.serviceplugincctvfeaturedetail .descriptiontabletop-FLDfjW {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.serviceplugincctvfeaturedetail .group-7-FLDfjW {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 730px;
}

.serviceplugincctvfeaturedetail .web-sub_-title-4sxz97 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .table-guide-title-4sxz97 {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.serviceplugincctvfeaturedetail .web-title-area-4sxz97 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .web-tab-service-plug-in_cctv-4sxz97 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .x3rd-depth-GaZO6o {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .tab-98zai4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugincctvfeaturedetail .card-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugincctvfeaturedetail .feature-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugincctvfeaturedetail .feature-_-detail-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 100px;
}

.serviceplugincctvfeaturedetail .feature-_-list-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 85px;
}

.serviceplugincctvfeaturedetail .feature-_-list-_-det-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.serviceplugincctvfeaturedetail .lnb-service-plug-in-4sxz97 {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .rectangle-ivylf3 {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .lnb-ivylf3 {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .stacked-group-Z8iFMv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-title-common-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose515 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose415 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose315 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose116 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose215 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose50 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_open_selected-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group145 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1014 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group912 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group812 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group710 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group512 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group413 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group310 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group213 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group30 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.serviceplugincctvfeaturedetail .group-4XvwDQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .empty-3dnEIF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .line-copy-3dnEIF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvfeaturedetail .empty-TKXQEC {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-title-common-hZJzqe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .line-Z8iFMv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugincctvfeaturedetail .home-net-gui-guidelin-Z8iFMv {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugincctvfeaturedetail .webgnb-4sxz97 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .rectangle-xwCfMC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .background-xwCfMC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .index-xwCfMC {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.serviceplugincctvfeaturedetail .web-index-select-lOWZ9Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugincctvfeaturedetail .web-index-unselect-lOWZ9Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugincctvfeaturedetail .web-index-unelect_main-xwCfMC {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugincctvfeaturedetail .logo-zo5BLr {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
