/* screen - servicepluginservicescreennoinformation */

.servicepluginservicescreennoinformation {
  background-color: var(--white);
  height: 2300px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginservicescreennoinformation .group-6-yx6lh7 {
  background-color: transparent;
  height: 278px;
  left: 1090px;
  position: absolute;
  top: 342px;
  width: 730px;
}

.servicepluginservicescreennoinformation .group-5-KOqRYN {
  background-color: transparent;
  height: 116px;
  left: 0px;
  position: absolute;
  top: 162px;
  width: 730px;
}

.servicepluginservicescreennoinformation .group-3-KOqRYN {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 730px;
}

.servicepluginservicescreennoinformation .table-guide-text2line_b-copy-opC0Rx {
  background-color: transparent;
  height: 86px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.servicepluginservicescreennoinformation .table-guide-text1line-copy-3-opC0Rx {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicescreennoinformation .table-guide-text2line_m-opC0Rx {
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  left: 59px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicescreennoinformation .descriptiontabletop-KOqRYN {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 730px;
}

.servicepluginservicescreennoinformation .group-7-yx6lh7 {
  background-color: transparent;
  height: 760px;
  left: 420px;
  position: absolute;
  top: 398px;
  width: 402px;
}

.servicepluginservicescreennoinformation .group-yx6lh7 {
  background-color: transparent;
  height: 828px;
  left: 419px;
  position: absolute;
  top: 1308px;
  width: 400px;
}

.servicepluginservicescreennoinformation .group-copy-4-yx6lh7 {
  background-color: transparent;
  height: 20px;
  left: 376px;
  position: absolute;
  top: 1714px;
  width: 45px;
}

.servicepluginservicescreennoinformation .group-copy-5-yx6lh7 {
  background-color: transparent;
  height: 20px;
  left: 376px;
  position: absolute;
  top: 1770px;
  width: 45px;
}

.servicepluginservicescreennoinformation .group-2-yx6lh7 {
  background-color: transparent;
  height: 96px;
  left: 920px;
  position: absolute;
  top: 1062px;
  width: 67px;
}

.servicepluginservicescreennoinformation .group-4-yx6lh7 {
  background-color: transparent;
  height: 194px;
  left: 1090px;
  position: absolute;
  top: 1308px;
  width: 730px;
}

.servicepluginservicescreennoinformation .web-sub_-title-yx6lh7 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginservicescreennoinformation .table-guide-title-copy-yx6lh7 {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 620px;
}

.servicepluginservicescreennoinformation .web-title-area-yx6lh7 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginservicescreennoinformation .web-tab-service-plug-in_-service-screen-yx6lh7 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginservicescreennoinformation .x3rd-depth-6KRQPv {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginservicescreennoinformation .tab-SLvesS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginservicescreennoinformation .feature-cxHRtP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginservicescreennoinformation .feature-title-cxHRtP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.servicepluginservicescreennoinformation .no-information-cxHRtP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.servicepluginservicescreennoinformation .lnb-service-plug-in-yx6lh7 {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreennoinformation .rectangle-6BALXp {
  background-color: var(--concrete);
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreennoinformation .lnb-6BALXp {
  background-color: transparent;
  height: 1085px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreennoinformation .stacked-group-gC9qE2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginservicescreennoinformation .web-index-title-common-xc6j9X {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.webindexcontents1dpethclose542 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose442 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose342 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose143 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose242 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.webindexcontents1dpethclose85 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginservicescreennoinformation .web-index-contents1dpeth_open_selected-xc6j9X {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.group156 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1410 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1312 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1226 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1133 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group1041 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group936 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group837 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group533 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.group330 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.servicepluginservicescreennoinformation .group-xc6j9X {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreennoinformation .empty-BdKVQB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginservicescreennoinformation .line-copy-BdKVQB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginservicescreennoinformation .empty-cPnHz7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreennoinformation .web-index-title-common-Npi5yk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreennoinformation .line-gC9qE2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginservicescreennoinformation .home-net-gui-guidelin-gC9qE2 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginservicescreennoinformation .webgnb-yx6lh7 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreennoinformation .rectangle-lR5Pbp {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreennoinformation .background-lR5Pbp {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreennoinformation .index-lR5Pbp {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginservicescreennoinformation .web-index-select-huJBbx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginservicescreennoinformation .web-index-unselect-huJBbx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginservicescreennoinformation .web-index-unelect_main-lR5Pbp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginservicescreennoinformation .logo-jNRzeF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
