/* screen - c2captserviceconnectioninteractionflow */

.c2captserviceconnectioninteractionflow {
  background-color: var(--white);
  height: 4227px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2captserviceconnectioninteractionflow .c2-c-connector1-welcome-page-I0LDj7 {
  background-color: transparent;
  height: 524px;
  left: 1303px;
  position: absolute;
  top: 1946px;
  width: 234px;
}

.c2captserviceconnectioninteractionflow .scr-services-tab-yyZx8l {
  background-color: transparent;
  height: 524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 234px;
}

.c2captserviceconnectioninteractionflow .scr-services-tab-NyKIFJ {
  background-color: transparent;
  height: 524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .rectangle-2kYN8t {
  background-color: #d7d7d7;
  height: 524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .shrunk_title-2kYN8t {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: 20.7px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: 35px;
}

.c2captserviceconnectioninteractionflow .core-app-apptitledark_1-2kYN8t {
  background-color: transparent;
  height: 16px;
  left: 9px;
  position: absolute;
  top: 26px;
  width: 211px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-xQnHaO {
  background-color: transparent;
  height: 10px;
  left: 202px;
  position: absolute;
  top: 3px;
  width: 3px;
}

.c2captserviceconnectioninteractionflow .combined-shape-hbKVMd {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 3px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-ib7zvT {
  background-color: transparent;
  height: 11px;
  left: 173px;
  position: absolute;
  top: 2px;
  width: 11px;
}

.c2captserviceconnectioninteractionflow .fill-1-X2RuUI {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 11px;
}

.c2captserviceconnectioninteractionflow .combined-shape-xQnHaO {
  background-color: transparent;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme06_lists-subheader_01-NyKIFJ {
  background-color: transparent;
  height: 12px;
  left: 16px;
  position: absolute;
  top: 194px;
  width: 202px;
}

.c2captserviceconnectioninteractionflow .subheader_text-Frexvc {
  background-color: transparent;
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 204px;
}

.c2captserviceconnectioninteractionflow .basic-component-land-yyZx8l {
  background-color: transparent;
  height: 113px;
  left: 7px;
  position: absolute;
  top: 101px;
  width: 219px;
}

.c2captserviceconnectioninteractionflow .basic-component-card-white-bg-abfSdn {
  background-color: transparent;
  height: 113px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 219px;
}

.c2captserviceconnectioninteractionflow .bg-xMPPS0 {
  background-color: var(--baby-powder);
  border: 0.5px solid #d6d6d6;
  border-radius: 16.85px;
  height: 113px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 219px;
}

.c2captserviceconnectioninteractionflow .contents-text-xMPPS0 {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
  height: 111px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 209px;
}

.c2captserviceconnectioninteractionflow .basic-component-page-indicator3dot_1st-abfSdn {
  background-color: transparent;
  height: 6px;
  left: 96px;
  position: absolute;
  top: 98px;
  width: 27px;
}

.c2captserviceconnectioninteractionflow .oval-5pxvgw {
  background-color: transparent;
  height: 5px;
  left: 1px;
  opacity: 0.6;
  position: absolute;
  top: 1px;
  width: 5px;
}

.c2captserviceconnectioninteractionflow .oval-8A75Yv {
  background-color: transparent;
  height: 6px;
  left: 11px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 5px;
}

.c2captserviceconnectioninteractionflow .oval-Yc9xQr {
  background-color: transparent;
  height: 6px;
  left: 22px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 5px;
}

.c2captserviceconnectioninteractionflow .basic-component-serv-abfSdn {
  background-color: transparent;
  height: 47px;
  left: 158px;
  position: absolute;
  top: 46px;
  width: 39px;
}

.c2captserviceconnectioninteractionflow .status-15-oApJ4b {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .status-15-c7SlXg {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .basic-component-button-round_-icon-oApJ4b {
  background-color: transparent;
  height: 26px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .oval-717alC {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .ic-717alC {
  background-color: transparent;
  font-weight: 300;
  height: 26px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 28px;
}

.c2captserviceconnectioninteractionflow .basic-component-serv-WJuqxI {
  background-color: transparent;
  height: 47px;
  left: 90px;
  position: absolute;
  top: 46px;
  width: 39px;
}

.c2captserviceconnectioninteractionflow .status-15-wdeOqU {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .status-15-vEyuAP {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .basic-component-button-round_-icon-wdeOqU {
  background-color: transparent;
  height: 26px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .oval-wNcxJs {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .ic-wNcxJs {
  background-color: transparent;
  font-weight: 300;
  height: 26px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 28px;
}

.c2captserviceconnectioninteractionflow .basic-component-serv-xBkUYs {
  background-color: transparent;
  height: 47px;
  left: 22px;
  position: absolute;
  top: 46px;
  width: 39px;
}

.c2captserviceconnectioninteractionflow .status-15-WJx5j5 {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .status-15-pzv8aN {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .basic-component-button-round_-icon-WJx5j5 {
  background-color: transparent;
  height: 26px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .oval-shUT9I {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .ic-shUT9I {
  background-color: transparent;
  font-weight: 300;
  height: 26px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 28px;
}

.c2captserviceconnectioninteractionflow .x000-0000-w-ic-abfSdn {
  background-color: transparent;
  height: 13px;
  left: 13px;
  position: absolute;
  top: 27px;
  width: 205px;
}

.c2captserviceconnectioninteractionflow .basic-component-butt-bsA9bw {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 13px;
}

.c2captserviceconnectioninteractionflow .oval-Ltb6sa {
  background-color: transparent;
  height: 13px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 13px;
}

.c2captserviceconnectioninteractionflow .image-Ltb6sa {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 5.8px;
  font-style: normal;
  font-weight: 300;
  height: 13px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 5.2px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 15px;
}

.c2captserviceconnectioninteractionflow .x000-0000-bsA9bw {
  background-color: transparent;
  color: #00000080;
  font-family: var(--font-family-roboto);
  font-size: 8.4px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 188px;
}

.c2captserviceconnectioninteractionflow .apartment-name-abfSdn {
  background-color: transparent;
  height: 17px;
  left: 13px;
  position: absolute;
  top: 8px;
  width: 189px;
}

.c2captserviceconnectioninteractionflow .apartment-name-LGtFTK {
  background-color: transparent;
  color: var(--licorice);
  font-family: var(--font-family-samsungonekorean-600);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 13.0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 191px;
}

.c2captserviceconnectioninteractionflow .basic-component-cont-LGtFTK {
  background-color: transparent;
  height: 4px;
  left: 184px;
  position: absolute;
  top: 7px;
  transform: rotate(-90deg);
  width: 6px;
}

.c2captserviceconnectioninteractionflow .home_button_expand_open-g5qnye {
  background-color: transparent;
  height: 6px;
  left: 1px;
  position: absolute;
  top: -2px;
  transform: rotate(-90deg);
  width: 4px;
}

.c2captserviceconnectioninteractionflow .core-app-discover-card-yyZx8l {
  background-color: transparent;
  height: 75px;
  left: 8px;
  position: absolute;
  top: 244px;
  width: 215px;
}

.c2captserviceconnectioninteractionflow .rectangle-2-ptR3bk {
  background-color: var(--baby-powder);
  border-radius: 11.67px;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 215px;
}

.c2captserviceconnectioninteractionflow .subtext-copy-2-ptR3bk {
  background-color: transparent;
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 21px;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 10.4px;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 143px;
}

.c2captserviceconnectioninteractionflow .main-ptR3bk {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  height: 13px;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 19px;
  white-space: nowrap;
  width: 143px;
}

.c2captserviceconnectioninteractionflow .ic-galaxy-x-ptR3bk {
  background-color: transparent;
  height: 19px;
  left: 23px;
  position: absolute;
  top: 27px;
  width: 16px;
}

.c2captserviceconnectioninteractionflow .combined-shape-126SXl {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}

.c2captserviceconnectioninteractionflow .path-126SXl {
  background-color: transparent;
  height: 7px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 4px;
}

.c2captserviceconnectioninteractionflow .my-home-yyZx8l {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-samsungoneui-700);
  font-size: 11.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: 93px;
}

.c2captserviceconnectioninteractionflow .group-3-yyZx8l {
  background-color: transparent;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 454px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .rectangle-3ZmdVx {
  background-color: var(--baby-powder);
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .basic00-system-navigation-bar-3ZmdVx {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 39px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme01-3ZmdVx {
  background-color: transparent;
  height: 25px;
  left: 97px;
  position: absolute;
  top: 12px;
  width: 41px;
}

.c2captserviceconnectioninteractionflow .bottomtet-baETxv {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 43px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-baETxv {
  background-color: transparent;
  height: 11px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.c2captserviceconnectioninteractionflow .combined-shape-PYI3rr {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme01-fuNR7O {
  background-color: transparent;
  height: 25px;
  left: 51px;
  opacity: 0.5;
  position: absolute;
  top: 12px;
  width: 41px;
}

.c2captserviceconnectioninteractionflow .bottomtet-tgvQI2 {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 43px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-tgvQI2 {
  background-color: transparent;
  height: 12px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .combined-shape-OOq8zH {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme01-sNK2zf {
  background-color: transparent;
  height: 24px;
  left: 5px;
  opacity: 0.5;
  position: absolute;
  top: 13px;
  width: 40px;
}

.c2captserviceconnectioninteractionflow .bottomtet-cEYEfq {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 42px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-cEYEfq {
  background-color: transparent;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .combined-shape-8V6C2c {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .group-4-3ZmdVx {
  background-color: transparent;
  height: 27px;
  left: 141px;
  position: absolute;
  top: 10px;
  width: 48px;
}

.c2captserviceconnectioninteractionflow .group-6-mrT5YU {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}

.c2captserviceconnectioninteractionflow .bottomtet-Ju2xEO {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 50px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-Ju2xEO {
  background-color: transparent;
  height: 14px;
  left: 16px;
  opacity: 0.6;
  position: absolute;
  top: 1px;
  width: 14px;
}

.c2captserviceconnectioninteractionflow .combined-shape-DT7xlX {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}

.c2captserviceconnectioninteractionflow .group-5-3ZmdVx {
  background-color: transparent;
  height: 27px;
  left: 186px;
  position: absolute;
  top: 10px;
  width: 47px;
}

.c2captserviceconnectioninteractionflow .more-2kpRbw {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-applesdgothicneo-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 49px;
}

.c2captserviceconnectioninteractionflow .ic_-back-2kpRbw {
  background-color: transparent;
  height: 8px;
  left: 19px;
  opacity: 0.6;
  position: absolute;
  top: 4px;
  width: 8px;
}

.c2captserviceconnectioninteractionflow .drawer-BxcJmj {
  background-color: transparent;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 8px;
}

.c2captserviceconnectioninteractionflow .c2-c-connector1-welcome-page-GbwSkj {
  background-color: transparent;
  height: 524px;
  left: 423px;
  position: absolute;
  top: 2726px;
  width: 234px;
}

.c2captserviceconnectioninteractionflow .scr-services-tab-oqbWE7 {
  background-color: transparent;
  height: 524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 234px;
}

.c2captserviceconnectioninteractionflow .scr-services-tab-c1XxnS {
  background-color: transparent;
  height: 524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .rectangle-kxWOdK {
  background-color: #d7d7d7;
  height: 524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .shrunk_title-kxWOdK {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: 20.7px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: 35px;
}

.c2captserviceconnectioninteractionflow .core-app-apptitledark_1-kxWOdK {
  background-color: transparent;
  height: 16px;
  left: 9px;
  position: absolute;
  top: 26px;
  width: 211px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-1ZpDsM {
  background-color: transparent;
  height: 10px;
  left: 202px;
  position: absolute;
  top: 3px;
  width: 3px;
}

.c2captserviceconnectioninteractionflow .combined-shape-8Kl4cN {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 3px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-1LRreQ {
  background-color: transparent;
  height: 11px;
  left: 173px;
  position: absolute;
  top: 2px;
  width: 11px;
}

.c2captserviceconnectioninteractionflow .fill-1-Itj7TD {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 11px;
}

.c2captserviceconnectioninteractionflow .combined-shape-1ZpDsM {
  background-color: transparent;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme06_lists-subheader_01-c1XxnS {
  background-color: transparent;
  height: 12px;
  left: 16px;
  position: absolute;
  top: 194px;
  width: 202px;
}

.c2captserviceconnectioninteractionflow .subheader_text-MuDnkc {
  background-color: transparent;
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 204px;
}

.c2captserviceconnectioninteractionflow .basic-component-land-oqbWE7 {
  background-color: transparent;
  height: 113px;
  left: 7px;
  position: absolute;
  top: 101px;
  width: 219px;
}

.c2captserviceconnectioninteractionflow .basic-component-card-white-bg-DxC1MS {
  background-color: transparent;
  height: 113px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 219px;
}

.c2captserviceconnectioninteractionflow .bg-2rnMjl {
  background-color: var(--baby-powder);
  border: 0.5px solid #d6d6d6;
  border-radius: 16.85px;
  height: 113px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 219px;
}

.c2captserviceconnectioninteractionflow .contents-text-2rnMjl {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
  height: 111px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 209px;
}

.c2captserviceconnectioninteractionflow .basic-component-page-indicator3dot_1st-DxC1MS {
  background-color: transparent;
  height: 6px;
  left: 96px;
  position: absolute;
  top: 98px;
  width: 27px;
}

.c2captserviceconnectioninteractionflow .oval-xT4KDx {
  background-color: transparent;
  height: 5px;
  left: 1px;
  opacity: 0.6;
  position: absolute;
  top: 1px;
  width: 5px;
}

.c2captserviceconnectioninteractionflow .oval-IHoe5y {
  background-color: transparent;
  height: 6px;
  left: 11px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 5px;
}

.c2captserviceconnectioninteractionflow .oval-iPHOvu {
  background-color: transparent;
  height: 6px;
  left: 22px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 5px;
}

.c2captserviceconnectioninteractionflow .basic-component-serv-DxC1MS {
  background-color: transparent;
  height: 47px;
  left: 158px;
  position: absolute;
  top: 46px;
  width: 39px;
}

.c2captserviceconnectioninteractionflow .status-15-k5eRPH {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .status-15-VBtxnO {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .basic-component-button-round_-icon-k5eRPH {
  background-color: transparent;
  height: 26px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .oval-Lvl85H {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .ic-Lvl85H {
  background-color: transparent;
  font-weight: 300;
  height: 26px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 28px;
}

.c2captserviceconnectioninteractionflow .basic-component-serv-JLQAyS {
  background-color: transparent;
  height: 47px;
  left: 90px;
  position: absolute;
  top: 46px;
  width: 39px;
}

.c2captserviceconnectioninteractionflow .status-15-nS2Nol {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .status-15-i32uwJ {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .basic-component-button-round_-icon-nS2Nol {
  background-color: transparent;
  height: 26px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .oval-X9vo5L {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .ic-X9vo5L {
  background-color: transparent;
  font-weight: 300;
  height: 26px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 28px;
}

.c2captserviceconnectioninteractionflow .basic-component-serv-8xUdPj {
  background-color: transparent;
  height: 47px;
  left: 22px;
  position: absolute;
  top: 46px;
  width: 39px;
}

.c2captserviceconnectioninteractionflow .status-15-ZuqTIx {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .status-15-uwtEJ0 {
  background-color: transparent;
  font-weight: 300;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.c2captserviceconnectioninteractionflow .basic-component-button-round_-icon-ZuqTIx {
  background-color: transparent;
  height: 26px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .oval-fgJ2qK {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 26px;
}

.c2captserviceconnectioninteractionflow .ic-fgJ2qK {
  background-color: transparent;
  font-weight: 300;
  height: 26px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 28px;
}

.c2captserviceconnectioninteractionflow .x000-0000-w-ic-DxC1MS {
  background-color: transparent;
  height: 13px;
  left: 13px;
  position: absolute;
  top: 27px;
  width: 205px;
}

.c2captserviceconnectioninteractionflow .basic-component-butt-SBmiOA {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 13px;
}

.c2captserviceconnectioninteractionflow .oval-pQqghX {
  background-color: transparent;
  height: 13px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 13px;
}

.c2captserviceconnectioninteractionflow .image-pQqghX {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 5.8px;
  font-style: normal;
  font-weight: 300;
  height: 13px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 5.2px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 15px;
}

.c2captserviceconnectioninteractionflow .x000-0000-SBmiOA {
  background-color: transparent;
  color: #00000080;
  font-family: var(--font-family-roboto);
  font-size: 8.4px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 188px;
}

.c2captserviceconnectioninteractionflow .apartment-name-DxC1MS {
  background-color: transparent;
  height: 17px;
  left: 13px;
  position: absolute;
  top: 8px;
  width: 189px;
}

.c2captserviceconnectioninteractionflow .apartment-name-LGHyG4 {
  background-color: transparent;
  color: var(--licorice);
  font-family: var(--font-family-samsungonekorean-600);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 13.0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 191px;
}

.c2captserviceconnectioninteractionflow .basic-component-cont-LGHyG4 {
  background-color: transparent;
  height: 4px;
  left: 184px;
  position: absolute;
  top: 7px;
  transform: rotate(-90deg);
  width: 6px;
}

.c2captserviceconnectioninteractionflow .home_button_expand_open-rlqIDb {
  background-color: transparent;
  height: 6px;
  left: 1px;
  position: absolute;
  top: -2px;
  transform: rotate(-90deg);
  width: 4px;
}

.c2captserviceconnectioninteractionflow .core-app-discover-card-oqbWE7 {
  background-color: transparent;
  height: 75px;
  left: 8px;
  position: absolute;
  top: 244px;
  width: 215px;
}

.c2captserviceconnectioninteractionflow .rectangle-2-0rHacc {
  background-color: var(--baby-powder);
  border-radius: 11.67px;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 215px;
}

.c2captserviceconnectioninteractionflow .subtext-copy-2-0rHacc {
  background-color: transparent;
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 21px;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 10.4px;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 143px;
}

.c2captserviceconnectioninteractionflow .main-0rHacc {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  height: 13px;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 19px;
  white-space: nowrap;
  width: 143px;
}

.c2captserviceconnectioninteractionflow .ic-galaxy-x-0rHacc {
  background-color: transparent;
  height: 19px;
  left: 23px;
  position: absolute;
  top: 27px;
  width: 16px;
}

.c2captserviceconnectioninteractionflow .combined-shape-Vgjy1W {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}

.c2captserviceconnectioninteractionflow .path-Vgjy1W {
  background-color: transparent;
  height: 7px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 4px;
}

.c2captserviceconnectioninteractionflow .my-home-oqbWE7 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-samsungoneui-700);
  font-size: 11.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: 93px;
}

.c2captserviceconnectioninteractionflow .group-3-oqbWE7 {
  background-color: transparent;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 454px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .rectangle-xIUY9i {
  background-color: var(--baby-powder);
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .basic00-system-navigation-bar-xIUY9i {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 39px;
  width: 233px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme01-xIUY9i {
  background-color: transparent;
  height: 25px;
  left: 97px;
  position: absolute;
  top: 12px;
  width: 41px;
}

.c2captserviceconnectioninteractionflow .bottomtet-ADLO2g {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 43px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-ADLO2g {
  background-color: transparent;
  height: 11px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.c2captserviceconnectioninteractionflow .combined-shape-LxNTGt {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme01-x2BTEJ {
  background-color: transparent;
  height: 25px;
  left: 51px;
  opacity: 0.5;
  position: absolute;
  top: 12px;
  width: 41px;
}

.c2captserviceconnectioninteractionflow .bottomtet-XjMI8i {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 43px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-XjMI8i {
  background-color: transparent;
  height: 12px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .combined-shape-goysVE {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .mobile-light_theme01-laQpfl {
  background-color: transparent;
  height: 24px;
  left: 5px;
  opacity: 0.5;
  position: absolute;
  top: 13px;
  width: 40px;
}

.c2captserviceconnectioninteractionflow .bottomtet-fXv3pB {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 42px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-fXv3pB {
  background-color: transparent;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .combined-shape-DYaZ7E {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.c2captserviceconnectioninteractionflow .group-4-xIUY9i {
  background-color: transparent;
  height: 27px;
  left: 141px;
  position: absolute;
  top: 10px;
  width: 48px;
}

.c2captserviceconnectioninteractionflow .group-6-h708ct {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}

.c2captserviceconnectioninteractionflow .bottomtet-MKHXEC {
  background-color: transparent;
  font-weight: 500;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 50px;
}

.c2captserviceconnectioninteractionflow .mobile-light_themeic-MKHXEC {
  background-color: transparent;
  height: 14px;
  left: 16px;
  opacity: 0.6;
  position: absolute;
  top: 1px;
  width: 14px;
}

.c2captserviceconnectioninteractionflow .combined-shape-veBQYT {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}

.c2captserviceconnectioninteractionflow .group-5-xIUY9i {
  background-color: transparent;
  height: 27px;
  left: 186px;
  position: absolute;
  top: 10px;
  width: 47px;
}

.c2captserviceconnectioninteractionflow .more-JuLkCs {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-applesdgothicneo-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  height: 11px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 9px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 49px;
}

.c2captserviceconnectioninteractionflow .ic_-back-JuLkCs {
  background-color: transparent;
  height: 8px;
  left: 19px;
  opacity: 0.6;
  position: absolute;
  top: 4px;
  width: 8px;
}

.c2captserviceconnectioninteractionflow .drawer-1cngq7 {
  background-color: transparent;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 8px;
}

.c2captserviceconnectioninteractionflow .group-9-I0LDj7 {
  background-color: transparent;
  height: 704px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.c2captserviceconnectioninteractionflow .group-7-I0LDj7 {
  background-color: transparent;
  height: 1170px;
  left: 420px;
  position: absolute;
  top: 1302px;
  width: 1083px;
}

.c2captserviceconnectioninteractionflow .group-2-I0LDj7 {
  background-color: transparent;
  height: 525px;
  left: 513px;
  position: absolute;
  top: 2726px;
  width: 649px;
}

.c2captserviceconnectioninteractionflow .group-3-I0LDj7 {
  background-color: transparent;
  height: 520px;
  left: 423px;
  position: absolute;
  top: 3507px;
  width: 741px;
}

.c2captserviceconnectioninteractionflow .web-sub_-title-I0LDj7 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2captserviceconnectioninteractionflow .web-title-area-I0LDj7 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.c2captserviceconnectioninteractionflow .web-tabc2-c-connector_-I0LDj7 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: absolute;
  top: 187px;
  width: 1600px;
}

.c2captserviceconnectioninteractionflow .x3rd-depth-jBjdq9 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2captserviceconnectioninteractionflow .tab-TPtQ5e {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2captserviceconnectioninteractionflow .overview-1095aq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 56px;
}

.c2captserviceconnectioninteractionflow .onboarding-start-p-1095aq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.c2captserviceconnectioninteractionflow .onboarding-1095aq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 191px;
}

.c2captserviceconnectioninteractionflow .onboarding-welcome-1095aq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 169px;
}

.c2captserviceconnectioninteractionflow .interaction-flow-1095aq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.c2captserviceconnectioninteractionflow .lnbc2-c-connector_1-I0LDj7 {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .rectangle-Am10OM {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .lnb-Am10OM {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .rectangle-XxQ1A7 {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .stacked-group-XxQ1A7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-title-common-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .empty-7eUNnk {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .line-copy-7eUNnk {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2captserviceconnectioninteractionflow .empty-XWt38T {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-title-reference-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2captserviceconnectioninteractionflow .empty-copy-2-7eUNnk {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .line-copy-2-7eUNnk {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2captserviceconnectioninteractionflow .empty-copy-7eUNnk {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-title-reference-copy-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1d-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1d-XWt38T {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1d-Fkmj31 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1dpeth_open_selected-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1dpeth_close-copy-5-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1dpeth_close-copy-3-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1dpeth_close-copy-6-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .web-index-contents1dpeth_close-copy-2-7eUNnk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2captserviceconnectioninteractionflow .line-XxQ1A7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2captserviceconnectioninteractionflow .home-net-ui-guideline-Am10OM {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2captserviceconnectioninteractionflow .webgnb-I0LDj7 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2captserviceconnectioninteractionflow .rectangle-YMWkdt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2captserviceconnectioninteractionflow .background-YMWkdt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2captserviceconnectioninteractionflow .index-YMWkdt {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2captserviceconnectioninteractionflow .web-index-select-DZjK6W {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2captserviceconnectioninteractionflow .web-index-unselect-DZjK6W {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2captserviceconnectioninteractionflow .web-index-unelect_main-YMWkdt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2captserviceconnectioninteractionflow .table-guide-title_-disabled-divider-I0LDj7 {
  background-color: transparent;
  height: 38px;
  left: 420px;
  position: absolute;
  top: 1246px;
  width: 1400px;
}

.c2captserviceconnectioninteractionflow .rectangle-kPJ0GU {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.c2captserviceconnectioninteractionflow .table-title-text-kPJ0GU {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 1388px;
}

.c2captserviceconnectioninteractionflow .table-guide-title_-disabled-divider-copy-I0LDj7 {
  background-color: transparent;
  height: 38px;
  left: 420px;
  position: absolute;
  top: 2670px;
  width: 1400px;
}

.c2captserviceconnectioninteractionflow .rectangle-XovhSM {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.c2captserviceconnectioninteractionflow .table-title-text-XovhSM {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 1388px;
}

.c2captserviceconnectioninteractionflow .table-guide-title_-d-I0LDj7 {
  background-color: transparent;
  height: 38px;
  left: 420px;
  position: absolute;
  top: 3451px;
  width: 1400px;
}

.c2captserviceconnectioninteractionflow .rectangle-SZkS2n {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.c2captserviceconnectioninteractionflow .table-title-text-SZkS2n {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 1388px;
}
