/* screen - c2caccesstokenrecoveryoverview */

.c2caccesstokenrecoveryoverview {
  background-color: var(--white);
  height: 1835px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenrecoveryoverview .group-12-07ytRX {
  background-color: transparent;
  height: 150px;
  left: 420px;
  position: absolute;
  top: 916px;
  width: 670px;
}

.c2caccesstokenrecoveryoverview .group-9-07ytRX {
  background-color: transparent;
  height: 268px;
  left: 420px;
  position: absolute;
  top: 1116px;
  width: 337px;
}

.c2caccesstokenrecoveryoverview .group-11-07ytRX {
  background-color: transparent;
  height: 167px;
  left: 857px;
  position: absolute;
  top: 1116px;
  width: 295px;
}

.c2caccesstokenrecoveryoverview .group-8-07ytRX {
  background-color: transparent;
  height: 407px;
  left: 1140px;
  position: absolute;
  top: 916px;
  width: 680px;
}

.c2caccesstokenrecoveryoverview .group-2-07ytRX {
  background-color: transparent;
  height: 212px;
  left: 1140px;
  position: absolute;
  top: 1423px;
  width: 680px;
}

.c2caccesstokenrecoveryoverview .group-48-07ytRX {
  background-color: transparent;
  height: 324px;
  left: 420px;
  position: absolute;
  top: 392px;
  width: 1400px;
}

.c2caccesstokenrecoveryoverview .web-sub_-title-07ytRX {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.c2caccesstokenrecoveryoverview .sub-title-ELx8H5 {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 101px;
}

.c2caccesstokenrecoveryoverview .web-title-area-07ytRX {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenrecoveryoverview .lnbc2-c-connector_1-07ytRX {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .rectangle-8X7VFa {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .lnb-8X7VFa {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .rectangle-G4IWFx {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .stacked-group-G4IWFx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-title-common-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .empty-3vcpXa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .line-copy-3vcpXa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2caccesstokenrecoveryoverview .empty-off0g6 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-title-reference-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2caccesstokenrecoveryoverview .empty-copy-2-3vcpXa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .line-copy-2-3vcpXa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2caccesstokenrecoveryoverview .empty-copy-3vcpXa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-title-reference-copy-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1d-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1d-off0g6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1d-YlYDYS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1dpeth_open_selected-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1dpeth_close-copy-5-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1dpeth_close-copy-3-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1dpeth_close-copy-6-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .web-index-contents1dpeth_close-copy-2-3vcpXa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoveryoverview .line-G4IWFx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenrecoveryoverview .home-net-ui-guideline-8X7VFa {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2caccesstokenrecoveryoverview .web-tabc2-c-connector_-07ytRX {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenrecoveryoverview .x3rd-depth-IE3f0R {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenrecoveryoverview .tab-2p2C7v {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2caccesstokenrecoveryoverview .overview-odLFcn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 59px;
}

.c2caccesstokenrecoveryoverview .partner-refresh-toke-odLFcn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 197px;
}

.c2caccesstokenrecoveryoverview .st-refresh-token-inv-copy-odLFcn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenrecoveryoverview .interaction-flows-copy-2-odLFcn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.c2caccesstokenrecoveryoverview .famaily-hub-token-odLFcn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.c2caccesstokenrecoveryoverview .webgnb-07ytRX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrecoveryoverview .rectangle-tt5x3d {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrecoveryoverview .background-tt5x3d {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrecoveryoverview .index-tt5x3d {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2caccesstokenrecoveryoverview .web-index-select-EV1bio {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2caccesstokenrecoveryoverview .web-index-unselect-EV1bio {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2caccesstokenrecoveryoverview .web-index-unelect_main-tt5x3d {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}
