/* screen - c2chistory */

.c2chistory {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2chistory .subject-tjA7or {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 234px;
  width: 1400px;
}

.c2chistory .table-general-title_1line-MRdGYh {
  background-color: transparent;
  height: 58px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 189px;
}

.c2chistory .rectangle-z4bZHU {
  background-color: var(--sonic-silver);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 190px;
}

.c2chistory .table-title-z4bZHU {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 147px;
}

.c2chistory .table-general-title_1line-aeCFDv {
  background-color: transparent;
  height: 58px;
  left: 326px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-MRtMoJ {
  background-color: var(--sonic-silver);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .table-title-MRtMoJ {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-title_1line-xVgWoh {
  background-color: transparent;
  height: 58px;
  left: 186px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-uKv62k {
  background-color: var(--sonic-silver);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .table-title-uKv62k {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-title_1line-2R6sGs {
  background-color: transparent;
  height: 58px;
  left: 466px;
  position: absolute;
  top: -1px;
  width: 641px;
}

.c2chistory .rectangle-wbqtvz {
  background-color: var(--sonic-silver);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 642px;
}

.c2chistory .table-title-wbqtvz {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 599px;
}

.c2chistory .table-general-title_1line-ozzmmo {
  background-color: transparent;
  height: 58px;
  left: 1105px;
  position: absolute;
  top: -1px;
  width: 296px;
}

.c2chistory .rectangle-c1cOfj {
  background-color: var(--sonic-silver);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 297px;
}

.c2chistory .table-title-c1cOfj {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 254px;
}

.c2chistory .web-title-area-tjA7or {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2chistory .lnbc2-c-connector_1-tjA7or {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2chistory .rectangle-h01Y96 {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2chistory .lnb-h01Y96 {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2chistory .rectangle-2hdpEY {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2chistory .stacked-group-2hdpEY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2chistory .web-index-title-common-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2chistory .empty-r5etM6 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .line-copy-r5etM6 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2chistory .empty-9fReDu {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-title-reference-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2chistory .empty-copy-2-r5etM6 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .line-copy-2-r5etM6 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2chistory .empty-copy-r5etM6 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-title-reference-copy-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2chistory .web-index-contents1d-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-contents1d-9fReDu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-contents1d-B2zNcq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-contents1dpeth_open_selected-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-contents1dpeth_close-copy-5-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-contents1dpeth_close-copy-3-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-contents1dpeth_close-copy-6-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .web-index-contents1dpeth_close-copy-2-r5etM6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2chistory .line-2hdpEY {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2chistory .home-net-ui-guideline-h01Y96 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2chistory .webgnb-tjA7or {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2chistory .rectangle-aEYZ1C {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2chistory .background-aEYZ1C {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2chistory .index-aEYZ1C {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2chistory .web-index-select-2m1DfK {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2chistory .web-index-unselect-2m1DfK {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2chistory .web-index-unelect_main-aEYZ1C {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2chistory .group-59-tjA7or {
  background-color: transparent;
  height: 579px;
  left: 420px;
  position: absolute;
  top: 290px;
  width: 1400px;
}

.c2chistory .group-copy-3-HAYvZZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 327px;
  width: 1400px;
}

.c2chistory .table-general-text1line-xhY0X4 {
  background-color: transparent;
  height: 58px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 189px;
}

.c2chistory .rectangle-mWxWI9 {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 190px;
}

.c2chistory .content-mWxWI9 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 147px;
}

.c2chistory .table-general-text1line-JYlVFx {
  background-color: transparent;
  height: 58px;
  left: 186px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-hFcfXW {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-hFcfXW {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-KUxvTS {
  background-color: transparent;
  height: 58px;
  left: 326px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-sDvJhx {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-sDvJhx {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-45OFTJ {
  background-color: transparent;
  height: 58px;
  left: 466px;
  position: absolute;
  top: -1px;
  width: 641px;
}

.c2chistory .rectangle-ODHPCO {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 642px;
}

.c2chistory .content-ODHPCO {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 599px;
}

.c2chistory .table-general-text1line-BAcqxx {
  background-color: transparent;
  height: 58px;
  left: 1105px;
  position: absolute;
  top: -1px;
  width: 296px;
}

.c2chistory .rectangle-YnlGnS {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 297px;
}

.c2chistory .content-YnlGnS {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 254px;
}

.c2chistory .group-copy-4-HAYvZZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 271px;
  width: 1400px;
}

.c2chistory .table-general-text1line-AuE1VI {
  background-color: transparent;
  height: 58px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 189px;
}

.c2chistory .rectangle-94l8Nx {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 190px;
}

.c2chistory .content-94l8Nx {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 147px;
}

.c2chistory .table-general-text1line-l3kWvA {
  background-color: transparent;
  height: 58px;
  left: 186px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-0fbbgD {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-0fbbgD {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-g8rX2x {
  background-color: transparent;
  height: 58px;
  left: 326px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-wxGH8D {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-wxGH8D {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-aiumxA {
  background-color: transparent;
  height: 58px;
  left: 466px;
  position: absolute;
  top: -1px;
  width: 641px;
}

.c2chistory .rectangle-xZx7gB {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 642px;
}

.c2chistory .content-xZx7gB {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 599px;
}

.c2chistory .table-general-text1line-sUa66t {
  background-color: transparent;
  height: 58px;
  left: 1105px;
  position: absolute;
  top: -1px;
  width: 296px;
}

.c2chistory .rectangle-jbRikm {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 297px;
}

.c2chistory .content-jbRikm {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 254px;
}

.c2chistory .group-copy-5-HAYvZZ {
  background-color: transparent;
  height: 116px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 1400px;
}

.c2chistory .table-general-text1line-u3o4NV {
  background-color: transparent;
  height: 118px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 189px;
}

.c2chistory .rectangle-06KtYW {
  background-color: var(--white);
  height: 119px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 190px;
}

.c2chistory .content-06KtYW {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 53px;
  white-space: nowrap;
  width: 147px;
}

.c2chistory .table-general-text1line-LoEK1c {
  background-color: transparent;
  height: 118px;
  left: 186px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-JDUZO1 {
  background-color: var(--white);
  height: 119px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-JDUZO1 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 53px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-bbSKOp {
  background-color: transparent;
  height: 118px;
  left: 326px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-vYsaKG {
  background-color: var(--white);
  height: 119px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-vYsaKG {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 53px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-ZAJJzA {
  background-color: transparent;
  height: 118px;
  left: 466px;
  position: absolute;
  top: -1px;
  width: 641px;
}

.c2chistory .rectangle-Hyswy0 {
  background-color: var(--white);
  height: 119px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 642px;
}

.c2chistory .content-Hyswy0 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 80px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 599px;
}

.c2chistory .table-general-text1line-GP2YaJ {
  background-color: transparent;
  height: 118px;
  left: 1105px;
  position: absolute;
  top: -1px;
  width: 296px;
}

.c2chistory .rectangle-Jh1Lrq {
  background-color: var(--white);
  height: 119px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 297px;
}

.c2chistory .content-Jh1Lrq {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 42px;
  width: 254px;
}

.c2chistory .group-copy-6-HAYvZZ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 76px;
  width: 1400px;
}

.c2chistory .table-general-text1line-ZDnSWL {
  background-color: transparent;
  height: 81px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 189px;
}

.c2chistory .rectangle-U8a6Nw {
  background-color: var(--white);
  height: 82px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 190px;
}

.c2chistory .content-U8a6Nw {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 147px;
}

.c2chistory .table-general-text1line-rmefmq {
  background-color: transparent;
  height: 81px;
  left: 186px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-etGnXn {
  background-color: var(--white);
  height: 82px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-etGnXn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-AG8Dnx {
  background-color: transparent;
  height: 81px;
  left: 326px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-13fLGx {
  background-color: var(--white);
  height: 82px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-13fLGx {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-xANCxI {
  background-color: transparent;
  height: 81px;
  left: 466px;
  position: absolute;
  top: -1px;
  width: 641px;
}

.c2chistory .rectangle-T63xnV {
  background-color: var(--white);
  height: 82px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 642px;
}

.c2chistory .content-T63xnV {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 23px;
  width: 599px;
}

.c2chistory .table-general-text1line-pDyPwi {
  background-color: transparent;
  height: 81px;
  left: 1105px;
  position: absolute;
  top: -1px;
  width: 296px;
}

.c2chistory .rectangle-Z75Cwh {
  background-color: var(--white);
  height: 82px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 297px;
}

.c2chistory .content-Z75Cwh {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 23px;
  width: 254px;
}

.c2chistory .group-copy-7-HAYvZZ {
  background-color: transparent;
  height: 76px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.c2chistory .table-general-text1line-dNUYLR {
  background-color: transparent;
  height: 78px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 189px;
}

.c2chistory .rectangle-UuBrOR {
  background-color: var(--white);
  height: 79px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 190px;
}

.c2chistory .content-UuBrOR {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: 147px;
}

.c2chistory .table-general-text1line-OvzJQt {
  background-color: transparent;
  height: 78px;
  left: 186px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-FTS9Rb {
  background-color: var(--white);
  height: 79px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-FTS9Rb {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-1kkA0l {
  background-color: transparent;
  height: 78px;
  left: 326px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-EfeW8X {
  background-color: var(--white);
  height: 79px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-EfeW8X {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-YjPQQK {
  background-color: transparent;
  height: 78px;
  left: 466px;
  position: absolute;
  top: -1px;
  width: 641px;
}

.c2chistory .rectangle-w4h4xa {
  background-color: var(--white);
  height: 79px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 642px;
}

.c2chistory .content-w4h4xa {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 599px;
}

.c2chistory .table-general-text1line-L0tkdu {
  background-color: transparent;
  height: 78px;
  left: 1105px;
  position: absolute;
  top: -1px;
  width: 296px;
}

.c2chistory .rectangle-jIsd7P {
  background-color: var(--white);
  height: 79px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 297px;
}

.c2chistory .content-jIsd7P {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 254px;
}

.c2chistory .group-copy-2-HAYvZZ {
  background-color: transparent;
  height: 196px;
  left: 0px;
  position: absolute;
  top: 383px;
  width: 1400px;
}

.c2chistory .table-general-text1line-x4ZOsI {
  background-color: transparent;
  height: 198px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 189px;
}

.c2chistory .rectangle-D4Xl3a {
  background-color: var(--white);
  height: 199px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 190px;
}

.c2chistory .content-D4Xl3a {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: 147px;
}

.c2chistory .table-general-text1line-4Touip {
  background-color: transparent;
  height: 198px;
  left: 186px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-D8Jx2B {
  background-color: var(--white);
  height: 199px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-D8Jx2B {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-9koZ3C {
  background-color: transparent;
  height: 198px;
  left: 326px;
  position: absolute;
  top: -1px;
  width: 142px;
}

.c2chistory .rectangle-39Dk2w {
  background-color: var(--white);
  height: 199px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 143px;
}

.c2chistory .content-39Dk2w {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: 100px;
}

.c2chistory .table-general-text1line-Hv3xIx {
  background-color: transparent;
  height: 198px;
  left: 466px;
  position: absolute;
  top: -1px;
  width: 641px;
}

.c2chistory .rectangle-Diycxa {
  background-color: var(--white);
  height: 199px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 642px;
}

.c2chistory .content-Diycxa {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 160px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 599px;
}

.c2chistory .table-general-text1line-yqWhJR {
  background-color: transparent;
  height: 198px;
  left: 1105px;
  position: absolute;
  top: -1px;
  width: 296px;
}

.c2chistory .rectangle-0ekdKq {
  background-color: var(--white);
  height: 199px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 297px;
}

.c2chistory .content-0ekdKq {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: 254px;
}
