/* screen - c2clifetabservicecardquicklinktype */

.c2clifetabservicecardquicklinktype {
  background-color: var(--white);
  height: 8389px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2clifetabservicecardquicklinktype .group-30-rChWAn {
  background-color: transparent;
  height: 1609px;
  left: 320px;
  position: absolute;
  top: 1433px;
  width: 1600px;
}

.c2clifetabservicecardquicklinktype .group-50-rChWAn {
  background-color: transparent;
  height: 1551px;
  left: 420px;
  position: absolute;
  top: 3142px;
  width: 1400px;
}

.c2clifetabservicecardquicklinktype .group-42-rChWAn {
  background-color: transparent;
  height: 847px;
  left: 320px;
  position: absolute;
  top: 7343px;
  width: 1600px;
}

.c2clifetabservicecardquicklinktype .group-40-rChWAn {
  background-color: transparent;
  height: 1342px;
  left: 320px;
  position: absolute;
  top: 4843px;
  width: 1600px;
}

.c2clifetabservicecardquicklinktype .group-52-rChWAn {
  background-color: transparent;
  height: 908px;
  left: 420px;
  position: absolute;
  top: 6285px;
  width: 1400px;
}

.c2clifetabservicecardquicklinktype .group-41-rChWAn {
  background-color: transparent;
  height: 941px;
  left: 410px;
  position: absolute;
  top: 342px;
  width: 1410px;
}

.c2clifetabservicecardquicklinktype .web-sub_-title-rChWAn {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 468px;
}

.c2clifetabservicecardquicklinktype .sub-title-htcurr {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 368px;
}

.c2clifetabservicecardquicklinktype .web-title-area-rChWAn {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2clifetabservicecardquicklinktype .web-tabc2-c-connecto-rChWAn {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2clifetabservicecardquicklinktype .x3rd-depth-edM27s {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2clifetabservicecardquicklinktype .tab-jry3cv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2clifetabservicecardquicklinktype .life-tab-ahPuiI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 45px;
}

.c2clifetabservicecardquicklinktype .service-card-health-ahPuiI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.c2clifetabservicecardquicklinktype .service-card-types-ahPuiI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 108px;
}

.c2clifetabservicecardquicklinktype .service-card-_-basic-ahPuiI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.c2clifetabservicecardquicklinktype .service-card-_-quick-ahPuiI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 184px;
}

.c2clifetabservicecardquicklinktype .loading-_-service-pl-ahPuiI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 147px;
}

.c2clifetabservicecardquicklinktype .lnbc2-c-connector_2-rChWAn {
  background-color: transparent;
  height: 850px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .rectangle-bfr0Vd {
  background-color: var(--concrete);
  height: 850px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .lnb-bfr0Vd {
  background-color: transparent;
  height: 850px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .rectangle-Ddhic5 {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .stacked-group-Ddhic5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-title-common-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .empty-DVu2Ay {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .line-copy-DVu2Ay {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2clifetabservicecardquicklinktype .empty-copy-3-DVu2Ay {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-title-reference-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2clifetabservicecardquicklinktype .empty-copy-2-DVu2Ay {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .line-copy-2-DVu2Ay {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2clifetabservicecardquicklinktype .empty-copy-DVu2Ay {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-title-reference-copy-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1d-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1d-MLncc0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1d-MdmUpl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1d-xQQsfc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1dpeth_open_selected-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1dpeth_close-copy-6-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1dpeth_close-copy-7-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1dpeth_close-copy-3-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1dpeth_close-copy-6-MLncc0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .web-index-contents1dpeth_close-copy-2-DVu2Ay {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2clifetabservicecardquicklinktype .line-Ddhic5 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2clifetabservicecardquicklinktype .home-net-ui-guideline-bfr0Vd {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2clifetabservicecardquicklinktype .webgnb-rChWAn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2clifetabservicecardquicklinktype .rectangle-pmhuLi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2clifetabservicecardquicklinktype .background-pmhuLi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2clifetabservicecardquicklinktype .index-pmhuLi {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2clifetabservicecardquicklinktype .web-index-select-GFlpTP {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2clifetabservicecardquicklinktype .web-index-unselect-GFlpTP {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2clifetabservicecardquicklinktype .web-index-unelect_main-pmhuLi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}
