/* screen - c2coverviewdeviceroomdeployment */

.c2coverviewdeviceroomdeployment {
  background-color: var(--white);
  height: 1366px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2coverviewdeviceroomdeployment .group-3-y04Oqz {
  background-color: transparent;
  height: 821px;
  left: 420px;
  position: absolute;
  top: 345px;
  width: 1400px;
}

.c2coverviewdeviceroomdeployment .web-sub_-title-y04Oqz {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.c2coverviewdeviceroomdeployment .sub-title-bDSZ0L {
  background-color: transparent;
  height: 29px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 179px;
}

.c2coverviewdeviceroomdeployment .web-title-area-y04Oqz {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2coverviewdeviceroomdeployment .web-tabc2-c-connecto-y04Oqz {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2coverviewdeviceroomdeployment .x3rd-depth-fKxAMs {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2coverviewdeviceroomdeployment .tab-lBBRAE {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2coverviewdeviceroomdeployment .image-UbcAZo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 198px;
}

.c2coverviewdeviceroomdeployment .image-KEPl94 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.c2coverviewdeviceroomdeployment .device-room-UbcAZo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.c2coverviewdeviceroomdeployment .device-naming-UbcAZo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.c2coverviewdeviceroomdeployment .lnbc2-c-connector_1-y04Oqz {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .rectangle-z7xDGe {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .lnb-z7xDGe {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .rectangle-xDlLXH {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .stacked-group-xDlLXH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-title-common-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .empty-Q9Mn39 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .line-copy-Q9Mn39 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2coverviewdeviceroomdeployment .empty-Mx9jsq {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-title-reference-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2coverviewdeviceroomdeployment .empty-copy-2-Q9Mn39 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .line-copy-2-Q9Mn39 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2coverviewdeviceroomdeployment .empty-copy-Q9Mn39 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-title-reference-copy-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1d-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1d-Mx9jsq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1d-7NZxaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1dpeth_open_selected-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1dpeth_close-copy-5-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1dpeth_close-copy-3-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1dpeth_close-copy-6-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .web-index-contents1dpeth_close-copy-2-Q9Mn39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdeviceroomdeployment .line-xDlLXH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2coverviewdeviceroomdeployment .home-net-ui-guideline-z7xDGe {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2coverviewdeviceroomdeployment .webgnb-y04Oqz {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2coverviewdeviceroomdeployment .rectangle-0esD0c {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewdeviceroomdeployment .background-0esD0c {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewdeviceroomdeployment .index-0esD0c {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2coverviewdeviceroomdeployment .web-index-select-Dnpeh2 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2coverviewdeviceroomdeployment .web-index-unselect-Dnpeh2 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2coverviewdeviceroomdeployment .web-index-unelect_main-0esD0c {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}
