/* screen - c2coverviewdevicenaming */

.c2coverviewdevicenaming {
  background-color: var(--white);
  height: 1335px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2coverviewdevicenaming .group-3-jH3vxR {
  background-color: transparent;
  height: 793px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.c2coverviewdevicenaming .web-sub_-title-jH3vxR {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.c2coverviewdevicenaming .sub-title-PAvnWQ {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 158px;
}

.c2coverviewdevicenaming .web-title-area-jH3vxR {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2coverviewdevicenaming .web-tabc2-c-connecto-jH3vxR {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2coverviewdevicenaming .x3rd-depth-wxBl5x {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2coverviewdevicenaming .tab-klwCzj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2coverviewdevicenaming .image-41q3ja {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 198px;
}

.c2coverviewdevicenaming .image-JxpTbE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.c2coverviewdevicenaming .device-room-41q3ja {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.c2coverviewdevicenaming .device-naming-41q3ja {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.c2coverviewdevicenaming .lnbc2-c-connector_1-jH3vxR {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdevicenaming .rectangle-Fxomsd {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdevicenaming .lnb-Fxomsd {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdevicenaming .rectangle-nKRbpb {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewdevicenaming .stacked-group-nKRbpb {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-title-common-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .empty-IMtABf {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .line-copy-IMtABf {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2coverviewdevicenaming .empty-If6CJo {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-title-reference-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2coverviewdevicenaming .empty-copy-2-IMtABf {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .line-copy-2-IMtABf {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2coverviewdevicenaming .empty-copy-IMtABf {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-title-reference-copy-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2coverviewdevicenaming .web-index-contents1d-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-contents1d-If6CJo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-contents1d-oMEFg6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-contents1dpeth_open_selected-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-contents1dpeth_close-copy-5-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-contents1dpeth_close-copy-3-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-contents1dpeth_close-copy-6-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .web-index-contents1dpeth_close-copy-2-IMtABf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2coverviewdevicenaming .line-nKRbpb {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2coverviewdevicenaming .home-net-ui-guideline-Fxomsd {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2coverviewdevicenaming .webgnb-jH3vxR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2coverviewdevicenaming .rectangle-GNdW1x {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewdevicenaming .background-GNdW1x {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewdevicenaming .index-GNdW1x {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2coverviewdevicenaming .web-index-select-0dReK4 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2coverviewdevicenaming .web-index-unselect-0dReK4 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2coverviewdevicenaming .web-index-unelect_main-GNdW1x {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}
