/* screen - c2creagreetotermsofusekeyscreens */

.c2creagreetotermsofusekeyscreens {
  background-color: var(--white);
  height: 1808px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2creagreetotermsofusekeyscreens .group-14-ivWnxx {
  background-color: transparent;
  height: 824px;
  left: 1140px;
  position: absolute;
  top: 784px;
  width: 680px;
}

.c2creagreetotermsofusekeyscreens .group-18-ivWnxx {
  background-color: transparent;
  height: 342px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2creagreetotermsofusekeyscreens .group-16-ivWnxx {
  background-color: transparent;
  height: 702px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.c2creagreetotermsofusekeyscreens .web-sub_-title-ivWnxx {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.c2creagreetotermsofusekeyscreens .sub-title-Qa22As {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.c2creagreetotermsofusekeyscreens .web-title-area-ivWnxx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2creagreetotermsofusekeyscreens .web-tabc2-c-connecto-ivWnxx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2creagreetotermsofusekeyscreens .x3rd-depth-k5eaOh {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2creagreetotermsofusekeyscreens .tab-FgmPqk {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2creagreetotermsofusekeyscreens .overview-copy-1Dkq7P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 56px;
}

.c2creagreetotermsofusekeyscreens .keyscreens-copy-1Dkq7P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.c2creagreetotermsofusekeyscreens .interaction-flows-1Dkq7P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.c2creagreetotermsofusekeyscreens .lnbc2-c-connector-ivWnxx {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .rectangle-DMcuan {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .lnb-DMcuan {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .rectangle-tlUdzJ {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .stacked-group-tlUdzJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-title-common-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .empty-3WuvGM {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .line-copy-3WuvGM {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2creagreetotermsofusekeyscreens .empty-iexKBq {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-title-reference-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2creagreetotermsofusekeyscreens .empty-copy-2-3WuvGM {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .line-copy-2-3WuvGM {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2creagreetotermsofusekeyscreens .empty-copy-3WuvGM {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-title-reference-copy-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1d-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1d-iexKBq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1d-6Xtn9W {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1dpeth_open_selected-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1dpeth_close-copy-5-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1dpeth_close-copy-3-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1dpeth_close-copy-6-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .web-index-contents1dpeth_close-copy-2-3WuvGM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .line-tlUdzJ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2creagreetotermsofusekeyscreens .home-net-ui-guideline-DMcuan {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2creagreetotermsofusekeyscreens .webgnb-ivWnxx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2creagreetotermsofusekeyscreens .rectangle-J1KNYH {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2creagreetotermsofusekeyscreens .background-J1KNYH {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2creagreetotermsofusekeyscreens .index-J1KNYH {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2creagreetotermsofusekeyscreens .web-index-select-5RxdG7 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2creagreetotermsofusekeyscreens .web-index-unselect-5RxdG7 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2creagreetotermsofusekeyscreens .web-index-unelect_main-J1KNYH {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2creagreetotermsofusekeyscreens .agree-ivWnxx {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-applesdgothicneo-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 1094px;
  width: 670px;
}
