/* screen - c2creagreetotermsofuseoverview */

.c2creagreetotermsofuseoverview {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2creagreetotermsofuseoverview .group-F34Ka8 {
  background-color: transparent;
  height: 132px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2creagreetotermsofuseoverview .group-5-F34Ka8 {
  background-color: transparent;
  height: 331px;
  left: 420px;
  position: absolute;
  top: 466px;
  width: 1400px;
}

.c2creagreetotermsofuseoverview .web-title-area-F34Ka8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2creagreetotermsofuseoverview .web-tabc2-c-connecto-F34Ka8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2creagreetotermsofuseoverview .x3rd-depth-eCECht {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2creagreetotermsofuseoverview .tab-ip6aEy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2creagreetotermsofuseoverview .overview-copy-UYE4U4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 59px;
}

.c2creagreetotermsofuseoverview .keyscreens-copy-UYE4U4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.c2creagreetotermsofuseoverview .interaction-flows-UYE4U4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.c2creagreetotermsofuseoverview .lnbc2-c-connector-F34Ka8 {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofuseoverview .rectangle-3xS3kx {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofuseoverview .lnb-3xS3kx {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofuseoverview .rectangle-xxW50H {
  background-color: var(--concrete);
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2creagreetotermsofuseoverview .stacked-group-xxW50H {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-title-common-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .empty-wOaj8o {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .line-copy-wOaj8o {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2creagreetotermsofuseoverview .empty-liyiqU {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-title-reference-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2creagreetotermsofuseoverview .empty-copy-2-wOaj8o {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .line-copy-2-wOaj8o {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 0.2;
  position: relative;
  width: 275px;
}

.c2creagreetotermsofuseoverview .empty-copy-wOaj8o {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-title-reference-copy-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2creagreetotermsofuseoverview .web-index-contents1d-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-contents1d-liyiqU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-contents1d-ahK9Xe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-contents1dpeth_open_selected-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-contents1dpeth_close-copy-5-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-contents1dpeth_close-copy-3-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-contents1dpeth_close-copy-6-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .web-index-contents1dpeth_close-copy-2-wOaj8o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseoverview .line-xxW50H {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2creagreetotermsofuseoverview .home-net-ui-guideline-3xS3kx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2creagreetotermsofuseoverview .webgnb-F34Ka8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2creagreetotermsofuseoverview .rectangle-YWxO0P {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2creagreetotermsofuseoverview .background-YWxO0P {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2creagreetotermsofuseoverview .index-YWxO0P {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2creagreetotermsofuseoverview .web-index-select-MOvr32 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.c2creagreetotermsofuseoverview .web-index-unselect-MOvr32 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.c2creagreetotermsofuseoverview .web-index-unelect_main-YWxO0P {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}
