/* screen - notificationcase2mesaagetype */

.notificationcase2mesaagetype {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.notificationcase2mesaagetype .web-sub_-title_w-description-5FEdhA {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.notificationcase2mesaagetype .group-5FEdhA {
  background-color: transparent;
  height: 169px;
  left: 420px;
  position: absolute;
  top: 398px;
  width: 1400px;
}

.notificationcase2mesaagetype .group-2-5FEdhA {
  background-color: transparent;
  height: 209px;
  left: 420px;
  position: absolute;
  top: 666px;
  width: 1400px;
}

.notificationcase2mesaagetype .table-general-text1line-RZLQMG {
  background-color: transparent;
  height: 58px;
  left: 538px;
  position: absolute;
  top: 40px;
  width: 863px;
}

.notificationcase2mesaagetype .rectangle-aMi7p6 {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 864px;
}

.notificationcase2mesaagetype .content-aMi7p6 {
  background-color: transparent;
  font-weight: 300;
  height: 29px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14.7px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 832px;
}

.notificationcase2mesaagetype .table-general-text1line-dbWC9a {
  background-color: transparent;
  height: 58px;
  left: 538px;
  position: absolute;
  top: 96px;
  width: 863px;
}

.notificationcase2mesaagetype .rectangle-mgjWA6 {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 864px;
}

.notificationcase2mesaagetype .content-mgjWA6 {
  background-color: transparent;
  font-weight: 300;
  height: 29px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14.7px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 832px;
}

.notificationcase2mesaagetype .table-general-text1line-yKOdZ0 {
  background-color: transparent;
  height: 58px;
  left: 538px;
  position: absolute;
  top: 152px;
  width: 863px;
}

.notificationcase2mesaagetype .rectangle-EccTH4 {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 864px;
}

.notificationcase2mesaagetype .content-EccTH4 {
  background-color: transparent;
  font-weight: 300;
  height: 29px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14.7px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 832px;
}

.notificationcase2mesaagetype .table-general-title_1line-RZLQMG {
  background-color: transparent;
  height: 43px;
  left: 538px;
  position: absolute;
  top: -1px;
  width: 863px;
}

.notificationcase2mesaagetype .rectangle-bB711l {
  background-color: #747474;
  border: 0.7px solid #878787;
  height: 44px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 864px;
}

.notificationcase2mesaagetype .table-title-bB711l {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-samsungonekorean-700);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16.2px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 832px;
}

.notificationcase2mesaagetype .table-general-text1line-gQc4jm {
  background-color: transparent;
  height: 58px;
  left: -1px;
  position: absolute;
  top: 40px;
  width: 540px;
}

.notificationcase2mesaagetype .rectangle-etvJzt {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 541px;
}

.notificationcase2mesaagetype .content-etvJzt {
  background-color: transparent;
  font-weight: 300;
  height: 15px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 14.7px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: 509px;
}

.notificationcase2mesaagetype .table-general-text1line-Fw7kXC {
  background-color: transparent;
  height: 58px;
  left: -1px;
  position: absolute;
  top: 96px;
  width: 540px;
}

.notificationcase2mesaagetype .rectangle-A7Ocge {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 541px;
}

.notificationcase2mesaagetype .content-A7Ocge {
  background-color: transparent;
  font-weight: 300;
  height: 15px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 14.7px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: 509px;
}

.notificationcase2mesaagetype .table-general-text1line-LLBxBx {
  background-color: transparent;
  height: 58px;
  left: -1px;
  position: absolute;
  top: 152px;
  width: 540px;
}

.notificationcase2mesaagetype .rectangle-YprAaD {
  background-color: var(--white);
  height: 59px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 541px;
}

.notificationcase2mesaagetype .content-YprAaD {
  background-color: transparent;
  font-weight: 300;
  height: 15px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 14.7px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 509px;
}

.notificationcase2mesaagetype .table-general-title_1line-dbWC9a {
  background-color: transparent;
  height: 43px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 540px;
}

.notificationcase2mesaagetype .rectangle-HTkLxC {
  background-color: #747474;
  border: 0.7px solid #878787;
  height: 44px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 541px;
}

.notificationcase2mesaagetype .table-title-HTkLxC {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-samsungonekorean-700);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16.2px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 509px;
}

.notificationcase2mesaagetype .table-guide-title-5FEdhA {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.notificationcase2mesaagetype .web-title-area-5FEdhA {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.notificationcase2mesaagetype .lnb-notification-5FEdhA {
  background-color: transparent;
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.notificationcase2mesaagetype .rectangle-BtkhYS {
  background-color: var(--concrete);
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.notificationcase2mesaagetype .rectangle-jLlkdE {
  background-color: var(--concrete);
  height: 993px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.notificationcase2mesaagetype .stacked-group-BtkhYS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-title-common-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-8J6PQM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-O9RP1j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-yIIKSx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-mBGFJq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-lXvdB6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-zkxO0w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .group-2xX7XE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .empty-BGu7O3 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.notificationcase2mesaagetype .line-copy-BGu7O3 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.notificationcase2mesaagetype .empty-RgOprH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-title-reference-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-fPKrky {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-gEh7Dx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_open_selected-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents2dpeth-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents2dpeth-8J6PQM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents2dpeth-copy-2-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents2dpeth-copy-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents2dpeth-O9RP1j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-qcqQdj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_close-4HykFp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .group-8J6PQM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .empty-ta4Q9r {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.notificationcase2mesaagetype .line-copy-ta4Q9r {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.notificationcase2mesaagetype .empty-BxS7Xy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-title-reference-8J6PQM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .line-BtkhYS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.notificationcase2mesaagetype .home-net-ui-guideline-BtkhYS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.notificationcase2mesaagetype .webgnb-5FEdhA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.notificationcase2mesaagetype .rectangle-qmLF3u {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.notificationcase2mesaagetype .background-qmLF3u {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.notificationcase2mesaagetype .index-qmLF3u {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.notificationcase2mesaagetype .web-index-select-F0NExb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.notificationcase2mesaagetype .web-index-unselect-F0NExb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.notificationcase2mesaagetype .web-index-unelect_main-qmLF3u {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.notificationcase2mesaagetype .logo-RPki0x {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
