/* screen - servicepluginvehicleinformationfeature */

.servicepluginvehicleinformationfeature {
  background-color: var(--white);
  height: 2443px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .web-sub_-title-MbhWg8 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.servicepluginvehicleinformationfeature .sub-title-VmjeuT {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.servicepluginvehicleinformationfeature .group-8-MbhWg8 {
  background-color: transparent;
  height: 663px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.servicepluginvehicleinformationfeature .group-21-MbhWg8 {
  background-color: transparent;
  height: 1901px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-20-4GkcHi {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-title-copy-b9EwSZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-title-copy-2-b9EwSZ {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-title-copy-3-b9EwSZ {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .group-19-4GkcHi {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-JzuA8F {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-JzuA8F {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-JzuA8F {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-18-4GkcHi {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-VqSLXB {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-VqSLXB {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-VqSLXB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-17-4GkcHi {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 274px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-SZdxKw {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-SZdxKw {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-SZdxKw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-16-4GkcHi {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-qCq4up {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-qCq4up {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-qCq4up {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-15-4GkcHi {
  background-color: transparent;
  height: 248px;
  left: 0px;
  position: absolute;
  top: 512px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-Cl1uQx {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-3-Cl1uQx {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 129px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-Cl1uQx {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-Cl1uQx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-9-4GkcHi {
  background-color: transparent;
  height: 228px;
  left: 0px;
  position: absolute;
  top: 1495px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-TaeDcC {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-3-TaeDcC {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 149px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-TaeDcC {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-TaeDcC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-14-4GkcHi {
  background-color: transparent;
  height: 159px;
  left: 0px;
  position: absolute;
  top: 770px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-Mj4Ruq {
  background-color: transparent;
  height: 159px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-Mj4Ruq {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-Mj4Ruq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-13-4GkcHi {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 939px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-n6hxYy {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-n6hxYy {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-n6hxYy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-12-4GkcHi {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 1068px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-fROWRQ {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-fROWRQ {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-fROWRQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-11-4GkcHi {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 1217px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-xk0vLR {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-xk0vLR {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-xk0vLR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-10-4GkcHi {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 1406px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-KzX3HY {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-KzX3HY {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-KzX3HY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-5-4GkcHi {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 1733px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-S31L6I {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-S31L6I {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-S31L6I {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-3-4GkcHi {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 1822px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-GqxbgG {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-2-GqxbgG {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_mint-copy-GqxbgG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-2-MbhWg8 {
  background-color: transparent;
  height: 328px;
  left: 419px;
  position: absolute;
  top: 1104px;
  width: 288px;
}

.servicepluginvehicleinformationfeature .group-6-MbhWg8 {
  background-color: transparent;
  height: 312px;
  left: 420px;
  position: absolute;
  top: 1533px;
  width: 288px;
}

.servicepluginvehicleinformationfeature .group-7-MbhWg8 {
  background-color: transparent;
  height: 179px;
  left: 420px;
  position: absolute;
  top: 1945px;
  width: 288px;
}

.servicepluginvehicleinformationfeature .web-title-area-MbhWg8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehicleinformationfeature .web-tab-service-plug-MbhWg8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvehicleinformationfeature .x3rd-depth-MDiH0v {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehicleinformationfeature .tab-FBigNW {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvehicleinformationfeature .card-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginvehicleinformationfeature .feature-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehicleinformationfeature .no-information-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginvehicleinformationfeature .interaction-flow-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginvehicleinformationfeature .service-title-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 74px;
}

.servicepluginvehicleinformationfeature .case-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.servicepluginvehicleinformationfeature .lnb-service-plug-in-MbhWg8 {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .rectangle-EK7EHZ {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .lnb-EK7EHZ {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .stacked-group-WKa5Ua {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-title-common-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-SFIpMO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-7YCdxM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-4xtrFL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-eRW8F4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-FEaQTQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-sF1ZAK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .group-mFxbKW {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .empty-SHGyrC {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .line-copy-SHGyrC {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehicleinformationfeature .empty-dbHHEO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-title-reference-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-dfZw4l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-csxYq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-WSk7dA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-V0DMe5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_open_selected-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-SFIpMO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-7YCdxM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-4xtrFL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-eRW8F4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-FEaQTQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-sF1ZAK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-dfZw4l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-csxYq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-WSk7dA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-copy-2-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-copy-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-V0DMe5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .group-SFIpMO {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .empty-BOW6pf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .line-copy-BOW6pf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehicleinformationfeature .empty-AE03L4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-title-reference-SFIpMO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .line-WKa5Ua {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvehicleinformationfeature .home-net-ui-guideline-WKa5Ua {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginvehicleinformationfeature .webgnb-MbhWg8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .rectangle-7yyhQ0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .background-7yyhQ0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .index-7yyhQ0 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginvehicleinformationfeature .web-index-select-x2ZhZO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvehicleinformationfeature .web-index-unselect-x2ZhZO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvehicleinformationfeature .web-index-unelect_main-7yyhQ0 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvehicleinformationfeature .logo-ubTexw {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
