/* screen - serviceplugincctvcard */

.serviceplugincctvcard {
  background-color: var(--white);
  height: 1202px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugincctvcard .group-4-1hU6Ve {
  background-color: transparent;
  height: 660px;
  left: 409px;
  position: absolute;
  top: 342px;
  width: 681px;
}

.serviceplugincctvcard .group-10-1hU6Ve {
  background-color: transparent;
  height: 580px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugincctvcard .group-9-kxSlnD {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugincctvcard .table-guide-title-copy-zQhKpd {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvcard .table-guide-title-copy-2-zQhKpd {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvcard .table-guide-title-copy-3-zQhKpd {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvcard .group-8-kxSlnD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugincctvcard .table-guide-text2line_mint-9pByd0 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-2-9pByd0 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-9pByd0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvcard .group-7-kxSlnD {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.serviceplugincctvcard .table-guide-text2line_mint-T56yu4 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-2-T56yu4 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-T56yu4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvcard .group-6-kxSlnD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.serviceplugincctvcard .table-guide-text2line_mint-so2zTI {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-2-so2zTI {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-so2zTI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvcard .group-5-kxSlnD {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 303px;
  width: 680px;
}

.serviceplugincctvcard .table-guide-text2line_mint-ECUWol {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-2-ECUWol {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-ECUWol {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvcard .group-3-kxSlnD {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 372px;
  width: 680px;
}

.serviceplugincctvcard .table-guide-text2line_mint-taisQX {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-2-taisQX {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-taisQX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvcard .group-kxSlnD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 501px;
  width: 680px;
}

.serviceplugincctvcard .table-guide-text2line_mint-r85eVt {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-2-r85eVt {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvcard .table-guide-text2line_mint-copy-r85eVt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvcard .web-sub_-title-1hU6Ve {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugincctvcard .web-title-area-1hU6Ve {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugincctvcard .web-tab-service-plug-in_cctv-1hU6Ve {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugincctvcard .x3rd-depth-TQ8T6q {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugincctvcard .tab-sYgMcv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugincctvcard .card-sqAcEM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugincctvcard .feature-sqAcEM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugincctvcard .interaction-flow-sqAcEM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugincctvcard .lnb-service-plug-in-1hU6Ve {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvcard .rectangle-iUcAUS {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvcard .lnb-iUcAUS {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvcard .stacked-group-eD4Mvv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugincctvcard .web-index-title-common-X7C4ZM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-X7C4ZM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-zQ3LWr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-2ue3s1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-aiVyyX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-kkM9Yu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-Mend0X {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-TxbkrX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .group-X7C4ZM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .empty-WxiWAe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvcard .line-copy-WxiWAe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvcard .empty-C9ET3h {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvcard .web-index-title-reference-X7C4ZM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-1zLQ58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-jtjk0d {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-Bf7wTG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_close-bgjD9I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents1dpeth_open_selected-X7C4ZM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-X7C4ZM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-zQ3LWr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-2ue3s1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-aiVyyX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-kkM9Yu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-Mend0X {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-TxbkrX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-1zLQ58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-jtjk0d {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-Bf7wTG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-copy-2-X7C4ZM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-copy-X7C4ZM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .web-index-contents2dpeth-bgjD9I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .group-zQ3LWr {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .empty-YKDFeq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvcard .line-copy-YKDFeq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvcard .empty-S7MDBj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvcard .web-index-title-reference-zQ3LWr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvcard .line-eD4Mvv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugincctvcard .home-net-ui-guideline-eD4Mvv {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.serviceplugincctvcard .webgnb-1hU6Ve {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvcard .rectangle-v1U4vX {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvcard .background-v1U4vX {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvcard .index-v1U4vX {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.serviceplugincctvcard .web-index-select-D02ZJi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugincctvcard .web-index-unselect-D02ZJi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugincctvcard .web-index-unelect_main-v1U4vX {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugincctvcard .logo-rPq1Nf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
