/* screen - servicepluginhomescreenbasic */

.servicepluginhomescreenbasic {
  background-color: var(--white);
  height: 1353px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbasic .group-7-fjqgs0 {
  background-color: transparent;
  height: 589px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.servicepluginhomescreenbasic .group-11-fjqgs0 {
  background-color: transparent;
  height: 811px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginhomescreenbasic .group-10-UzQVLC {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-title-copy-dfin1O {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenbasic .table-guide-title-copy-2-dfin1O {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-title-copy-3-dfin1O {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .group-9-UzQVLC {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-wGgf7L {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-wGgf7L {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-wGgf7L {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenbasic .group-8-UzQVLC {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-XxOacU {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-XxOacU {
  background-color: transparent;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-XxOacU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenbasic .group-6-UzQVLC {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-n3zP8e {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-n3zP8e {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-n3zP8e {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenbasic .group-5-UzQVLC {
  background-color: transparent;
  height: 219px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-xdtfrC {
  background-color: transparent;
  height: 219px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-xdtfrC {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-xdtfrC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenbasic .group-3-UzQVLC {
  background-color: transparent;
  height: 159px;
  left: 0px;
  position: absolute;
  top: 652px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-S0ROwi {
  background-color: transparent;
  height: 159px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-S0ROwi {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-S0ROwi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenbasic .web-sub_-title-fjqgs0 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginhomescreenbasic .web-title-area-fjqgs0 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbasic .web-tab-service-plug-in_-home-screen-fjqgs0 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbasic .x3rd-depth-LcPbFh {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbasic .tab-KxDpiw {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomescreenbasic .service-feature-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbasic .basic-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginhomescreenbasic .banner-app-link-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenbasic .feature-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbasic .interaction-flow-copy-4-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbasic .notifications-_-feat-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbasic .notifications-_-inte-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbasic .help-_-guide-text-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreenbasic .help-guide-k5FOBh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreenbasic .lnb-service-plug-in-fjqgs0 {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbasic .rectangle-B3zc8e {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbasic .lnb-B3zc8e {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbasic .stacked-group-Yhxs07 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-title-common-JpKq3R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-JpKq3R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-WOcGML {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-4BRWbb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-RlxmZl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-0EQgue {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-DTwT9U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-c1weMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .group-JpKq3R {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .empty-2vXOtM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreenbasic .line-copy-2vXOtM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreenbasic .empty-FrwMtB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-title-reference-JpKq3R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-AfPScW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-q5JvnW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-1fBjFb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_close-UgsEZU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents1dpeth_open_selected-JpKq3R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-JpKq3R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-WOcGML {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-4BRWbb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-RlxmZl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-0EQgue {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-DTwT9U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-c1weMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-AfPScW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-q5JvnW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-1fBjFb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-copy-2-JpKq3R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-copy-JpKq3R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-contents2dpeth-UgsEZU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .group-WOcGML {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .empty-ozEig4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreenbasic .line-copy-ozEig4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreenbasic .empty-JJxppx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbasic .web-index-title-reference-WOcGML {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .line-Yhxs07 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomescreenbasic .home-net-ui-guideline-Yhxs07 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginhomescreenbasic .webgnb-fjqgs0 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbasic .rectangle-vlNC3X {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbasic .background-vlNC3X {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbasic .index-vlNC3X {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginhomescreenbasic .web-index-select-fv7E6t {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomescreenbasic .web-index-unselect-fv7E6t {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomescreenbasic .web-index-unelect_main-vlNC3X {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomescreenbasic .logo-I4xf89 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
