/* screen - servicepluginmaintenancefeecase */

.servicepluginmaintenancefeecase {
  background-color: var(--white);
  height: 3341px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginmaintenancefeecase .group-24-d9c0iP {
  background-color: transparent;
  height: 877px;
  left: 420px;
  position: absolute;
  top: 2264px;
  width: 932px;
}

.servicepluginmaintenancefeecase .group-22-d9c0iP {
  background-color: transparent;
  height: 722px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginmaintenancefeecase .group-23-d9c0iP {
  background-color: transparent;
  height: 958px;
  left: 420px;
  position: absolute;
  top: 1156px;
  width: 1400px;
}

.servicepluginmaintenancefeecase .web-title-area-d9c0iP {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginmaintenancefeecase .web-tab-service-plug-in_-maintenance-fee-d9c0iP {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginmaintenancefeecase .x3rd-depth-O6lLcp {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginmaintenancefeecase .tab-ozlg3X {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginmaintenancefeecase .card-0yVo2r {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginmaintenancefeecase .feature-0yVo2r {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginmaintenancefeecase .strings-copy-0yVo2r {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 45px;
}

.servicepluginmaintenancefeecase .interaction-flow-copy-0yVo2r {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginmaintenancefeecase .case-0yVo2r {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.servicepluginmaintenancefeecase .lnb-service-plug-in-d9c0iP {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeecase .rectangle-68bK9d {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeecase .lnb-68bK9d {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeecase .stacked-group-1txxHS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-title-common-A6wEMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-A6wEMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-Q61RQb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-BOd3zT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-xs7kuq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-JdPskE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-qHzUl0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-QtX5F7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .group-A6wEMN {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .empty-0Bjrnn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginmaintenancefeecase .line-copy-0Bjrnn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginmaintenancefeecase .empty-3jAjXQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-title-reference-A6wEMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-8weXx5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-uqTJai {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-3OCu9F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_close-wOoc9d {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents1dpeth_open_selected-A6wEMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-A6wEMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-Q61RQb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-BOd3zT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-xs7kuq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-JdPskE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-qHzUl0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-QtX5F7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-8weXx5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-uqTJai {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-3OCu9F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-copy-2-A6wEMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-copy-A6wEMN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-contents2dpeth-wOoc9d {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .group-Q61RQb {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .empty-5x1E8C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginmaintenancefeecase .line-copy-5x1E8C {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginmaintenancefeecase .empty-Fn8Urz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeecase .web-index-title-reference-Q61RQb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeecase .line-1txxHS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginmaintenancefeecase .home-net-ui-guideline-1txxHS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginmaintenancefeecase .webgnb-d9c0iP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeecase .rectangle-JMhxHc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeecase .background-JMhxHc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeecase .index-JMhxHc {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginmaintenancefeecase .web-index-select-pF34LO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginmaintenancefeecase .web-index-unselect-pF34LO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginmaintenancefeecase .web-index-unelect_main-JMhxHc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginmaintenancefeecase .logo-495dCx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
