/* screen - servicepluginvisitorscard */

.servicepluginvisitorscard {
  background-color: var(--white);
  height: 2887px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvisitorscard .group-29-gceVAl {
  background-color: transparent;
  height: 371px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.servicepluginvisitorscard .group-26-gceVAl {
  background-color: transparent;
  height: 1326px;
  left: 420px;
  position: absolute;
  top: 1361px;
  width: 670px;
}

.servicepluginvisitorscard .group-23-gceVAl {
  background-color: transparent;
  height: 267px;
  left: 1140px;
  position: absolute;
  top: 1361px;
  width: 680px;
}

.servicepluginvisitorscard .group-21-gceVAl {
  background-color: transparent;
  height: 869px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginvisitorscard .group-13-Qsj8Gb {
  background-color: transparent;
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvisitorscard .table-guide-title-copy-qy6AOE {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorscard .table-guide-title-copy-2-qy6AOE {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-title-copy-3-qy6AOE {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-qy6AOE {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 56px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-2-qy6AOE {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 56px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-qy6AOE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 50px;
}

.servicepluginvisitorscard .group-15-Qsj8Gb {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-jxEOwM {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-2-jxEOwM {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-jxEOwM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorscard .group-16-Qsj8Gb {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 334px;
  width: 680px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-9Y0wVM {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-2-9Y0wVM {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-9Y0wVM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorscard .group-17-Qsj8Gb {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 463px;
  width: 680px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-ZiCSFD {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-2-ZiCSFD {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-ZiCSFD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorscard .group-19-Qsj8Gb {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 641px;
  width: 680px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-BoxKjh {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-2-BoxKjh {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-BoxKjh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorscard .group-18-Qsj8Gb {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 532px;
  width: 680px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-ZnbNeL {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-2-ZnbNeL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-ZnbNeL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorscard .group-20-Qsj8Gb {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 790px;
  width: 680px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-l4zsqi {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-2-l4zsqi {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginvisitorscard .table-guide-text2line_mint-copy-l4zsqi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorscard .web-sub_-title-gceVAl {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvisitorscard .web-title-area-gceVAl {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvisitorscard .web-tab-service-plug-in_-visitors-gceVAl {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvisitorscard .x3rd-depth-KixH07 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvisitorscard .tab-GDuobx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvisitorscard .card-Lgslcq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginvisitorscard .feature-Lgslcq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvisitorscard .interaction-flow-Lgslcq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginvisitorscard .case-Lgslcq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.servicepluginvisitorscard .lnb-service-plug-in-gceVAl {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorscard .rectangle-oqrmO4 {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorscard .lnb-oqrmO4 {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorscard .stacked-group-UvrTV4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvisitorscard .web-index-title-common-Ru2dAw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-Ru2dAw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-KgREH5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-1I1UlC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-z4Vr1V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-6320KT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-uIKatu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-1h0vSr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .group-Ru2dAw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .empty-0v8xmS {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorscard .line-copy-0v8xmS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorscard .empty-1or1aD {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorscard .web-index-title-reference-Ru2dAw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-WkCb3B {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-87JGXX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-70sbjn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_close-rdxBx1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents1dpeth_open_selected-Ru2dAw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-Ru2dAw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-KgREH5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-1I1UlC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-z4Vr1V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-6320KT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-uIKatu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-1h0vSr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-WkCb3B {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-87JGXX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-70sbjn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-copy-2-Ru2dAw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-copy-Ru2dAw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .web-index-contents2dpeth-rdxBx1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .group-KgREH5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .empty-E6VTIn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorscard .line-copy-E6VTIn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorscard .empty-utslji {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorscard .web-index-title-reference-KgREH5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscard .line-UvrTV4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvisitorscard .home-net-ui-guideline-UvrTV4 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginvisitorscard .webgnb-gceVAl {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorscard .rectangle-daYX1u {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorscard .background-daYX1u {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorscard .index-daYX1u {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginvisitorscard .web-index-select-sxcHxZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvisitorscard .web-index-unselect-sxcHxZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvisitorscard .web-index-unelect_main-daYX1u {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvisitorscard .logo-PkDAQO {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
