/* screen - servicepluginsaloggingsalogging */

.servicepluginsaloggingsalogging {
  background-color: var(--white);
  height: 1262px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginsaloggingsalogging .group-3-aFI28f {
  background-color: transparent;
  height: 779px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginsaloggingsalogging .web-title-area-aFI28f {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginsaloggingsalogging .web-tab-service-plug-in_cctv-aFI28f {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginsaloggingsalogging .x3rd-depth-VAbcF0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginsaloggingsalogging .tab-9WZ412 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginsaloggingsalogging .sa-logging-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 70px;
}

.servicepluginsaloggingsalogging .home-screen-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 81px;
}

.servicepluginsaloggingsalogging .more-option-copy-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginsaloggingsalogging .notices-copy-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingsalogging .deliveries-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 62px;
}

.servicepluginsaloggingsalogging .vehicle-information-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginsaloggingsalogging .visitors-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingsalogging .ems-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 28px;
}

.servicepluginsaloggingsalogging .maintenance-fee-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.servicepluginsaloggingsalogging .cctv-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginsaloggingsalogging .ev-charging-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.servicepluginsaloggingsalogging .reserve-visitor-vehi-wSqXdl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.servicepluginsaloggingsalogging .lnb-service-plug-in-aFI28f {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingsalogging .rectangle-JW1yzh {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingsalogging .lnb-JW1yzh {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingsalogging .stacked-group-hOBHBW {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-title-common-mLgDuZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-mLgDuZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-EGRMMM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-2LmOrs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-3ozuCg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-0Wkdf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-NUcALp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-Cf4RAZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .group-mLgDuZ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .empty-CkDc6c {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginsaloggingsalogging .line-copy-CkDc6c {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginsaloggingsalogging .empty-0BZh8C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-title-reference-mLgDuZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-7fOO4z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-K49Xr5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-qt8yXB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_close-h79RxZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents1dpeth_open_selected-mLgDuZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-mLgDuZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-EGRMMM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-2LmOrs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-3ozuCg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-0Wkdf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-NUcALp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-Cf4RAZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-7fOO4z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-K49Xr5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-qt8yXB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-copy-2-mLgDuZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-copy-mLgDuZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-contents2dpeth-h79RxZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .group-EGRMMM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .empty-mNLFkf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginsaloggingsalogging .line-copy-mNLFkf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginsaloggingsalogging .empty-Ikq3YD {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingsalogging .web-index-title-reference-EGRMMM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingsalogging .line-hOBHBW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginsaloggingsalogging .home-net-ui-guideline-hOBHBW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginsaloggingsalogging .webgnb-aFI28f {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingsalogging .rectangle-dgSnKS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingsalogging .background-dgSnKS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingsalogging .index-dgSnKS {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginsaloggingsalogging .web-index-select-bhpxYl {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginsaloggingsalogging .web-index-unselect-bhpxYl {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginsaloggingsalogging .web-index-unelect_main-dgSnKS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginsaloggingsalogging .logo-E5fqMW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
