/* screen - servicepluginhomescreennotificationsfeature */

.servicepluginhomescreennotificationsfeature {
  background-color: var(--white);
  height: 1288px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .group-6-9ovRxP {
  background-color: transparent;
  height: 716px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.servicepluginhomescreennotificationsfeature .group-9-9ovRxP {
  background-color: transparent;
  height: 522px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .group-5-wHZ5xn {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .group-8-wHZ5xn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-5mmowd {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-2-5mmowd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-5mmowd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreennotificationsfeature .group-7-wHZ5xn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-1YfXbQ {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-2-1YfXbQ {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-1YfXbQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreennotificationsfeature .group-4-wHZ5xn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-JoTJvg {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-2-JoTJvg {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-JoTJvg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreennotificationsfeature .group-3-wHZ5xn {
  background-color: transparent;
  height: 199px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-3hEFE3 {
  background-color: transparent;
  height: 199px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-2-3hEFE3 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-3hEFE3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreennotificationsfeature .web-sub_-title-9ovRxP {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 424px;
}

.servicepluginhomescreennotificationsfeature .sub-title-yJ1o8s {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 324px;
}

.servicepluginhomescreennotificationsfeature .web-title-area-9ovRxP {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .web-tab-service-plug-in_-home-screen-9ovRxP {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .x3rd-depth-xMYu6B {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .tab-xxvDej {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomescreennotificationsfeature .service-feature-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreennotificationsfeature .basic-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginhomescreennotificationsfeature .banner-app-link-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreennotificationsfeature .feature-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreennotificationsfeature .interaction-flow-copy-4-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreennotificationsfeature .notifications-_-feat-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomescreennotificationsfeature .notifications-_-inte-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreennotificationsfeature .help-_-guide-text-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreennotificationsfeature .help-guide-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreennotificationsfeature .lnb-service-plug-in-9ovRxP {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .rectangle-IjJDMD {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .lnb-IjJDMD {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .stacked-group-iVdjJz {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-title-common-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-7eyaU3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-aSmcBj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-2Cxrgp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-fRDiM7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-zJO9qu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-dJZ7Oy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .group-KHmo8b {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .empty-WkC9Ws {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .line-copy-WkC9Ws {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreennotificationsfeature .empty-qpSBnE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-title-reference-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-YtfU6n {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-4sgQwx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-ar78EK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_close-ix7wBI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_open_selected-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-7eyaU3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-aSmcBj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-2Cxrgp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-fRDiM7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-zJO9qu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-dJZ7Oy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-YtfU6n {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-4sgQwx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-ar78EK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-copy-2-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-copy-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-ix7wBI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .group-7eyaU3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .empty-RpLg4I {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .line-copy-RpLg4I {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreennotificationsfeature .empty-Gbplz5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-title-reference-7eyaU3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .line-iVdjJz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomescreennotificationsfeature .home-net-ui-guideline-iVdjJz {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginhomescreennotificationsfeature .webgnb-9ovRxP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .rectangle-sqhnhW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .background-sqhnhW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .index-sqhnhW {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginhomescreennotificationsfeature .web-index-select-0lJyrx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomescreennotificationsfeature .web-index-unselect-0lJyrx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomescreennotificationsfeature .web-index-unelect_main-sqhnhW {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomescreennotificationsfeature .logo-oR9UuX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
