/* screen - servicepluginhomescreeninteractionflow */

.servicepluginhomescreeninteractionflow {
  background-color: var(--white);
  height: 2297px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreeninteractionflow .group-v8atqY {
  background-color: transparent;
  height: 897px;
  left: 420px;
  position: absolute;
  top: 332px;
  width: 1400px;
}

.servicepluginhomescreeninteractionflow .group-2-v8atqY {
  background-color: transparent;
  height: 718px;
  left: 420px;
  position: absolute;
  top: 1379px;
  width: 1400px;
}

.servicepluginhomescreeninteractionflow .web-sub_-title-v8atqY {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 274px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .web-title-area-v8atqY {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .web-tab-service-plug-in_-home-screen-v8atqY {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .x3rd-depth-3JexjX {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .tab-zqsQrx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomescreeninteractionflow .service-feature-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreeninteractionflow .basic-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginhomescreeninteractionflow .banner-app-link-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreeninteractionflow .feature-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreeninteractionflow .interaction-flow-copy-4-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.servicepluginhomescreeninteractionflow .notifications-_-feat-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreeninteractionflow .notifications-_-inte-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreeninteractionflow .help-_-guide-text-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreeninteractionflow .help-guide-ObmK9S {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreeninteractionflow .lnb-service-plug-in-v8atqY {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .rectangle-DzEzkN {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .lnb-DzEzkN {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .stacked-group-CKGF1u {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-title-common-ukFNME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-ukFNME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-yrxq31 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-TmWSDN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-HNJ8F4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-671IvF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-CW8W7L {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-loxB0a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .group-ukFNME {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .empty-s9xdfx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .line-copy-s9xdfx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreeninteractionflow .empty-lLr3Jj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-title-reference-ukFNME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-7X2Lut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-5jGPxq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-PfpDes {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_close-mgr52K {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents1dpeth_open_selected-ukFNME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-ukFNME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-yrxq31 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-TmWSDN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-HNJ8F4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-671IvF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-CW8W7L {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-loxB0a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-7X2Lut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-5jGPxq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-PfpDes {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-copy-2-ukFNME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-copy-ukFNME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-contents2dpeth-mgr52K {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .group-yrxq31 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .empty-f5GlRE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .line-copy-f5GlRE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreeninteractionflow .empty-dQ5S29 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .web-index-title-reference-yrxq31 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .line-CKGF1u {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomescreeninteractionflow .home-net-ui-guideline-CKGF1u {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginhomescreeninteractionflow .webgnb-v8atqY {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreeninteractionflow .rectangle-3YXOtn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreeninteractionflow .background-3YXOtn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreeninteractionflow .index-3YXOtn {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginhomescreeninteractionflow .web-index-select-pD7tnU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomescreeninteractionflow .web-index-unselect-pD7tnU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomescreeninteractionflow .web-index-unelect_main-3YXOtn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomescreeninteractionflow .logo-H92o89 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
