/* screen - servicepluginservicescreenfeaturetitle */

.servicepluginservicescreenfeaturetitle {
  background-color: var(--white);
  height: 1549px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .page-copy-jHWRB2 {
  background-color: transparent;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1900px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: auto;
}

.servicepluginservicescreenfeaturetitle .group-16-jHWRB2 {
  background-color: transparent;
  height: 1065px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .web-title-area-jHWRB2 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .web-tab-service-plug-in_-service-screen-jHWRB2 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .x3rd-depth-triWDs {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .tab-sx0sx6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginservicescreenfeaturetitle .service-feature-CBF1sC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginservicescreenfeaturetitle .feature-title-CBF1sC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginservicescreenfeaturetitle .no-information-CBF1sC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginservicescreenfeaturetitle .lnb-service-plug-in-jHWRB2 {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .rectangle-uomvyu {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .lnb-uomvyu {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .stacked-group-BIVhmy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-title-common-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-0aJoex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-EcL3BT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-mshRFV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-jMMOxV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-Bykpum {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-TWk6Pl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .group-V7XCHN {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .empty-j24A9m {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .line-copy-j24A9m {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginservicescreenfeaturetitle .empty-4V9syx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-title-reference-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-GVsH9p {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-qEYz39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-90xSgC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_close-BayxU4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents1dpeth_open_selected-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-0aJoex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-EcL3BT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-mshRFV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-jMMOxV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-Bykpum {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-TWk6Pl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-GVsH9p {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-qEYz39 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-90xSgC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-copy-2-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-copy-V7XCHN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-contents2dpeth-BayxU4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .group-0aJoex {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .empty-2NwTit {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .line-copy-2NwTit {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginservicescreenfeaturetitle .empty-dvUx3C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .web-index-title-reference-0aJoex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .line-BIVhmy {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginservicescreenfeaturetitle .home-net-ui-guideline-BIVhmy {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginservicescreenfeaturetitle .webgnb-jHWRB2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .rectangle-JeGwxG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .background-JeGwxG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .index-JeGwxG {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginservicescreenfeaturetitle .web-index-select-SXUK1h {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginservicescreenfeaturetitle .web-index-unselect-SXUK1h {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginservicescreenfeaturetitle .web-index-unelect_main-JeGwxG {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginservicescreenfeaturetitle .logo-gbPoaf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
