/* screen - servicepluginsalogginghomescreen */

.servicepluginsalogginghomescreen {
  background-color: var(--white);
  height: 8937px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginsalogginghomescreen .group-71-LZk8zk {
  background-color: transparent;
  height: 1222px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginsalogginghomescreen .group-37-LZk8zk {
  background-color: transparent;
  height: 310px;
  left: 420px;
  position: absolute;
  top: 1652px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-72-LZk8zk {
  background-color: transparent;
  height: 419px;
  left: 420px;
  position: absolute;
  top: 2112px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-42-LZk8zk {
  background-color: transparent;
  height: 810px;
  left: 420px;
  position: absolute;
  top: 2681px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-45-LZk8zk {
  background-color: transparent;
  height: 428px;
  left: 420px;
  position: absolute;
  top: 3641px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-52-LZk8zk {
  background-color: transparent;
  height: 417px;
  left: 420px;
  position: absolute;
  top: 4219px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-55-LZk8zk {
  background-color: transparent;
  height: 1034px;
  left: 420px;
  position: absolute;
  top: 4786px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-58-LZk8zk {
  background-color: transparent;
  height: 423px;
  left: 420px;
  position: absolute;
  top: 5938px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-61-LZk8zk {
  background-color: transparent;
  height: 1004px;
  left: 420px;
  position: absolute;
  top: 6511px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-70-LZk8zk {
  background-color: transparent;
  height: 520px;
  left: 420px;
  position: absolute;
  top: 7662px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .group-68-LZk8zk {
  background-color: transparent;
  height: 409px;
  left: 420px;
  position: absolute;
  top: 8330px;
  width: 1401px;
}

.servicepluginsalogginghomescreen .web-title-area-LZk8zk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginsalogginghomescreen .web-tab-service-plug-in_cctv-LZk8zk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginsalogginghomescreen .x3rd-depth-7Pllbd {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginsalogginghomescreen .tab-5KDKl5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginsalogginghomescreen .sa-logging-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 70px;
}

.servicepluginsalogginghomescreen .home-screen-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 81px;
}

.servicepluginsalogginghomescreen .more-option-copy-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginsalogginghomescreen .notices-copy-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginsalogginghomescreen .deliveries-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 62px;
}

.servicepluginsalogginghomescreen .vehicle-information-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginsalogginghomescreen .visitors-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginsalogginghomescreen .ems-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 28px;
}

.servicepluginsalogginghomescreen .maintenance-fee-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.servicepluginsalogginghomescreen .cctv-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginsalogginghomescreen .ev-charging-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.servicepluginsalogginghomescreen .reserve-visitor-vehi-eNSxG8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.servicepluginsalogginghomescreen .lnb-service-plug-in-LZk8zk {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsalogginghomescreen .rectangle-XWS26N {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsalogginghomescreen .lnb-XWS26N {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsalogginghomescreen .stacked-group-n3xDwg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-title-common-pW3OUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-pW3OUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-ZvtSHH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-T23FND {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-MEZexx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-IEjmqL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-wZhZwo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-CmNFLF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .group-pW3OUM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .empty-PzAAxm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginsalogginghomescreen .line-copy-PzAAxm {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginsalogginghomescreen .empty-SyLODM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-title-reference-pW3OUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-Uaq0X0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-E4aMpW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-lv5waC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_close-AD797U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents1dpeth_open_selected-pW3OUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-pW3OUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-ZvtSHH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-T23FND {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-MEZexx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-IEjmqL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-wZhZwo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-CmNFLF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-Uaq0X0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-E4aMpW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-lv5waC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-copy-2-pW3OUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-copy-pW3OUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-contents2dpeth-AD797U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .group-ZvtSHH {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .empty-o7nZAo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginsalogginghomescreen .line-copy-o7nZAo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginsalogginghomescreen .empty-Z2z1vl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsalogginghomescreen .web-index-title-reference-ZvtSHH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsalogginghomescreen .line-n3xDwg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginsalogginghomescreen .home-net-ui-guideline-n3xDwg {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginsalogginghomescreen .webgnb-LZk8zk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginsalogginghomescreen .rectangle-OLn2Vm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginsalogginghomescreen .background-OLn2Vm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginsalogginghomescreen .index-OLn2Vm {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginsalogginghomescreen .web-index-select-kVAz3Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginsalogginghomescreen .web-index-unselect-kVAz3Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginsalogginghomescreen .web-index-unelect_main-OLn2Vm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginsalogginghomescreen .logo-PFP0CB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
