/* screen - servicepluginservicecsreenservicefeature */

.servicepluginservicecsreenservicefeature {
  background-color: var(--white);
  height: 1206px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginservicecsreenservicefeature .web-title-area-DtBCqR {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginservicecsreenservicefeature .group-2-DtBCqR {
  background-color: transparent;
  height: 664px;
  left: 396px;
  position: absolute;
  top: 342px;
  width: 694px;
}

.servicepluginservicecsreenservicefeature .group-9-DtBCqR {
  background-color: transparent;
  height: 520px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .group-8-x0xTAu {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-title-copy-iNQDNV {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicecsreenservicefeature .table-guide-title-copy-2-iNQDNV {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-title-copy-3-iNQDNV {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .group-7-x0xTAu {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-yfxESg {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-yfxESg {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-yfxESg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicecsreenservicefeature .group-6-x0xTAu {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-vUtlYU {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-vUtlYU {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-vUtlYU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicecsreenservicefeature .group-5-x0xTAu {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-M2H2zB {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-M2H2zB {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-M2H2zB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicecsreenservicefeature .group-4-x0xTAu {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-gLyhx5 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-gLyhx5 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-gLyhx5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicecsreenservicefeature .group-3-x0xTAu {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-gY1gPW {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-gY1gPW {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-gY1gPW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicecsreenservicefeature .group-x0xTAu {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 461px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-Zeqs7A {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-Zeqs7A {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-Zeqs7A {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginservicecsreenservicefeature .web-sub_-title-DtBCqR {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginservicecsreenservicefeature .web-tab-service-plug-in_-service-screen-DtBCqR {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginservicecsreenservicefeature .x3rd-depth-xQc6Wa {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginservicecsreenservicefeature .tab-9zxQx8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginservicecsreenservicefeature .service-feature-IKQxxY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 94px;
}

.servicepluginservicecsreenservicefeature .feature-title-IKQxxY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.servicepluginservicecsreenservicefeature .no-information-IKQxxY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginservicecsreenservicefeature .lnb-service-plug-in-DtBCqR {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .rectangle-p38qb2 {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .lnb-p38qb2 {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .stacked-group-ATY6nv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-title-common-C2trxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-C2trxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-7Ke0Aj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-wyTinH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-EkN4Kn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-j3PyG0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-ExRKW0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-ZcEpks {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .group-C2trxt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .empty-0wS5R0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .line-copy-0wS5R0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginservicecsreenservicefeature .empty-A0xZzK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-title-reference-C2trxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-DzwjpC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-AgvbUL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-PbpZY8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_close-1v0Fxd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents1dpeth_open_selected-C2trxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-C2trxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-7Ke0Aj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-wyTinH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-EkN4Kn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-j3PyG0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-ExRKW0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-ZcEpks {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-DzwjpC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-AgvbUL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-PbpZY8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-copy-2-C2trxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-copy-C2trxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-contents2dpeth-1v0Fxd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .group-7Ke0Aj {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .empty-719hcj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .line-copy-719hcj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginservicecsreenservicefeature .empty-KFa6H7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .web-index-title-reference-7Ke0Aj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .line-ATY6nv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginservicecsreenservicefeature .home-net-ui-guideline-ATY6nv {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginservicecsreenservicefeature .webgnb-DtBCqR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginservicecsreenservicefeature .rectangle-eb5eM5 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicecsreenservicefeature .background-eb5eM5 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginservicecsreenservicefeature .index-eb5eM5 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginservicecsreenservicefeature .web-index-select-AhSiX6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginservicecsreenservicefeature .web-index-unselect-AhSiX6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginservicecsreenservicefeature .web-index-unelect_main-eb5eM5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginservicecsreenservicefeature .logo-0n5YYa {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
