/* screen - servicepluginhomescreenfeature */

.servicepluginhomescreenfeature {
  background-color: var(--white);
  height: 1411px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenfeature .group-6-iBfYRy {
  background-color: transparent;
  height: 718px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.servicepluginhomescreenfeature .group-12-iBfYRy {
  background-color: transparent;
  height: 869px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginhomescreenfeature .group-5-ZZ4JjJ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomescreenfeature .group-3-ZZ4JjJ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-IR9zgT {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-2-IR9zgT {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-IR9zgT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenfeature .group-4-ZZ4JjJ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-eR1scq {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-2-eR1scq {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-eR1scq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenfeature .group-7-ZZ4JjJ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-Ju4S5q {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-2-Ju4S5q {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-Ju4S5q {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenfeature .group-8-ZZ4JjJ {
  background-color: transparent;
  height: 199px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-c76usC {
  background-color: transparent;
  height: 199px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-2-c76usC {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-c76usC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenfeature .group-9-ZZ4JjJ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 532px;
  width: 680px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-XaqPN6 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-2-XaqPN6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-XaqPN6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenfeature .group-10-ZZ4JjJ {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 621px;
  width: 680px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-lwoekG {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-2-lwoekG {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-lwoekG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenfeature .group-11-ZZ4JjJ {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 730px;
  width: 680px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-Lbn6Zq {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-2-Lbn6Zq {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenfeature .table-guide-text2line_mint-copy-Lbn6Zq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomescreenfeature .web-sub_-title-iBfYRy {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginhomescreenfeature .web-title-area-iBfYRy {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenfeature .web-tab-service-plug-in_-home-screen-iBfYRy {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenfeature .x3rd-depth-zyMvqd {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenfeature .tab-xfWkcQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomescreenfeature .service-feature-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenfeature .basic-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginhomescreenfeature .banner-app-link-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenfeature .feature-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenfeature .interaction-flow-copy-4-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenfeature .notifications-_-feat-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenfeature .notifications-_-inte-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenfeature .help-_-guide-text-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreenfeature .help-guide-imU11H {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreenfeature .lnb-service-plug-in-iBfYRy {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenfeature .rectangle-HN7a7b {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenfeature .lnb-HN7a7b {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenfeature .stacked-group-fAUln0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-title-common-4eKb6v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-4eKb6v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-d6b19m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-av6kDx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-CX68XK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-G7HGfs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-R8XDbC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-56fmPg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .group-4eKb6v {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .empty-VxbxII {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreenfeature .line-copy-VxbxII {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreenfeature .empty-sbhhAO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-title-reference-4eKb6v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-kAyGIU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-hceIhj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-vvI7Zr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_close-mQZB2E {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents1dpeth_open_selected-4eKb6v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-4eKb6v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-d6b19m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-av6kDx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-CX68XK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-G7HGfs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-R8XDbC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-56fmPg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-kAyGIU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-hceIhj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-vvI7Zr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-copy-2-4eKb6v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-copy-4eKb6v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-contents2dpeth-mQZB2E {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .group-d6b19m {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .empty-Vndd47 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomescreenfeature .line-copy-Vndd47 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomescreenfeature .empty-9uFMAf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenfeature .web-index-title-reference-d6b19m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenfeature .line-fAUln0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomescreenfeature .home-net-ui-guideline-fAUln0 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginhomescreenfeature .webgnb-iBfYRy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenfeature .rectangle-ngammU {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenfeature .background-ngammU {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenfeature .index-ngammU {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginhomescreenfeature .web-index-select-wcPD6C {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomescreenfeature .web-index-unselect-wcPD6C {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomescreenfeature .web-index-unelect_main-ngammU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomescreenfeature .logo-xyL0Cc {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
